[2022-04-18 14:50] kdmccormick commented on #142
Closing this since we have an answer to the immediate question.

Short-term follow (for Nutmeg):
* https://github.com/openedx/build-test-release-wg/issues/150

Longer-term follow-ups (Olive+):
* https://github.com/openedx/build-test-release-wg/issues/151
* https://github.com/openedx/build-test-release-wg/issues/152

[2022-04-18 14:50] #142 closed

[2022-04-21 05:51] DeanJayMathew opened #153 "Test Plan for Nutmeg and Beyond"
The BTR WG was tasked with developing a **comprehensive** test plan to get Nutmeg ready for release. The test plan could be copied and used by anyone testing their own instances, and also as a basis for testing future Open edX® versions on the master branch. https://docs.google.com/spreadsheets/d/1A3LYVp9ivOLL1pj7eYeyel9zcxHM8BdQ_gVRpzMJqbU/edit#gid=1955774185

[2022-04-21 11:22] sarina opened #154 "Demo: add/remove labels by comment"

[2022-04-21 11:23] sarina commented on #154
label: affects:nutmeg

[2022-04-21 11:24] sarina commented on #154
label: affects:nutmeg

[2022-04-21 11:26] sarina commented on #154
label: affects:nutmeg

[2022-04-21 11:30] sarina commented on #154
label: help wanted

[2022-04-21 11:30] sarina commented on #154
label: bad label name

[2022-04-21 11:37] sarina commented on #154
remove label: help wanted

[2022-04-21 11:40] sarina commented on #154
remove label: label: help wanted

[2022-04-21 14:27] kdmccormick commented on #153
FYI @BbrSofiane, after [we talked in Slack](https://openedx.slack.com/archives/C01AGTSB1LL/p1650463530107539) about how it'd be good to capture all non-code BTR work in GitHub, Dean retroactively made this issue.

[2022-04-21 21:26] NeOneSoft commented on #11
Ok @clemente thank you so much for your response. @BbrSofiane do we consider to ask for help on opencraft to re-assign this issue from their said or do you think that we can ask for help from others in the community? Thank's again

[2022-04-21 21:33] NeOneSoft commented on #140
Hi@DeanJayMathew !! If I'm not wrong this instance is already working right? Do you think that we can close this issue or do we need something else?Thank you so much!!

[2022-04-21 21:54] NeOneSoft commented on #137
Hi @jfavellar90!! according to this [PR](https://github.com/overhangio/tutor/pull/623l) seems that Nutmeg compatibility with MySQL 5.7 and MySQL 8.0 was merged. Do you think that we need something else? Thank you so much

[2022-04-21 22:13] NeOneSoft commented on #78
Hello @BbrSofiane, do you consider that we need to document more details about this process?Thank you so much

[2022-04-22 01:33] DeanJayMathew commented on #140
Hi @NeOneSoft and @BbrSofiane you are 100% correctamundo! Please go ahead a close it for us, thank you.

[2022-04-22 01:45] NeOneSoft commented on #140
Perfect @DeanJayMathew thank you and @BbrSofiane !!! I'll proceed

[2022-04-22 01:45] #140 closed

[2022-04-23 08:51] ErdalDomi commented on #146
Hi @BbrSofiane, I was thinking to attempt this issue. The question is: what kind of context do we need to keep in mind to decide what string to show?

I was initially thinking to declare another constant array with the possible names instead of a hardcoded `edx`, however, it's not clear to me how the mechanism for switching would work. Is there another part of the code that gives information about

[2022-04-25 07:08] DeanJayMathew commented on #153
affects:nutmeg

[2022-04-25 07:19] DeanJayMathew commented on #153
label: priority:high

[2022-04-25 07:20] DeanJayMathew commented on #154
Hi @sarina

That looks awesome! I tried to add labels myself but it's not working. Am I missing something?

<img width="497" alt="Screen Shot 2022-04-25 at 08 19 22" src="https://user-images.githubusercontent.com/9986523/165039559-98602b4a-a46c-4361-a37d-361e8678e0cd.png">

[2022-04-25 10:08] BbrSofiane opened #155 "BTR Group Presentation (Open edX Conference)"
In the later part of Friday 29th April, all WG members join within a colloquium format and elaborate on the following list of prompts by means of a 10-minute presentation:

- What is the scope/charter of this WG? A brief introduction (where can we find you?)
- What are the group's accomplishments for the last year?
- What are the group's priorities for the next quarter, half-year, and year?
- What

[2022-04-25 10:15] BbrSofiane commented on #78
@NeOneSoft I think the document provides a good starting point. Going forward it can be improved based on feedback from people using it. I'm happy to close the issue unless there are additional comments,

[2022-04-25 10:27] BbrSofiane commented on #146
Hi, @ErdalDomi thanks for volunteering for this issue!

I've seen [this](https://github.com/openedx/frontend-app-authn/blob/1c599d8d04e8b31062c0065d911fe92749349733/src/forgot-password/messages.js#L66) implementation on the authentication MFE. That's an option, it could be worth asking someone in the Frontend working group.

[2022-04-25 10:34] BbrSofiane opened #156 "Profile MFE has hardcoded mentions of edX"
The visibility message of profile fields has hardcoded mentions of "edX".

[Visibility.messages.jsx ](https://github.com/openedx/frontend-app-profile/blob/master/src/profile/forms/elements/Visibility.messages.jsx)

![image](https://user-images.githubusercontent.com/13796098/165072567-7e98d681-2879-4686-bcb6-6e1e25b4ef7b.png)

- [x] Merge https://github.com/openedx/frontend-app-profile/pull/543
- [

[2022-04-25 10:46] sarina commented on #154
@DeanJayMathew it looks like the first one didn't work because you edited it (you have to get it right the first time, and it has to start with `label: `. The second one worked... kinda. It parsed it wrong, I don't know why.

<img width="500" alt="image" src="https://user-images.githubusercontent.com/1985317/165074546-6a4c3a05-2b4f-482e-86fa-978539bf71c1.png">

[2022-04-25 10:51] DeanJayMathew commented on #154
@sarina that makes total sense, thank you.

[2022-04-25 10:51] sarina commented on #154
@DeanJayMathew please make two separate comments. First one do:

`label: affects:nutmeg`

Second one do:

`remove label: rity:high`

[2022-04-25 10:52] DeanJayMathew commented on #153
label: affects:nutmeg

[2022-04-25 10:52] DeanJayMathew commented on #153
remove label: rity:high

[2022-04-25 10:55] DeanJayMathew commented on #154
@sarina done

[2022-04-25 11:25] sarina commented on #154
it works! 🎉

Go forth and label!

[2022-04-25 11:25] #154 closed

[2022-04-26 08:30] DeanJayMathew commented on #153
label: nutmeg testing

[2022-04-26 12:02] fayyazahmed66 opened #157 "TC_AUTHOR_7 > Studio > Help > Page not exist"
**Steps to reproduce:**

1. Go to https://studio.nutmeg.demo.overhang.io/home with staff credentials
2. Go to the help page

**Expected result:**
The Page should have valid content.
**Actual result:**
Page not exist error appears and redirected to https://edx.readthedocs.io/projects/open-edx-building-and-running-a-course/en/open-release-nutmeg.master/getting_started/CA_get_started_Studio.html

**I

[2022-04-26 12:05] fayyazahmed66 commented on #157
label: nutmeg testing

[2022-04-26 17:17] mariajgrimaldi commented on #156
Hi! I believe that issue is resolved with [this](https://github.com/openedx/frontend-app-profile/pull/543). Should we tag someone for the review?

[2022-04-26 17:42] mariajgrimaldi opened #158 "TC_AUTHOR_38 > Studio Outline > reindexing fails with Demo Course"
### Description

I tested reindexing a course in nutmeg demo, and I got conflicting results:

Reindexing a course works for a brand new course ([Demo Course Honor](https://studio.nutmeg.demo.overhang.io/course/course-v1:edunext+EDNX-Demo-honor-2022+2022): with just one section):
![reindex-demo-honor](https://user-images.githubusercontent.com/64440265/165359091-84619666-acaa-498e-b653-7b805984f6a8.

[2022-04-26 17:43] mariajgrimaldi commented on #158
"label: nutmeg testing"

[2022-04-26 17:45] mariajgrimaldi commented on #158
"label: nutmeg testing"

[2022-04-26 17:53] NeOneSoft commented on #78
@BbrSofiane thank you so much for you response!!. If you are agree and there's no additional comments you can go ahead. Thanks again!!

[2022-04-26 17:56] mariajgrimaldi commented on #158
how do I add labels? :sweat_smile:

[2022-04-27 03:32] DeanJayMathew commented on #158
Hey! Seems you used inverted commas. You should not use inverted commas.

See the test sheet README tab, Step 6.

On Wed, 27 Apr 2022, 00:56 Maria Grimaldi, ***@***.***> wrote:

[2022-04-27 03:38] DeanJayMathew commented on #158
label: nutmeg testing

[2022-04-27 07:21] DeanJayMathew commented on #153
label: type:bug

[2022-04-27 07:23] DeanJayMathew commented on #158
label: affects:nutmeg

[2022-04-27 07:23] DeanJayMathew commented on #158
label: type:bug

[2022-04-27 07:35] fayyazahmed66 opened #159 "TC_AUTHOR_45 > Studio > Unit > Some advance X blocks are giving error in studio"
**Steps to reproduce:**

1. Go to https://studio.nutmeg.demo.overhang.io/home with staff credentials
2. Go to any course and add these units      a) Custom JavaScript Display and Grading b)  Custom Python-Evaluated Input.    c) Problem with Adaptive Hint
3. Check errors

**Expected result:**
All x blocks should be added successfully
**Actual result:**
Getting errors on mentioned x blocks

**Image:

[2022-04-27 07:35] fayyazahmed66 commented on #159
"label: nutmeg testing"

[2022-04-27 07:43] BbrSofiane commented on #156
Yes, good spot! I can review it. We will also need to backport it to the nutmeg branch.

[2022-04-27 07:44] #78 closed

[2022-04-27 09:28] fayyazahmed66 opened #160 "TC_AUTHOR_148 > Studio > Unit > Discussion > Component is giving error where discussion is added"
**Steps to reproduce:**

1. Go to https://studio.nutmeg.demo.overhang.io/home with staff credentials
2. Go to any course
3. Click on add unit
4. add discussion unit
5. View live this unit

**Expected result:**
Content should be visible on the page.
**Actual result:**
Getting error for discussion

Image:
<img width="1679" alt="discussion" src="https://user-images.githubusercontent.com/55684124/1654

[2022-04-27 09:28] fayyazahmed66 commented on #160
label: nutmeg testing

[2022-04-27 09:57] fayyazahmed66 opened #161 "TC_AUTHOR_64 > Studio > Xblock > freetextresponse > Xblock is not appearing under advance xblock list"
**Steps to reproduce:**

1. Go to https://studio.nutmeg.demo.overhang.io/home with staff credentials
2. Go to any course
3. Click on add unit
4. Go to advance setting under settings dropdown and then add "freetextresponse" in the list and save it
5. Check freetextresponse xblock under advance xblocks list
**Expected result:**
Xblock should be available under advance xblock list
**Actual result:**

[2022-04-27 09:57] fayyazahmed66 commented on #161
label: nutmeg testing

[2022-04-27 10:37] fayyazahmed66 opened #162 "TC_AUTHOR_64 > Studio > Xblock > invideoquiz > Xblock is not appearing under advance xblock list"
**Steps to reproduce:**

1. Go to https://studio.nutmeg.demo.overhang.io/home with staff credentials
2. Go to any course
3. Click on add unit
4. Go to advance setting under settings dropdown and then add "invideoquiz" in the list and save it
5. Check invideoquiz xblock under advance xblocks list
Expected result:
Xblock should be available under advance xblock list
Actual result:
Xblock is not avai

[2022-04-27 10:38] fayyazahmed66 commented on #162
label: nutmeg testing

[2022-04-27 10:41] DeanJayMathew commented on #153
remove label: type:bug

[2022-04-27 10:42] DeanJayMathew commented on #153
remove label: affects:nutmeg

[2022-04-27 10:43] DeanJayMathew commented on #153
label: affects:nutmeg

[2022-04-27 10:44] DeanJayMathew commented on #159
label: nutmeg testing

[2022-04-27 10:44] DeanJayMathew commented on #159
label: affects:nutmeg

[2022-04-27 10:44] DeanJayMathew commented on #159
label: type:bug

[2022-04-27 10:54] DeanJayMathew opened #163 "TC_AUTHOR_37: STUDIO: CONTENT: OUTLINE: Learn more buttons"
**Steps to reproduce:**

Go to https://studio.nutmeg.demo.overhang.io/home with staff credentials
Go to any course
Go to course outline
Click the three (3) learn more buttons on the right hand side of the page

**Expected result:**
Buttons should link to the correct page in documentation

**Actual result:**
Error maze shows

<img width="995" alt="Screen Shot 2022-04-27 at 11 49 48" src="https://us

[2022-04-27 10:54] DeanJayMathew commented on #163
label: affects:nutmeg

[2022-04-27 10:54] DeanJayMathew commented on #163
label: type:bug

[2022-04-27 10:55] DeanJayMathew commented on #163
label: nutmeg testing

[2022-04-27 11:58] DeanJayMathew opened #164 "TC_AUTHOR_133: STUDIO: SETTINGS: ADVANCED: Course visibility in catalog"
**Steps to reproduce:**

Go to https://studio.nutmeg.demo.overhang.io/home with staff credentials
Go to Advanced Settings: Course Visibility in Catalog
Set to "none":

<img width="928" alt="Screen Shot 2022-04-27 at 12 57 08" src="https://user-images.githubusercontent.com/9986523/165513236-3fa90484-1408-49f7-ba8e-7a4de21e682f.png">

**Expected result:**
Go to **https://nutmeg.demo.overhang.io** an

[2022-04-27 11:58] DeanJayMathew commented on #164
label: testing nutmeg

[2022-04-27 12:03] fayyazahmed66 opened #165 "TC_AUTHOR_110 > Studio > Settings > schedule > Cant find set certificate available date and time field"
**Steps to reproduce:**

1. Go to https://studio.nutmeg.demo.overhang.io/home with staff credentials
2. Go to any course
3. Click settings menu and select schedule
4. Check certificate time field

**Expected result:**
There should be set certificate available date and time field
**Actual result:**
No certificate available date field found

Image:
<img width="1671" alt="Screenshot at Apr 27 16-57-2

[2022-04-27 12:03] fayyazahmed66 commented on #165
label: nutmeg testing

[2022-04-27 13:27] sambapete commented on #161
This is not one the system's default XBlock. It might need to be installed on the system.

[2022-04-27 13:42] sambapete commented on #160
The forum plugin has not been updated to Nutmeg yet.

[2022-04-28 00:07] ghassanmas opened #166 "TC_AUTHOR_88 Upload files to course"
I wasn't able to test files uploads in studio for any course, this due a bug where certian statics files wan't served i.e. 404 return error.

Please Note: since this test fails it also going to block the testing for TC_AUTHOR_88 to TC_AUTHOR_102. Sice it's even not possible to try to upload any file. it's just a blank page.

This issue is not new was repoted in tutor forums before, please check th

[2022-04-28 04:44] ghassanmas commented on #166
A PR that might solve is open here https://github.com/openedx/edx-platform/pull/30309

[2022-04-28 22:46] ghassanmas commented on #166
Also possible root fix is proposed at openedx/studio-frontend#341

[2022-04-30 11:06] ErdalDomi commented on #146
@BbrSofiane Thanks for the pointer. How do I get in touch with someone in the Frontend working group? The solution you suggested may work, however I'd like to double check

[2022-05-02 14:49] sambapete commented on #165
As far as I know, the ecommerce MFE is not being enabled right now as of 2022-05-02. Therefore no courses currently have a mode that offers certificates. Maybe we need to be able to turn on certificates for a course first before seeing the dates?

[2022-05-02 21:51] mariajgrimaldi opened #167 "LMS: COURSE HOME: PROGRESS: View and download certificate"
### Description
Downloading a certificate is not working
https://user-images.githubusercontent.com/64440265/166333681-cc35cddb-77d1-4b7e-ab64-d47f4745ffb9.mp4

### How to replicate
1. Create a course for certificate generation. You could use [this](https://apps.nutmeg.demo.overhang.io/learning/course/course-v1:edunext+course-cert-1+2022/home) one.
[course_codejail_example.tar.gz](https://github.co

[2022-05-02 21:55] mariajgrimaldi commented on #167
label: affects:nutmeg

[2022-05-02 21:55] mariajgrimaldi commented on #167
label: type:bug

[2022-05-02 21:55] mariajgrimaldi commented on #167
label: nutmeg testing

[2022-05-03 09:15] BbrSofiane commented on #83
https://discuss.overhang.io/t/tep-rethinking-the-tutor-maintainers-program/2724

[2022-05-03 14:15] NeOneSoft opened #168 "TC_LEARNER_23:LMS:PROFILE:View my records button"
### Description
View my records button is not visible in /profile as usually
### How to replicate
1.- Sign in to test nutmeg instance as admin or staff(https://nutmeg.demo.overhang.io/)
2.- Click profile on right top corner user menu:
![Screenshot from 2022-05-03 09-11-51](https://user-images.githubusercontent.com/53199845/166469840-399f4191-c44c-4ff4-ab7b-85cd4b67df71.png)
### Expected result
Som

[2022-05-03 14:16] NeOneSoft commented on #168
label: affects:nutmeg

[2022-05-03 14:17] NeOneSoft commented on #168
label: nutmeg testing

[2022-05-06 20:34] regisb commented on #167
This is almost certainly because persistent grades are not enabled by default. This will change in nutmeg. Assigning this to myself to implement the change.

[2022-05-06 21:26] mariajgrimaldi commented on #167
I believe I misunderstood this issue and tried to force the "Download Certificate" page, and that happens only when disabling web-html certificates according to this [line](https://github.com/openedx/frontend-app-learning/blob/1e41547b3e456acd6a7b6d37f8360b6bdb70e0f6/src/courseware/course/course-exit/CourseCelebration.jsx#L109) in the learning MFE. The issue is that PDF certificates are long gone

[2022-05-08 10:46] fayyazahmed66 opened #169 "TC_AUTHOR_72 > Studio > Xblock > pdf > Xblock is not appearing under advance xblock list"
**Steps to reproduce:**

1. Go to https://studio.nutmeg.demo.overhang.io/home with staff credentials
2. Go to any course
3. Click on add unit
4. Go to advance setting under settings dropdown and then add "pdf" in the list and save it
5. Check pdf xblock under advance xblocks list
**Expected result:**
Xblock should be available under advance xblock list
**Actual result:**
Xblock is not available un

[2022-05-08 10:46] fayyazahmed66 commented on #169
label: nutmeg testing

[2022-05-08 11:50] fayyazahmed66 opened #170 "TC_AUTHOR_82 > Studio > Updates > Add handouts > Added Handouts are not showing on course detail"
**Steps to reproduce:**

1. Go to https://studio.nutmeg.demo.overhang.io/home with staff credentials
2. Go to any course
3. Update menu button
4. Click on edit handout button
5. Save handouts
6. check on home page of course in lms
**Expected result:**
handouts should be showing
**Actual result:**
Handouts are not showing.
SS:
<img width="1679" alt="Screenshot at May 08 16-48-13" src="https://user-

[2022-05-08 11:50] fayyazahmed66 commented on #170
label: nutmeg testing

[2022-05-08 12:04] fayyazahmed66 opened #171 "TC_AUTHOR_78 > Studio > Xblock > ubcpi > Xblock is not appearing under advance xblock list"
**Steps to reproduce:**

1. Go to https://studio.nutmeg.demo.overhang.io/home with staff credentials
2. Go to any course
3. Click on add unit
4. Go to advance setting under settings dropdown and then add "ubcpi" in the list and save it
5. Check ubcpi xblock under advance xblocks list
**Expected result:**
Xblock should be available under advance xblock list
**Actual result:**
Xblock is not availabl

[2022-05-08 12:04] fayyazahmed66 commented on #171
label: nutmeg testing

[2022-05-08 12:08] fayyazahmed66 opened #172 "TC_AUTHOR_76 > Studio > Xblock > edx_saga > Xblock is not appearing under advance xblock list"
**Steps to reproduce:**

1. Go to https://studio.nutmeg.demo.overhang.io/home with staff credentials
2. Go to any course
3. Click on add unit
4. Go to advance setting under settings dropdown and then add "edx_saga" in the list and save it
5. Check edx_saga xblock under advance xblocks list
**Expected result:**
Xblock should be available under advance xblock list
**Actual result:**
Xblock is not av

[2022-05-08 12:08] fayyazahmed66 commented on #172
label: nutmeg testing

[2022-05-09 10:46] fayyazahmed66 opened #173 "TC_LEARNER_32 > LMS > Tabs > wiki page is not visible"
**Steps to reproduce:**

1. Go to https://apps.nutmeg.demo.overhang.io/learning/course/ with valid user credentials
2. Check course tabs
**Expected result:**
All mentioned tabs should be visible.
**Actual result:**
Wiki tab is not present

[2022-05-09 10:46] fayyazahmed66 commented on #173
label: nutmeg testing

[2022-05-09 11:10] NeOneSoft opened #174 "TC_LEARNER_25:LMS:COURSEABOUTPAGE:Share course by Facebook"
### Description
When you try to share the course from about page the link shows the next error:
![Screenshot from 2022-05-09 06-04-42](https://user-images.githubusercontent.com/53199845/167397545-2f361829-fff7-423d-9358-03e79a52b774.png)

### How to replicate

1.- Select one course from https://nutmeg.demo.overhang.io/ and try to share it using the facebook icon located in the about page
![Screens

[2022-05-09 15:28] pdpinch commented on #172
According to @regisb this is due to an issue with the xBlock itself. Since MIT Open Learning is the maintainer of this xBlock. we'll take a look at this to see if we can find the problem.

[2022-05-09 15:30] pdpinch commented on #171
although ubcpi is supported on edx.org, for some reason it is not part of the standard open edX release.

@regisb has offered to turn it on in the test environment, so we can continue with testing.

[2022-05-10 10:58] regisb opened #175 "The student onboarding screen includes a hardcoded mention to edX in the learning MFE"
When signing up as a new user in the LMS, we are presented with an onboarding screen which includes a hardcoded mention of "edX". See the screenshot below.

![Screenshot from 2022-05-10 12-16-09](https://user-images.githubusercontent.com/44319/167613111-d6dbb0ab-56a8-4bd5-90b1-cdb376e0ee37.png)

FYI this issue was detected during a live stream: https://www.youtube.com/watch?v=28_lt90UREo (at about

[2022-05-10 16:59] pdpinch commented on #172
@fayyazahmed66 did you add "edx_sga" to the advanced settings in your test course? This xBlock isn't available in a course until you do that (maybe this needs to be part of the test plan).

![image](https://user-images.githubusercontent.com/430126/167682462-bde4fef8-8062-4dc0-8f60-040fe5dccb16.png)

After you do that, SGA should be available in the list of "Advanced" xBlocks (not to be confused wi

[2022-05-10 17:03] DeanJayMathew commented on #172
Hi @Peter Pinch ***@***.***> I agree the test plan should include more
detailed instructions. I'll add more detailed instructions.

On Tue, 10 May 2022, 23:59 Peter Pinch, ***@***.***> wrote:

[2022-05-11 06:12] fayyazahmed66 commented on #172
@pdpinch  yeah, I did the same. I had added every X-block that I tested in advance setting on the course. Unfortunately, some X blocks are not appearing at my end. I have created tickets for those.

[2022-05-11 06:37] DeanJayMathew commented on #172
@fayyazahmed66 @pdpinch

The XBlocks that Fayyaz says are not existing, probably means they are not packaged with a a standard installation. In other words they need additional installation/configuration in order to work. For example, they might need to be configured to work with a specific AWS S3 bucket.

I am going to take action by making it clear in the test plan which XBlocks come **pre-packa

[2022-05-11 06:42] fayyazahmed66 opened #176 "TC_INSTRUCTOR_2 > LMS > Tabs > Email and analytics tabs are missing according to test case"
**Steps to reproduce:**

1. Go to https://apps.nutmeg.demo.overhang.io/learning/course/ with valid user credentials
2. Go to instructor tab
**Expected result:**
All mentioned tabs should be visible.
**Actual result:**
email and analytics tabs are not present

[2022-05-11 06:42] fayyazahmed66 commented on #176
label: nutmeg testing

[2022-05-11 06:55] DeanJayMathew commented on #176
Hi @fayyazahmed66 thanks for doing this test case.

Please correct the title to TC_INSTRUCTOR_2. Now it says TC_LEARNER_2 which is wrong.

Thanks again.

[2022-05-11 06:58] fayyazahmed66 commented on #176
@DeanJayMathew  Oh, I am sorry. Title updated. Thanks for pointing out.

[2022-05-11 06:59] DeanJayMathew commented on #176
By the way, I'm just thinking that those two tabs only appear after Instructor Bulk Email Feature, and Insights are installed/configured properly. They are not installed/configured in the Nutmeg demo platform for sure.

Let's see what the BTR Working Group members have to say about this.

I should probably take action to update the test case to mention this, and create a unique test case for each

[2022-05-11 13:05] pdpinch commented on #172
@fayyazahmed66 I think this issue can be closed. I was able to add an SGA block to my test course after taking the steps above, and it seems functional:

https://studio.nutmeg.demo.overhang.io/container/block-v1:MITx+Test101+2022_Spring+type@vertical+block@74922f51746940b89f3baca88c6cfd20

https://apps.nutmeg.demo.overhang.io/learning/course/course-v1:MITx+Test101+2022_Spring/block-v1:MITx+Test101

[2022-05-11 20:09] mariajgrimaldi opened #177 "Certificate doesn't show signature images with default template"
###  Set up certificate and add three signatories with their details | TC_AUTHOR_141

When rendering a certificate with the platform default template, the signatories don't appear, this also happens when previewing the certificate from Studio -both with Honor modes-:
![image](https://user-images.githubusercontent.com/64440265/167931845-a47a3a5c-6d4b-4839-8e1d-b032cba89f52.png)

This issue was firs

[2022-05-11 20:14] mariajgrimaldi commented on #177
My mistake (from the docs):
Honor code certificates use the organization logo and signatory information, but do not include signature images, which are used only for verified certificates.

moral of the story: read the documentation.

[2022-05-11 20:14] #177 closed

[2022-05-12 01:44] DeanJayMathew commented on #177
Great stuff!

Thanks for the insights!

Dean Jay Mathew
Director, ABC Online Courses Limited

Trusted Open edX® Service Providers since 2015
Schedule a meeting with me: https://calendly.com/abconlinecourses
View Our Website <http://www.abconlinecourses.com>
WhatsApp: +447379424911 (UK)
Registered Address: Chestnut House
***@***.***,-2.1459131,15z/data=!3m1!4b1!4m8!1m2!2m1!1schestnut+house+53d+bean

[2022-05-12 06:54] regisb commented on #171
I just noticed that the latest release of the ubcpi-xblock on pypi dates back from October 2020: https://pypi.org/project/ubcpi-xblock/
Is this really what we are supposed to install? How does MIT install this xblock?

[2022-05-12 08:02] regisb commented on #167
Hi @mariajgrimaldi! So you are saying that pdf certificates are deprecated but the advanced setting to generate pdf certificates is still there? ("Disable Certificate Web/HTML View Enabled in the deprecated advanced settings") It seems to me that this setting should be removed.

[2022-05-12 08:03] regisb commented on #160
Can you try again now that the forum plugin has been enabled?

[2022-05-12 10:33] ghassanmas commented on #168
A PR with possible fix  overhangio/tutor-mfe#51 (need to be cherry-picked to nutmeg)

[2022-05-12 10:44] sambapete commented on #171
At EDUlib we install it from the source
https://github.com/ubc/ubcpi

[2022-05-12 13:57] #167 closed

[2022-05-13 14:23] mariajgrimaldi commented on #156
Hi! There's more reference to edX but in the learning MFE, [this PR](https://github.com/openedx/frontend-app-learning/pull/945) describes it. Should we solve that also?

[2022-05-13 20:23] mariajgrimaldi commented on #175
Hi! I believe [this issue](https://github.com/openedx/frontend-app-learning/pull/945) fixes that! Who should we mention?

[2022-05-13 20:45] mariajgrimaldi commented on #159
Hi, I think some of those issues have something to do with the tutor codejail plugin, which doesn't have support for Nutmeg yet. We (eduNEXT) are working on it!

[2022-05-13 21:06] mariajgrimaldi commented on #165
Hi! After researching a bit, I found [this](https://github.com/edunext/edx-platform/blob/8a2d6835208303deb24f95ad2d8729bf5af8bf29/lms/djangoapps/courseware/date_summary.py#L480), and with a course with:
- Certificate modes
- Active web certs
- Instructor paced
- Auto certificate generation enabled
It worked:
![image](https://user-images.githubusercontent.com/64440265/168389557-868b82f6-02ec-4616-9

[2022-05-14 08:12] ghassanmas commented on #176
I was able to make the email tab inside the instruction tab to appear following these insturctions

Note: If you enabled "Require course email auth" then you would enable it per courses, if not then the email will be enabled for all courses indifferently.

@DeanJayMathew I would suggest that for each test case we have an optional value, **required featuers/flags** which would list or link to instu

[2022-05-14 08:16] DeanJayMathew commented on #165
@***@***.*** ***@***.***>

You're becoming a certificates master :)

On Sat, 14 May 2022, 04:06 Maria Grimaldi, ***@***.***> wrote:

[2022-05-14 08:20] DeanJayMathew commented on #176
Hi @Ghassan Maslamani ***@***.***>

That would be great to have more details.

I will arrange a space, then coordinate with you and the other Test Team
members to fill it up.

Great job teammate. :)

On Sat, 14 May 2022, 15:12 Ghassan Maslamani, ***@***.***>
wrote:

[2022-05-14 10:06] ghassanmas commented on #174
Possible PR to fix https://github.com/openedx/edx-platform/pull/30389

[2022-05-14 10:08] ghassanmas commented on #166
Since this https://github.com/openedx/studio-frontend/pull/341 is merged and also tutor has cherry picked this https://github.com/openedx/edx-platform/pull/30309 . I think its safe to close this

[2022-05-14 10:08] #166 closed

[2022-05-14 10:11] ghassanmas commented on #160
I tested again and this should be fixed now. @fayyazahmed66 would you want to test it yourself again before closing it

[2022-05-14 11:58] #155 closed

[2022-05-15 12:16] ghassanmas commented on #164
I was trying to debug this, and I think simliar issue was raised in tutor forum before[^1]. However in the forum thread, it was resolved by disabeing the discovery service, where in nutmeg discovery is enabled.

However I wasn't sure if the "Course visibility in catalog"  affects **discovery service**? I couldn't find any documentation about that explicitly. @regisb do you have any though on this?

[2022-05-15 12:20] ghassanmas commented on #164
Also to confirm what @DeanJayMathew have repoted:

Course is still visible on https://nutmeg.demo.overhang.io/courses <-- this is the bug
The first case it worked becasuse the result wasn't retrived by discovery/search service while second failed because it gets from discovery service

[2022-05-16 03:32] DeanJayMathew commented on #164
@ghassanmas

Thank you for debugging this, well noted.

The Discovery service is an important service we use in almost all our separate instances. So for me it's a high priority. I will speak to my colleagues for their input too since they are experienced in this discovery service.

Let's aim to resolve this ticket this week.

[2022-05-16 03:33] DeanJayMathew commented on #168
Brilliant machos! Well done! Great effort.

[2022-05-16 09:55] BbrSofiane commented on #156
Yes, can you open a separate issue for it? We will need to backport that PR to the nutmeg branch

[2022-05-16 11:13] #172 closed

[2022-05-16 12:28] regisb commented on #164
@DeanJayMathew I'm not sure if this question can be resolved by next week, or even whether it's an actual issue at all. Let me refer to my answer to that forum topic : https://discuss.overhang.io/t/catalog-visibility-in-tutor-deployed-open-edx/214/6?u=regis

In other words, the "course visibility in catalog" does NOT refer to the listing in the /courses page. It's very weird, but that's the way it

[2022-05-16 12:33] ghassanmas commented on #163
This is beacuse nutmeg release isn't avaiable at https://edx.readthedocs.io/ , for example if you would replace nutmeg with maple in the url, it will okay.
So I guess we should know weather edx.readthedocs.io/ will have a release for nutmeg at readthedocs for nutmeg, like is it a time issue or this will no loger be the case given the changes of the documentation.

[2022-05-16 12:33] regisb commented on #172
I think that the error might stem from the fact that the actual xblock name is "edx_sga" and not "edx_saga".

[2022-05-16 12:35] mariajgrimaldi commented on #156
There's already one: https://github.com/openedx/build-test-release-wg/issues/175
I mentioned the PR there also. Thanks!

[2022-05-16 12:36] #163 closed

[2022-05-16 12:56] regisb commented on #176
We may have worked with Open edX too long to notice that there really is a usability issue here... It's amazing that we have to follow such a long set of instructions to enable a simple feature that should really be only a checkbox.

The same comment also applies to #164 (course visibility in catalog setting), which is a very obscure setting.

Maybe we should coordinate with the newly-created prod

[2022-05-16 13:48] regisb commented on #168
From what I can see, the records button is not enabled, although the fix was deployed on nutmeg.demo.overhang.io. @ghassanmas are you quite sure that your PR is actually fixing this issue?

[2022-05-16 14:10] ghassanmas commented on #168
@regisb Yes you are right, it needs to have `LEARNER_RECORD_MFE_BASE_URL` and ifs its not defined it will try to get `CREDENTIALS_BASE_URL` which is empty by deafult in tutor.
So to fix tutor-mfe should by have a default value for `LEARNER_RECORD_MFE_BASE_URL` or `CREDENTIALS_BASE_URL`.
I can fix this with another PR but not sure what should be we use here, should this deafult to LMS_BASE? or is t

[2022-05-16 14:59] regisb commented on #171
XBlock was installed to the demo platform. See for instance: https://studio.nutmeg.demo.overhang.io/container/block-v1:edX+DemoX+Demo_Course+type@vertical+block@0a60a14e26944f5488321104e5f18b0f?action=new
See PR: https://github.com/overhangio/nutmeg-demo/pull/11

[2022-05-16 15:07] DeanJayMathew commented on #171
I tried to follow that link (
***@***.******@***.***?action=new)
but the Nutmeg demo site appears to be down now:

https://nutmeg.demo.overhang.io/
https://studio.nutmeg.demo.overhang.io/

Dean Jay Mathew
Director, ABC Online Courses Limited

Trusted Open edX® Service Providers since 2015
Schedule a meeting with me: https://calendly.com/abconlinecourses
View Our Website <http://www.abconlinecourse

[2022-05-16 15:27] regisb commented on #171
Yes, it was down while I was installing the ecommerce plugin. (See [PR](https://github.com/overhangio/nutmeg-demo/pull/12)). It's now back up.

[2022-05-17 07:54] ghassanmas commented on #168
So after doing some investgation here is what I found:

There are two scinarios for the button:
 - It would redirect to the learner-record MFE, if `EARNER_RECORD_MFE_BASE_URL`
   - This expects the [frontend-app-learner-record](https://github.com/edx/frontend-app-learner-record), which to my knowledge isn't a standard MFEs, nor is it a default/necessary MFE that comes with tutor-mfe
- It would red

[2022-05-17 10:17] regisb commented on #114
I investigated this issue during today's [livestream](https://youtu.be/m3t1U_y6F64) and I'm happy to report that I have a fix: https://github.com/overhangio/tutor/pull/667

[2022-05-17 22:16] mariajgrimaldi commented on #158
Thanks @regisb :1st_place_medal:

The issue is with transcripts for each and every video in the course :thinking::
![transcript-not-found](https://user-images.githubusercontent.com/64440265/168919211-39d6689a-f998-4aac-9032-c50e5bbb9b15.png)

I fixed each one of them removing the component and adding it again with the video URL. Then, reindexing the course seemed to work. I also exported the cours

[2022-05-18 11:24] BbrSofiane commented on #175
Approved and merged.

[2022-05-18 11:25] BbrSofiane commented on #147
See =openedx/frontend-app-learning#945

[2022-05-18 11:26] BbrSofiane commented on #146
@ErdalDomi Have you managed to make any progress?

Here is another PR that fixes a similar issue: openedx/frontend-app-learning#945

[2022-05-18 12:53] BbrSofiane commented on #175
Can someone backport it to nutmeg?

[2022-05-18 14:44] mariajgrimaldi commented on #175
@BbrSofiane we're working on it!

[2022-05-18 14:52] mariajgrimaldi commented on #175
Here's the backport: https://github.com/openedx/frontend-app-learning/pull/947

[2022-05-18 14:52] BbrSofiane commented on #175
I've merged it

[2022-05-19 06:44] regisb commented on #158
Yes, I'm pretty sure that the demo course is kinda broken. I'm getting warnings related to transcripts every time I import it. I believe that the root cause is that transcripts are actually media files which are not exported with the course -- which is a problem in its own right, but an entirely different one.

[2022-05-19 07:55] #114 closed

[2022-05-19 14:53] mariajgrimaldi commented on #158
I'm going to close this issue since reindexing course failed just with this course -and it worked after we fixed it-.

Thanks for the help!

[2022-05-19 14:53] #158 closed

[2022-05-19 15:40] cmltaWt0 opened #178 "Error importing BAR_TYPES with new pip 22.1 release"
Description
------------
pip-tools fails with latest pip==22.1 version.
The failure details are in the issue https://github.com/jazzband/pip-tools/issues/1617

Proposed fix
-------------
It can be fixed by pining the pip version <22.1.
But also it looks like the issue can be fixed by upgrading pip-tools to the [latest](https://pypi.org/project/pip-tools/6.6.1/) version.
According to the [issue](ht

[2022-05-19 15:42] cmltaWt0 commented on #178
PRs:
- https://github.com/openedx/enterprise-catalog/pull/453
- https://github.com/openedx/enterprise-catalog/pull/454
- https://github.com/openedx/license-manager/pull/427
- https://github.com/openedx/license-manager/pull/428

P.S.
I didn't get the reason of Action fail for enterprise Nutmeg though:
[code]

[2022-05-20 14:34] kdmccormick opened #179 "Build simple test course & auto-import into test instance"
- [ ] Create repo: https://github.com/openedx/openedx-test-course
- [ ] Add initial course content incl. one library
- [ ] Import course and library in CI on every PR
- [ ] Import library and course as part of Nutmeg Demo provisioning https://github.com/overhangio/nutmeg-demo

[2022-05-20 18:04] kdmccormick commented on #179
In reivew now: https://github.com/overhangio/nutmeg-demo/pull/14

[2022-05-23 12:27] BbrSofiane opened #180 "Update README"
- [x] Fix links display
- [x] Remove native installation CI indicator
- [x] Update release name to nutmeg
- [x] Add link to Working Groups Calendar
- [ ] Add link to test plan
- [x] Update roles

[2022-05-23 12:29] #144 closed

[2022-05-23 12:29] #141 closed

[2022-05-23 12:29] #74 closed

[2022-05-23 12:30] #67 closed

[2022-05-23 12:33] #100 closed

[2022-05-23 12:35] #83 closed

[2022-05-23 12:44] BbrSofiane commented on #175
Can someone confirm that the issue is fixed on the demo instance?

[2022-05-23 12:47] mariajgrimaldi commented on #175
I'll do it! @BbrSofiane

[2022-05-23 12:48] BbrSofiane commented on #159
Hi @mariajgrimaldi, is there someone we can assign this to? I guess the task would be to:
1. report here when the plugin is ready so it can be installed on the demo instance and then
2. Test that the issue is fixed

[2022-05-23 12:53] BbrSofiane commented on #165
Can I confirm that we can close this issue? @mariajgrimaldi

[2022-05-23 12:54] regisb commented on #175
We almost certainly have to re-build the MFE image on the server to pick up the latest changes. I'm doing it right now.

[2022-05-23 12:55] BbrSofiane commented on #150
@kdmccormick Is someone assigned to tag the MFE for Nutmeg?

[2022-05-23 13:07] kdmccormick commented on #150
@BbrSofiane No, nobody is currently.

[2022-05-23 13:22] kdmccormick commented on #152
Since this is issue is a longer-term one and will require some discovery, I think it'd be fine to table it to post-Nutmeg.

[2022-05-23 14:10] dcoa commented on #156
Hi @BbrSofiane this is the backport [PR](https://github.com/openedx/frontend-app-profile/pull/562)

[2022-05-23 15:07] regisb commented on #149
This is now resolved: https://github.com/openedx/openedx-i18n/compare/master...open-release/nutmeg.master

[2022-05-23 15:15] BbrSofiane commented on #159
PR: eduNEXT/tutor-contrib-codejail#18

[2022-05-23 15:16] arbrandes commented on #152
eduNext is working on this, as outlined in [this exporation document](https://docs.google.com/document/d/1-FHIQmyeQZu3311x8eYUNMru4JX7Yb3UlqjmJxvM8do/edit).  (In particular, Epic 1.)

[2022-05-23 16:03] pdpinch opened #181 "Tag Course Authoring MFE for nutmeg"
The course authoring MFE was released on edx.org before nutmeg was cut.

We can't make it a supported part of the nutmeg release, but we'd like to include it as an experimental feature. To do this, we need to:

- [ ] add a yaml tag in the repo https://github.com/openedx/frontend-app-course-authoring
- [ ] add a `nutmeg.master` branch in the repo https://github.com/openedx/frontend-app-course-autho

[2022-05-24 07:11] BbrSofiane commented on #156
Thank you @dcoa!

[2022-05-24 07:11] #156 closed

[2022-05-24 08:41] mtyaka commented on #173
I don't think this is a bug. It looks like the wiki is disabled by default.

You can enable it from the Studio on the "Content -> Pages" page by clicking the show/hide icon.

[2022-05-24 10:57] pdpinch commented on #173
“Pages and resources” is a feature of the course authoring MFE.

As far as I know, the wiki hasn’t been deprecated in any way, so this must be some kind of regression.

[2022-05-24 12:07] awais786 commented on #157
Invalid URL = https://edx.readthedocs.io/projects/open-edx-building-and-running-a-course/en/open-release-nutmeg.master/getting_started/CA_get_started_Studio.html

Valid URL = https://edx.readthedocs.io/projects/open-edx-building-and-running-a-course/en/latest/getting_started/CA_get_started_Studio.html

Problem is `open-release-nutmeg.master` branch name.

[2022-05-24 12:52] mariajgrimaldi commented on #175
It's working now!
![image](https://user-images.githubusercontent.com/64440265/170039155-d726fb97-13bc-44ad-8eef-d7eff4813abd.png)
We can close this :smile:

[2022-05-24 13:01] mariajgrimaldi commented on #165
Yes! I believe so @BbrSofiane

[2022-05-24 14:38] #175 closed

[2022-05-25 11:05] regisb commented on #173
That's great @xitij2000, thanks a lot. How do you think we should address this? Should we restore the static course tabs in the page and resources view?

[2022-05-25 12:48] pdpinch commented on #173
@xitij2000 this change should have been mentioned in the [Open edX Release Planning page for Nutmeg](https://openedx.atlassian.net/wiki/spaces/COMM/pages/3205201949/Nutmeg). However we work this out, I'll need to add some information to the [release notes PR](https://github.com/openedx/edx-documentation/pull/2056).

[2022-05-25 14:08] #165 closed

[2022-05-25 16:46] kdmccormick commented on #179
This is done. Course is here: https://apps.nutmeg.demo.overhang.io/learning/course/course-v1:TestX+Course+1/home (requires login `admin@overhang.io / admin` or `student@overhang.io / student`)

[2022-05-25 23:52] mariajgrimaldi commented on #170
I couldn't either. Do you by chance, have the course zip file so we can test it?

[2022-05-26 05:50] DeanJayMathew commented on #173
@fayyazahmed66 @mtyaka  @regisb @pdpinch @xitij2000

I am trying to access the **Pages and Resources** tab in Studio and I'm getting an error.

Steps to reproduce:

1. Click Content > Pages and Resources:
<img width="715" alt="Screen Shot 2022-05-26 at 06 43 41" src="https://user-images.githubusercontent.com/9986523/170424922-d0f73a64-98d6-4dd7-8b52-2952bba58017.png">

2. You will see this error P

[2022-05-26 08:52] Peters-Lab commented on #148
Hi @regisb  and @BbrSofiane,

I would like to contribute to Open edX. You can assign this issue to me.

I have looked at the template and I think I understand the issue. I also looked at the previous fix where the hard coded _edx-logo_ was replaced by <img src="_logo_url"_ .

The strategy would be to remove the hard coded links to the sailthru hosted images in the _img_src_.  Replace for example t

[2022-05-26 09:59] BbrSofiane commented on #148
Hi @Peters-Lab, thanks for volunteering to take this on!

Once you've implemented your fix, you'll need to create two PRs:
- [ ] A PR against the master branch of edx-platform
- [ ] A PR against the open-release/nutmeg.master branch

[2022-05-26 11:22] ziafazal opened #182 "TC_INSTRUCTOR_6 > LMS: INSTRUCTOR: MEMBERSHIP > Pages and Resources page throws Page not found error"
While testing INSTRUCTOR -> MEMBERSHIP -> Group Community TA role we need to setup [divided discussion](https://edx.readthedocs.io/projects/open-edx-building-and-running-a-course/en/latest/manage_discussions/set_up_divided_discussions.html#setting-up-divided-discussions) and that needs to be done via Studio -> Pages and Resources which throws page not found error
**Steps to reproduce:**

1. Got st

[2022-05-26 11:22] ziafazal commented on #182
label: nutmeg testing

[2022-05-26 12:07] Peters-Lab commented on #148
@BbrSofiane. I sure will. Thanks

[2022-05-26 12:10] xitij2000 commented on #173
@DeanJayMathew I think you might need to configure the course authoring MFE for that link to work. So it does seem like the course authoring MFE is no longer optional.

[2022-05-26 12:23] xitij2000 commented on #173
It might be worth looking into any other functionality that might have moved to the course authoring MFE. I worked on that MFE a lot, and AFAIK other than the wiki nothing should be missing from the legacy UI, so reverting that change might address this till the point that the course authoring MFE is no longer optional.

[2022-05-26 18:31] briangrossman commented on #171
Yup. It's appearing now.

I tested on [Open edX Test Course](https://studio.nutmeg.demo.overhang.io/course/course-v1:TestX+Course+1)

Steps:

![Screen Shot 2022-05-26 at 2 24 03 PM](https://user-images.githubusercontent.com/21342568/170552922-cd24e0b6-cd3d-4060-94c4-3794866bf079.png)

**Before**
![Screen Shot 2022-05-26 at 2 23 46 PM](https://user-images.githubusercontent.com/21342568/170553085-b0

[2022-05-26 18:41] briangrossman commented on #171
[Example](https://preview.nutmeg.demo.overhang.io/courses/course-v1:TestX+Course+1/courseware/5c86b8c7166045878c541c4ea0b853a3/be6a5c1c790d4ef087c2acc374598073/2?activate_block_id=block-v1%3ATestX%2BCourse%2B1%2Btype%40vertical%2Bblock%40df09c5ec5aea430c91b30b422e69d637)

[2022-05-27 08:22] BbrSofiane commented on #181
Would additional permissions be required to create the nutmeg branch? And does a core commiter have those permissions?

[2022-05-27 14:18] Carlos-Muniz commented on #182
I have recreated this issue. And will be working on solving this bug.
@ziafazal @BbrSofiane

[2022-05-27 16:03] Carlos-Muniz commented on #182
The missing pages may be related to the [Discussions MFE not being part of the default MFEs loaded by the sandbox](https://github.com/overhangio/tutor-mfe/blob/3fde4717cdb6b14c12887deeb53ae1ccddf9bf23/tutormfe/plugin.py#L16-L48). I believe it is the [Discussions MFE that manages the Pages & Resources](https://github.com/openedx/edx-platform/blob/d04ba92ead5ada8603d8e680888129710cac9883/cms/djangoa

[2022-05-27 17:45] sambapete commented on #182
I was trying to reproduce this issue on my own instance with Nutmeg and I couldn't because I do have the forum plugins enabled. That explains it.

[2022-05-27 18:19] sambapete commented on #182
But @Carlos-Muniz are we talking about the "brand new" Discussions MFE that is still in development or the "old" forum plugin in Tutor? I have a doubt now because I disabled the "old" forum plugins and I am still able to create pages after stopping and restarting Tutor.

I have to note that it still displays "Pages" on my system and not "Pages and Resources".

[2022-05-27 19:15] Carlos-Muniz commented on #182
@sambapete Based on the code in here: https://github.com/openedx/edx-platform/blob/d04ba92ead5ada8603d8e680888129710cac9883/openedx/core/djangoapps/discussions/config/waffle.py#L1
I'm pretty sure it comes from the discussions MFE that is still in development.

[2022-05-27 20:10] pdpinch commented on #181
@nedbat or @sarina do you know the answer to Sofiane's question?

[2022-05-27 20:12] sarina commented on #181
Core committers to a repo have permissions to make a branch in that repo. I could do it for you; @xitij2000 is also a CC on that repo.

[2022-05-27 20:55] BbrSofiane commented on #181
Thanks, @sarina!

We need to do the same for the other MFEs (I think the discussion MFE but I might be wrong on the specific MFE...) so I was also trying to figure out a sustainable way of doing it in the future. I think relying on CCs (or maintainers in the future) makes sense.

@xitij2000 can you take on this issue?

[2022-05-27 21:13] sarina commented on #181
Agreed, @BbrSofiane . Discovering what repos need tagging but lack a CC would perhaps spur us to try to identify candidates for CC in that area.

[2022-05-27 21:20] BbrSofiane commented on #171
Thanks @briangrossman!

[2022-05-27 21:20] #171 closed

[2022-05-28 08:01] Peters-Lab commented on #148
Not only are Social media links hard coded to sailthru-hosted images but also the mobile store links (apple store app and google play app).

**Reproduction**

Register as a new user to https://www.edx.org/.

You will receive an email in your inbox.

Using your browser, check the source code of the facebook icon, twitter icon, apple store icon and google play icon.

**Impact**
The social media icon

[2022-05-28 11:27] DeanJayMathew commented on #179
Thank you, Kyle. Let's ensure we make full use of this, and develop the course further. I would be really interested to give focused attention to it after Nutmeg testing is complete so we can really flesh out the course even more in line with our needs.

[2022-05-28 11:35] DeanJayMathew commented on #163
Thank you.

@feanil I was just wondering, since you are creating new docs for Open edX (i.e. not edx.readthedocs) will the function described by Regis above still work? As in, when we release Nutmeg, Olive etc, will the Learn More buttons in Studio update to the latest docs when they're under openedx.readthedocs?

[2022-05-28 11:48] DeanJayMathew commented on #171
Thank you, @fayyazahmed66, @pdpinch, @regisb and @briangrossman!

Does this mean this will ubcpi will be included by default Tutor installations moving forwards?

[2022-05-28 11:54] DeanJayMathew commented on #172
This XBlock is an extremely valuable one. It helps Open edX be more relevant for traditional education (i.e. smaller class sizes). The more we have features that are relevant to traditional classrooms experience, the wider the adoption of Open edX will be. In other words, it helps Open edX compete with Moodle, et cetera. We're still someway to go before we can confidently say Open edX is better th

[2022-05-28 11:57] DeanJayMathew commented on #172
p.s. we definitely need to provide all the advanced module list items into @kdmccormick's special testing course.  What do you think @kdmccormick ?

[2022-05-28 12:07] DeanJayMathew commented on #157
@awais786 @BbrSofiane @fayyazahmed66 this is similar to this issue: https://github.com/openedx/build-test-release-wg/issues/163

The result was that it should automatically be fixed when Nutmeg is released right?

[2022-05-28 12:24] DeanJayMathew commented on #160
Thank you @ghassanmas I concur this is fixed.

@BbrSofiane kindly close this at your earliest convenience before 31 May pretty please.

[2022-05-28 12:35] DeanJayMathew commented on #161
Thank you for adding this to the Nutmeg milestones Sofiane.

@regisb is this freetextresponse not a default feature because it's a relatively complicated feature to maintain? I'm simply wondering why it's not a default.

On another topic, just thought I'd mention it in passing, that viewing/downloading the results of freetestresponse is not the most user friendly and is kind of unacceptable for no

[2022-05-28 12:55] DeanJayMathew commented on #169
This XBlock like many others needs to be manually installed because it's not a default feature.

[2022-05-28 13:00] DeanJayMathew commented on #170
This is working: https://apps.nutmeg.demo.overhang.io/learning/course/course-v1:ABC+ABC+ABC/home

@BbrSofiane pretty please close this.

[2022-05-28 14:38] #170 closed

[2022-05-28 14:42] BbrSofiane commented on #157
I think so yes.

We should probably the test plan to reflect this. (Maybe we can have a couple of post-release tests)

[2022-05-28 14:42] #157 closed

[2022-05-28 14:43] #160 closed

[2022-05-29 04:19] DeanJayMathew commented on #174
Looking forward to seeing this fix merged. https://github.com/openedx/edx-platform/pull/30389

Thanks @ghassanmas you really know your way around Open edX in such a short time. We should write a blog about you!

[2022-05-29 06:55] DeanJayMathew commented on #176
@regisb I would vote yes to rework the UI for Advanced Settings. It's so tough to use for a new user and seasoned users! :)

[2022-05-29 07:08] DeanJayMathew commented on #176
@ghassanmas thanks for your instructions.

I also tested this feature now and it works:

<img width="579" alt="Screen Shot 2022-05-29 at 08 04 12" src="https://user-images.githubusercontent.com/9986523/170856519-69694960-0a5e-4f91-9dcb-c80ff06c2fda.png">

<img width="1009" alt="Screen Shot 2022-05-29 at 08 06 51" src="https://user-images.githubusercontent.com/9986523/170856527-fddd0a01-ba69-4bb6-a

[2022-05-29 07:15] DeanJayMathew commented on #176
p.s. I will remove "Analytics" from this test case.

[2022-05-29 13:28] DeanJayMathew commented on #157
Hi @BbrSofiane

This is now marked as Post-release test. We can think of a better way to mark them in the future but for now it's marked like this:

<img width="997" alt="Screen Shot 2022-05-29 at 14 27 42" src="https://user-images.githubusercontent.com/9986523/170871303-f4f32786-0839-4162-bc70-146435205f8b.png">

[2022-05-29 14:07] DeanJayMathew commented on #163
I have updated this as a **Post-release test** in the sheet.

[2022-05-29 14:09] DeanJayMathew commented on #158
In the test sheet, I've marked this test case as Passed, and marked the GitHub issue as Resolved.

[2022-05-29 14:12] DeanJayMathew commented on #160
I've marked this as Passed and Resolved in the sheet.

[2022-05-29 14:18] DeanJayMathew commented on #171
I've marked this as Passed and Resolved in the test sheet.

[2022-05-29 14:20] DeanJayMathew commented on #166
This is now marked as Passed and Resolved in the test sheet.

[2022-05-29 18:50] pdpinch opened #183 "setup named releases for Technical Reference in RTD"
As an open edX operator, I'd like a reliable source of information about toggles and settings that apply to the named release that I am deploying.

As the release notes writer, I'd like an easy way to be able to diff releases of the technical reference, so I can quickly build lists of new and removed settings for the release notes.

![image](https://user-images.githubusercontent.com/3189670/162460

[2022-05-29 18:51] pdpinch commented on #133
Thanks for the suggestion @Agrendalath. I opened an issue for setting that up.

[2022-05-30 09:03] ghassanmas commented on #133
@pdpinch
If I understand correctly you want to view the diff of docs/technical in edx-platform to get an idea what settings are changed.

So may be running:
`git diff 0ce915273c2db14611d49165e9e7a708083d57ef 489ed46cb41a624f00385f3d6cead7f60584e695 docs/` Or `git diff 0ce915273c2db14611d49165e9e7a708083d57ef 489ed46cb41a624f00385f3d6cead7f60584e695 docs/technical`
Could be helpful?

The first comm

[2022-05-30 13:09] regisb commented on #161
The freetextresponse XBlock repository was last updated 3 years ago: https://github.com/Stanford-Online/xblock-free-text-response
I do not want to add to the default Open edX distribution packages that might go unmaintained in the future -- or are already unmaintained.

To be honest, I feel like we should not even bother testing these xblocks here. It's just not the role of the BTR to fix issues f

[2022-05-30 13:11] regisb commented on #171
It is already the case, and it will continue to be like this in the future.

[2022-05-30 13:14] regisb commented on #182
@Carlos-Muniz You do mean the course authoring MFE, and not the discussions MFE, right? Why would the discussion MFE govern the presence of the "pages and resources" tab in the studio?

[2022-05-30 13:15] regisb commented on #173
Thanks for your insights @xitij2000. IMHO the pages and resource tab should default to the previous behaviour when the course authoring MFE is not enabled.

[2022-05-30 15:12] DeanJayMathew commented on #161
@regisb @sambapete thanks for the valuable insights. Let us then label (in the test sheet) which features/test cases are part of the default distribution and which are not. I will work on this and add it to the next BTR agenda for discussion.

I presume our community will continue to seek to add as many features to the default distribution as possible, but in order to do that we will need to creat

[2022-05-30 16:55] pdpinch commented on #133
Thanks @ghassanmas. I was referring to the [edx-platform technical reference](https://edx.readthedocs.io/projects/edx-platform-technical/en/latest/index.html) which is generated automatically based on code annotations across multiple repositories. Going forward, I think we need to update the script that builds those docs to support each named release (#183).

[2022-05-30 19:16] mariajgrimaldi commented on #159
PR for nutmeg-demo support: https://github.com/overhangio/nutmeg-demo/pull/15

[2022-05-31 13:48] kdmccormick commented on #179
@DeanJayMathew No problem, and 100% agreed!

[2022-05-31 13:54] kdmccormick commented on #172
@DeanJayMathew yes! I have tried my best to do that in this subsection, which includes a unit for each advance block type: https://apps.nutmeg.demo.overhang.io/learning/course/course-v1:TestX+Course+1/block-v1:TestX+Course+1+type@sequential+block@150d38f114ac4998a2b55f5c77ba01b3/block-v1:TestX+Course+1+type@vertical+block@15110240b079469e84f6a26ee8fbee24. The fifth unit in the at subsection is an

[2022-05-31 14:06] sarina commented on #182
@regisb I actually think Carlos is right on this. The new "Pages and Resources" view was developed in tandem with the new Discussions MFE. It includes a lot of nifty new ways of configuring Discussions but otherwise is a direct port of the old view.

Possibly the view is within the course authoring MFE but it wouldn't make sense to expose that new discussions configuration without the new MFE.

[2022-05-31 17:15] mariajgrimaldi commented on #159
Hello there, @regisb, hope you're well. When can we deploy the new changes to nutmeg-demo so we can test if this works?

[2022-05-31 17:23] Carlos-Muniz commented on #182
@pdpinch Could you explain how Divided Discussion Topics are related here?

[2022-05-31 18:02] kdmccormick commented on #182
Could someone help me understand how this got fixed?

Why did Studio have a "Pages & Resources" menu item for @ziafazal , and what change was made to revert it back to the old "Pages" menu item?

[2022-05-31 20:35] feanil commented on #163
@DeanJayMathew yes, the button should go to a page on the new site once the relevant content has been moved.  But we're not ready to do that yet so it should still get published to the old location for now.

[2022-06-01 07:26] xitij2000 commented on #173
I've added a task into the next sprint (starting 14th June) to look into this. Do tell if that timeline doesn't work here and if more urgency is needed. I'll try to shuffle things around in that case.

[2022-06-01 07:46] DeanJayMathew commented on #173
Hi @xitij2000

Just fyi Nutmeg will be released on June 9th, but since the MFEs are not
supported until Olive I don't see a reason to rush it... but I stand
corrected.

Best.

Dean Jay Mathew
Director, ABC Online Courses Limited

Trusted Open edX® Service Providers since 2015
Schedule a meeting with me: https://calendly.com/abconlinecourses
View Our Website <http://www.abconlinecourses.com>
WhatsA

[2022-06-02 13:16] Carlos-Muniz commented on #182
Closing this issue as the test case is no longer relevant: The Pages & Resource tab supplied by Course Authoring MFE and Discussions MFE has been replaced by the Pages tab which is supplied by a forum plugin(?).

[2022-06-02 13:29] Carlos-Muniz commented on #182
@BbrSofiane Can this be closed?

[2022-06-02 13:36] kdmccormick commented on #182
I agree that the issue seems fixed, but I'd like to understand how it was fixed before we close this and forget about it. A link to the PR that fixed it would be ideal.

[2022-06-03 08:43] regisb commented on #173
I do think that this issue is rather pressing and we should strive to fix it before June 9th. The course pages are an important feature of Open edX and we can't really ship Nutmeg without them (IMHO).

[2022-06-03 08:51] DeanJayMathew commented on #173
Agree with @regisb of course. His idea above of "the pages and resource tab should default to the previous behaviour when the course authoring MFE is not enabled" is it possible to fix in the next week (before 9th June) @xitij2000?

[2022-06-03 08:54] xitij2000 commented on #173
@regisb @DeanJayMathew I will prioritize the work accordingly and try my best to get it ready before then.

[2022-06-03 09:52] regisb commented on #159
The codejail plugin was deployed on Monday as part of the latest run: https://github.com/overhangio/nutmeg-demo/runs/6660828918?check_suite_focus=true

[2022-06-03 13:49] mariajgrimaldi commented on #159
I'll be testing this then! Thank you so much @regisb

[2022-06-03 21:37] mariajgrimaldi commented on #159
Hello there! I've just tested this and got these results:

![image](https://user-images.githubusercontent.com/64440265/171955429-c78f42d8-cfd1-4d27-8bb3-2742bc5d8573.png)
![image](https://user-images.githubusercontent.com/64440265/171955476-b5bcc142-b783-4565-b21a-6463e21638f6.png)
![image](https://user-images.githubusercontent.com/64440265/171955503-f63cef6d-d2dc-4e54-a608-446746bf7869.png)

I th

[2022-06-06 07:21] regisb commented on #159
We most probably should :)

[2022-06-06 11:32] angonz commented on #159
Hi all,
Is the codejail plugin working in K8s? I've been testing and couldn't make it work. There's been an [incipient discussion](https://discuss.overhang.io/t/edunext-codejail-tutor-plugin/2736) and I've been investigating the [daemonset option](https://github.com/kubernetes/kubernetes/tree/master/test/images/apparmor-loader) as recommended in the [K8s docs](https://kubernetes.io/docs/tutorials/

[2022-06-06 14:58] mariajgrimaldi commented on #159
Then I'm on it @regisb.

Hello there @angonz! Can you open an issue in the codejail plugin repo? I'll tag the team that maintains our k8s installations so they can help you out!

[2022-06-06 15:06] regisb commented on #162
It's maintained by Stanford, right? https://github.com/Stanford-Online/xblock-in-video-quiz (last commit 3 years ago)

[2022-06-06 15:33] MoisesGSalas commented on #159
Hi @angonz, would mind telling which part is not working for you? (the service as a whole or the profile enforcement?).

Applying the apparmor profile onto the nodes of a managed Kubernetes service is a challenge we are currently facing and we don't have a good solution at the moment.

P.S. You can test the service without specifying the apparmor profile by deleting the `container.apparmor.securit

[2022-06-06 16:13] BbrSofiane commented on #173
@xitij2000 Any updates on this issue?

[2022-06-06 17:18] sambapete commented on #162
It was until Stanford shut down their Open edX instance a few years ago. I don't know if anyone took over the maintenance of this Xblock.

[2022-06-06 17:48] kdmccormick commented on #182
We talked at the BTR meeting today -- @regisb had been messing with Waffle flags earlier and figures that he probably just accidentally enabled a flag that caused this issue :)

Since nutmeg.demo.overhangio.io has been reset since then, and this issue hasn't come back, I think it's safe to say that this is not going to be an issue in the base Nutmeg installation.

[2022-06-06 17:48] #182 closed

[2022-06-06 18:50] nedbat commented on #181
Sorry I missed this ping.  Does this still need to happen?

[2022-06-06 22:57] sambapete commented on #162
There was a blog made about it by the marketing working recently
https://openedx.org/video/the-in-video-quiz-x-block/

[2022-06-07 02:56] xitij2000 commented on #181
Sure, I can take this on.

[2022-06-07 06:26] xitij2000 commented on #173
I've just created a PR for this: https://github.com/openedx/edx-platform/pull/30550

[2022-06-07 13:30] ErdalDomi commented on #146
Hi @BbrSofiane ,

Could you kindly unassign me from this issue? Unfortunately, due to a high workload, I am unable to devote the amount of time needed for the setup and development

[2022-06-07 16:02] nedbat commented on #181
@BbrSofiane Isn't this solved by putting the right metadata in the openedx.yaml file?  Or by "doing it" do you mean fixing up missed branches after they should have been made?

[2022-06-07 16:36] DeanJayMathew opened #184 "TC_AUTHOR_36:STUDIO:Enable course highlight emails"
We still need to test this feature.

[2022-06-07 16:48] BbrSofiane commented on #181
@nedbat I mean more of the latter for future new repositories to add to the default Open edX deployment. So right now it looks like:
1. Notify the repo maintainer
2. Update openedx.yaml
3. If applicable, create missing branches

[2022-06-07 20:29] nedbat commented on #181
Yes, that's roughly the process.  "Notify" might be "Ask" or "Consult with", but yes.

[2022-06-09 06:39] Peters-Lab commented on #148
@BbrSofiane. I got caught up by personal issues so I have not looked at this issue since. I would like to look at it and try to fix this issue next week. Is that OK?.
 I saw somewhere here that nutmeg release is on 10th June. Or is there another future nutmeg  release?.

[2022-06-09 08:24] regisb commented on #173
Thanks a lot for working on this @xitij2000! Your PR will be cherry-picked in the default openedx Docker image that ships with Tutor in Nutmeg, even if it's not merged in time.

[2022-06-09 13:29] kdmccormick opened #185 "Make the release process more repeatable"
Existing process: https://openedx.atlassian.net/wiki/spaces/COMM/pages/19662426/Process+to+Create+an+Open+edX+Release#Make-a-release-or-release-candidate

Thing we found during the Nutmeg release that we want to be better next time:
* All repos should be in openedx org

[2022-06-09 13:32] nedbat commented on #185
* The documentation steps that should have happened when nutmeg.master was made were never done.

[2022-06-09 13:33] kdmccormick commented on #185
* branch creation script didn't rollback changes when it crashed within `do_the_work`

[2022-06-09 13:39] kdmccormick commented on #185
* we have too many release documentation pages

[2022-06-09 13:40] kdmccormick opened #186 "Finish the Lilac->Maple upgrade instructions"
Here: https://github.com/openedx/edx-documentation/blob/master/en_us/install_operations/source/platform_releases/maple.rst

fyi @nedbat @regisb

[2022-06-09 13:45] nedbat commented on #185
* The week before the release:
  - check all the "maybe" repos
  - check that all the involved repos have permissions for community-release-managers

[2022-06-09 13:45] kdmccormick commented on #185
* need a step for "last-minute" repos that are added to release

[2022-06-09 13:54] kdmccormick commented on #185
* would like to compare list of repos with access to the list of repos we're trying to create branches in

[2022-06-09 15:27] kdmccormick commented on #185
* wiki page should be update with new additions to `tag_release` tool, namely the save-the-repo-list-to-a-file feature.

[2022-06-09 15:36] kdmccormick commented on #185
* maintainers need to backport security fixes into release branches

[2022-06-09 15:43] kdmccormick commented on #185
* who's job is it to make the blog post?

[2022-06-09 16:51] nedbat commented on #185
The Maple transifex resources are different than Lilac and before. The wiki page says to do it the Lilac way.  We don't know who made the Maple resources, probably the translation working group.  We need to coordinate and agree on the right approach.

[2022-06-12 11:23] BbrSofiane commented on #146
No problem @ErdalDomi!

[2022-06-14 16:06] mariajgrimaldi commented on #159
PR fixing template in the nutmeg release: https://github.com/openedx/edx-platform/pull/30570

[2022-06-14 19:47] mariajgrimaldi opened #187 "Proposed backport for nutmeg Open edX Filters last batch"
Hello everyone!

### Description

I'm opening this issue as a proposal for a backport to the latest release nutmeg, consisting of a few filters integrations that didn't make the nutmeg cut (for a variety of reasons):

[This](https://github.com/openedx/edx-platform/pull/30583) is the PR with those commits targeting nutmeg.

We are eager to know if these changes that the BTR wg would consider accept

[2022-06-22 07:09] Peters-Lab commented on #148
@regisb and @BbrSofiane

I created a PR for this issue against the master branch of edx-platform https://github.com/openedx/edx-platform/pull/30630

I tested my fix and it works on my setup.

Is it still necessary to create a PR  against the "open-release/nutmeg.master branch", since nutmeg was released?.
If so, let me know and I will create one.

[2022-06-24 13:36] mariajgrimaldi commented on #159
I believe we can close this issue after this PR is reviewed and merged: https://github.com/overhangio/tutor/pull/698

[2022-06-27 07:20] #159 closed

[2022-06-27 09:53] regisb opened #189 "There is no way to disable account deletion in the Account MFE"
In the legacy account view from edx-platform, it was possible to remove the possibility of account deletion by defining the ENABLE_ACCOUNT_DELETION feature flag:

Source:
https://edx.readthedocs.io/projects/edx-platform-technical/en/latest/featuretoggles.html#featuretoggle-FEATURES%5B'ENABLE_ACCOUNT_DELETION'%5D
https://github.com/openedx/edx-platform/blob/20de3c71b4951472947917d2388e8412f53f6bcc/

[2022-06-30 14:09] felipemontoya commented on #187
I'd like to add some of the previous reasons why we advocated to port this back to nutmeg.
The reason for the hooks framework is to generally allow for more maintainable extensions of the platform and reduce the necessity for some many forks out there.

Given the recent presentation of this framework in the conference and the hype we tried to build around it, we would like for devs to get their ha

[2022-06-30 14:10] felipemontoya commented on #187
@BbrSofiane would it make sense to tag this as "nutmeg release" ?

[2022-07-03 18:21] #176 closed

[2022-07-03 18:51] BbrSofiane commented on #187
Yes, I will assign it to the Nutmeg.2 Milestone.

We can also cherry-pick the change in tutor to make it available before the official release of Nutmeg.2 (9th of August).

[2022-07-03 18:56] BbrSofiane commented on #186
@kdmccormick is someone assigned to this task?

[2022-07-03 18:57] #178 closed

[2022-07-03 19:03] BbrSofiane commented on #150
Thanks for this PR openedx/frontend-app-authn#588 @regisb and @kdmccormick

[2022-07-03 19:03] #150 closed

[2022-07-03 19:07] #174 closed

[2022-07-03 19:08] #169 closed

[2022-07-03 19:17] BbrSofiane commented on #181
Closed with https://github.com/openedx/frontend-app-course-authoring/commit/2f168034847d4c078c4fdc2ef8f580e0069bda4b

[2022-07-03 19:17] #181 closed

[2022-07-06 12:54] kdmccormick commented on #186
@BbrSofiane No, nobody is.

[2022-07-08 07:19] BbrSofiane opened #190 "Migrate BTR Project to new Project type"
Migrate BTR Project to new Project type

[2022-07-14 18:13] kdmccormick opened #235 "Create small MFE base image using runtime MFE config system"
## Context

The MFE runtime config API has been added to frontend-platform and edx-platform! Issue: https://github.com/openedx/frontend-wg/issues/103

We would like to make use of that API in the tutor-mfe plugin so that we can statically build a minimal tutor-mfe image, which can be used by anyone along with runtime configuration.

## Acceptance

* Ensure all built-in MFEs have upgraded frontend-

[2022-07-18 12:07] #180 closed

[2022-07-19 17:31] nedbat opened #192 "Django 3.2.14 and .15 security fixes"
3.2.14: https://www.djangoproject.com/weblog/2022/jul/04/security-releases/

3.2.15 is due Wednesday August 3: https://groups.google.com/g/django-announce/c/kosgP28-lPE/m/__qLaRPmAAAJ

[2022-07-21 09:21] ghassanmas opened #193 "Nutmeg i18n strings"
This is issue is regard the strings of nutmeg.

Between 21.Dec and 22.May there was not syncing between TX and github; this PR cherry picks the first TX commit which occured after nutmeg cut.

The PR:  openedx/edx-platform/pull/30733  is cherry picking transfiex bot commit (on 22 May) https://github.com/openedx/edx-platform/commit/26fa6c2b97e06fd7498749a386db87c84f264698 but however since there is

[2022-07-21 15:21] sambapete commented on #193
This is the part which I did not understand at the last meeting. Let me try
to explain what I understand after years of translating fr_CA for use on
our Open edX instance.

The strings are originally harvested from the Open edX source and put into
Transifex under the edx-platform project. As you can see in the next image,
the strings do get to Transifex in order to be translated.

[image: Capture

[2022-07-26 12:26] ghassanmas commented on #193
@sambapete there are no images in your commetns, I guess because you sent from an email. Any way I think I know what you are referring to:

So regarding the release file that part the Open edX releases project in Transfiex; what I understood from @nedbat in the last meeting, is that those files are there because in case there was a change in strings in an open release branch they would be used to

[2022-07-26 12:50] sambapete commented on #193
Yes @ghassanmas this is exactly my understanding too.

I am not certain if the django.po and djangojs.po per language are updated on a regular basis. If they are, it would only apply to master. And even then, master changes so often it would mean regular updates possibly multiple times a day (I could be wrong) and not necessarily in sync with the code in master (I could also be wrong).

I am convi

[2022-07-26 12:55] ghassanmas commented on #193
Yes exactly there are only updated for the master. And not for release brnach. However the issue is when the release branch nutmeg were cut. **The syncing wasn't happening to the master before the branch were cut**

See this screenshot below:
<img width="1144" alt="Screen Shot 2022-07-26 at 15 54 03" src="https://user-images.githubusercontent.com/16361375/181010763-1ec304b3-2a94-401e-8c81-683aa1cc

[2022-08-01 14:38] BbrSofiane commented on #193
edx-platform#30733 Needs to be reviewed

[2022-08-01 15:26] BbrSofiane opened #194 "Nutmeg.2 Release"
Create Nutmeg.2 Tag across Open edX repositories.

Assigned on [this meeting](https://openedx.atlassian.net/wiki/spaces/COMM/pages/3497328641/2022-08-01+BTR+Meeting+Notes).

[2022-08-02 17:34] nedbat commented on #190
I think you have to enable project migration as a feature preview (on the drop-down menu from your profile pic), then you get a green Start Migration button on the project.

[2022-08-03 05:47] BbrSofiane commented on #190
I need an Org owner to switch the board to public. cc @kdmccormick

![image](https://user-images.githubusercontent.com/13796098/182533374-66b7a942-4ffe-425a-b00a-f7e31581f0e8.png)

[2022-08-03 13:06] kdmccormick commented on #190
All set @BbrSofiane

[2022-08-04 13:52] BbrSofiane commented on #192
[code]

[2022-08-04 18:09] #168 closed

[2022-08-05 13:41] NeOneSoft commented on #153
Hi amigo @DeanJayMathew!!! I was wondering if this issue should be still open. Thanks in advance!!!

[2022-08-05 13:50] NeOneSoft commented on #173
Hi @xitij2000 hope you doing well!!!do you have any update regarding this issue?. Please let us know in case you need help.Thanks a lot!!

[2022-08-05 14:08] NeOneSoft commented on #161
Hi amigo @DeanJayMathew !!!, should we discuss this with the XBlocks maintainers in order to encourage them to provide support for further releases?

[2022-08-05 14:09] xitij2000 commented on #173
Sorry for losing track of this. I believe this issue is fixed now given that the above PR is merged. Are you still facing the issue?

[2022-08-05 14:30] NeOneSoft commented on #162
As @regisb mentioned seems like there's no changes since 3 years ago so I was wondering how to get support in cases like this.

[2022-08-05 14:40] NeOneSoft commented on #164
Hi @ghassanmas !!!! do we have any update regarding this issue? Thanks in advance

[2022-08-05 15:12] arbrandes commented on #194
@nedbat, would it be too much to ask you to be the adult in the room for this one, too? :)  Do you happen to have a slot available on Tuesday?

[2022-08-05 15:30] NeOneSoft commented on #173
Thank you so much @xitij2000!! I only was taking a look on this in order to close it so I think that we can do it if we don't have any other concern.

[2022-08-05 16:32] NeOneSoft commented on #133
Hi @pdpinch !!!! Since [PR](https://github.com/openedx/edx-documentation/pull/2056) was merged. Do we have any other concern regarding this issue. Thank's a lot!!!

[2022-08-05 16:35] NeOneSoft commented on #137
Hi mi amigo @jfavellar90. Do we have any update here?. Please let me know if I can help you with this!!!

[2022-08-05 16:38] NeOneSoft commented on #131
Hi @arbrandes hope you doing well!!. As I understand this is still under discussion right?Thank you so much!!

[2022-08-05 16:39] pdpinch commented on #133
I think there are some things I'd still like to do, but it's time to look forward to the next release!

[2022-08-05 16:39] #133 closed

[2022-08-05 16:41] NeOneSoft commented on #133
Thank you so much @pdpinch !!!

[2022-08-05 16:42] NeOneSoft commented on #183
Hi @pdpinch!!!! May be this can be closed too If you are agree

[2022-08-05 16:46] NeOneSoft commented on #184
Hi @DeanJayMathew !!!!, actually I don't remember if we have another dependency regarding this issue!!

[2022-08-05 16:49] NeOneSoft commented on #186
Hi @BbrSofiane !!!! I think that we still need to assign this issue!!

[2022-08-05 22:32] mariajgrimaldi commented on #187
Hello! After the last (august 1st) BTR meeting, @NeOneSoft and @jfavellar90 reached out to me to know the extent of reviewing this issue; after explaining, they agreed to help us move forward. We had a meeting where we tested all six filters and we documented each step:

First, we set up the environment with the branch [MJG/backport-filters](https://github.com/openedx/edx-platform/pull/30583) reba

[2022-08-06 17:20] nedbat commented on #194
11am Eastern time?

[2022-08-08 07:24] BbrSofiane commented on #187
Hey, @mariajgrimaldi looks good to me!

I didn't know we would have filters that can alter the render cycles at this stage. That's pretty cool!

Can you use the dashboard to redirect to say a dashboard MFE?

[2022-08-08 09:44] ghassanmas commented on #164
@NeOneSoft Yes I will comment below the summary of the finding. _I will just re post what I already repoted in the forum the forum_.

Given the above finding, tutor was changed to use that flag by [default](https://github.com/overhangio/tutor/blob/c4388e134ca4bf1961b9906dd3fb8600d197f7a5/tutor/templates/apps/openedx/settings/partials/common_lms.py#L25-L26).

Note using that flag, would enable to h

[2022-08-08 09:44] #164 closed

[2022-08-08 13:28] NeOneSoft commented on #164
Thank you so much @ghassanmas for your update here!!!

[2022-08-08 15:46] mariajgrimaldi commented on #187
Yes @BbrSofiane, you could use a filer like this:
[code]
And this configuration:

OPEN_EDX_FILTERS_CONFIG = {
    "org.openedx.learning.dashboard.render.started.v1": {
        "fail_silently": False,
        "pipeline": [
            "path.to.plugin.RedirectDifferentDashboard",
        ]
    },
}

To modify the dashboard rendering workflow

[2022-08-08 16:20] throwaway-a opened #195 "Nutmeg regression in "Course Visibility In Catalog" == "none" behavior"
If "Course Visibility In Catalog" is set to "none", students who have already enrolled in a course can no longer access the class.

Citations of people who've run into this [here](https://discuss.overhang.io/t/student-access-error-in-imported-courses/2388/4) and [here](https://discuss.openedx.org/t/cant-access-course-after-nutmeg-upgrade-but-also-cant-find-useful-error-in-logs/8026/2).

I was prev

[2022-08-08 17:56] BbrSofiane commented on #187
I merged the PR. Thank you @NeOneSoft @jfavellar90 and @mariajgrimaldi

[2022-08-08 17:56] #187 closed

[2022-08-08 18:24] mariajgrimaldi commented on #187
Thank you guys! :heart:

[2022-08-08 19:19] NeOneSoft commented on #187
Thank you all!!! @BbrSofiane @mariajgrimaldi @jfavellar90 !!!

[2022-08-08 20:06] arbrandes commented on #194
Works for me!

[2022-08-09 19:08] arbrandes commented on #194
Done!  The following is a record of what @nedbat and I did, today:

https://openedx.atlassian.net/wiki/spaces/COMM/pages/3506601989/Nutmeg.2

[2022-08-09 19:08] #194 closed

[2022-08-09 20:32] BbrSofiane commented on #173
The fix has been cherry-picked in tutor:
- Fix: https://github.com/open-craft/edx-platform/commit/3d54f284f82b61e693ad652d8d6e46a226fcb36d
- Cherry-pick: https://github.com/overhangio/tutor/blob/c4388e134ca4bf1961b9906dd3fb8600d197f7a5/tutor/templates/build/openedx/Dockerfile#L52

[2022-08-09 20:32] #173 closed

[2022-08-10 20:34] #190 closed

[2022-08-10 20:35] #192 closed

[2022-08-16 01:12] nikoi4 commented on #189
I am probably missing a lot of context in here, but based on the origins of the flag ENABLE_ACCOUNT_DELETION in [PR](https://github.com/openedx/edx-platform/pull/18298) and in order to be GDPR compliant on the ['Right to be forgotten'](https://gdpr.eu/right-to-be-forgotten/) I do not believe this is a bug. Missing the possibility of disabling account deletion looks like a intentional decision? Aga

[2022-08-16 07:02] bezalel001 commented on #146
Hi @BbrSofiane
 I would like to work on this, but the README states that the repo does not accept public contributions at this time

[2022-08-18 01:39] lxmmxl56 commented on #135
I'm a new contributor and I'd like to try fixing this issue.  Do I need to be assigned or is it okay to just submit a PR once I've completed the work?

[2022-08-22 09:50] BbrSofiane commented on #135
You can start working on it @lxmmxl56, I'll assign it to you.

[2022-08-22 09:51] BbrSofiane commented on #146
Thanks for you contribution @bezalel001! We'll use this as an opportunity to kickstart the conversation to make this repo available for contributions.

[2022-08-23 14:53] arbrandes commented on #131
@NeOneSoft, yes, this is very much still under discussion!

[2022-08-29 15:02] BbrSofiane opened #196 "Update `add-issue-to-project.yml` to point to new project board"
Update `add-issue-to-project.yml` to point to new project board

Example: [add-to-project.yml](https://github.com/edx/open-source-process-wg/blob/main/.github/workflows/add-to-project.yml)

[2022-09-01 15:38] mrtmm opened #197 "Legacy LMS navigation issue"
When using the legacy LMS view in Nutmeg, navigation between units seems to have a bug.
When clicking on the "back" arrow in the bottom of the page, it won't take back to the previous unit page, but to previous subsection. If there is no previous subsection, we get a "page not found".
No errors in the logs, just a logged GET request with a 404.

Issue is present in nutmeg.1 and nutmeg.2 both.

[2022-09-12 16:09] kdmccormick opened #199 "Update the Support Windows spreadsheet"
The spreadsheet: https://docs.google.com/spreadsheets/d/11DheEtMDGrbA9hsUvZ2SEd4Cc8CaC4mAfoV8SVaLBGI/edit#gid=195838733

The code that generates it: https://github.com/openedx/repo-tools/blob/master/barcalendar.py

The data we should use to update it: https://github.com/overhangio/tutor/blob/master/tutor/templates/config/defaults.yml

## Acceptance Criteria

* Before Olive, update the code & regen

[2022-09-12 16:10] kdmccormick commented on #199
@BbrSofiane I'll take care of this before the Olive branch cut. Can you create & add an `affects:olive` label?

@nedbat FYI

[2022-09-26 15:45] pdpinch opened #200 "Olive: list of new MFEs"
Having a list of new MFEs will help with planning, testing and documentation of olive.

1. this list is still in progress
4. [frontend-app-course-authoring](https://github.com/openedx/frontend-app-course-authoring)
5. [frontend-app-authn](https://github.com/openedx/frontend-app-authn)
6. [frontend-app-learner-record](https://github.com/edx/frontend-app-learner-record/)

To be _included_ in the oli

[2022-09-26 15:48] pdpinch commented on #200
In the nutmeg release notes, these MFEs were identified as "pre-alpha" and presumably should be considered for olive:

- [Authentication Micro-Frontend (MFE)](https://github.com/openedx/frontend-app-authn)
- [Course Authoring Micro-frontend (MFE)](https://github.com/openedx/frontend-app-course-authoring)
- [Discussions Micro-Frontend (MFE)](https://github.com/openedx/frontend-app-discussions)
- [O

[2022-09-26 15:53] pdpinch commented on #200
The [Discussions MFE has `maybe: True` for inclusion in the open edX release](https://github.com/openedx/frontend-app-discussions/blob/master/openedx.yaml#L11). Unless that changes, it won't get a branch for olive.

[2022-09-28 14:20] nedbat opened #201 "Django 3.2.16 security patch"
Django 3.2.16 security patch will be released October 4th:
https://groups.google.com/g/django-announce/c/Oe6C9yJlCEc/m/QObPKVxuAgAJ

[2022-09-29 17:07] pdpinch commented on #200
I discovered another MFE, via its setting, [ORA_GRADING_MICROFRONTEND_URL](https://edx.readthedocs.io/projects/edx-platform-technical/en/latest/settings.html#setting-ORA_GRADING_MICROFRONTEND_URL)

- [ORA grading microfrontend](https://github.com/edx/frontend-app-ora-grading)

[2022-10-04 15:32] hurtstotouchfire commented on #200
@Tj-Tracy FYI

[2022-10-06 18:57] arbrandes commented on #131
This is what is known to date:

This is the main ticket that tracks this question is: couldn't find any duplicates.

The frontend roadmap item that more closely tracks this is https://github.com/openedx/tcril-engineering/issues/417

There's an old MFE Definition of Done page in the wiki.  This is more pertinent, particularly starting with the [Architecture Concerns subheading](https://openedx.atla

[2022-10-10 15:10] pdpinch commented on #200
According to @nedbat in [Slack](https://openedx.slack.com/archives/C01AGTSB1LL/p1665168470278519?thread_ts=1665166971.526769&cid=C01AGTSB1LL), these are the MFEs that are branched:

[code]

[2022-10-10 15:17] BbrSofiane opened #202 "Test Course Authoring MFE in Tutor"
Test Course Authoring MFE in Tutor

https://discuss.openedx.org/t/running-course-authoring-mfe-with-tutor/7878/2

[2022-10-11 10:37] regisb commented on #201
Who is responsible of applying the patch?

[2022-10-11 11:48] nedbat commented on #201
The group as a whole is, until someone is assigned this issue.

[2022-10-11 13:41] mtyaka commented on #201
I took this, but I don't have permission to assign myself.

[2022-10-11 14:10] mtyaka commented on #201
The django patch was applied to the `open-release/nutmeg.master` branch on all eligible repos.

[2022-10-11 16:31] kdmccormick opened #203 "Remove the `edx` GitHub organization from the release process"
## Context

Per https://discuss.openedx.org/t/interim-guidance-on-the-openedx-github-organization/8518, the Palm release must only tag repositories in the openedx GitHub organization.

This is related to, but not the same as: https://github.com/openedx/build-test-release-wg/issues/238

## Acceptance Criteria

(this might be better split up into subtasks)

Update the comment in openedx.yaml within

[2022-10-12 07:52] mtyaka commented on #201
@nedbat We forgot to apply the patch to `olive.master` yesterday. Should we schedule another call during which I'll be temporarily granted permissions to apply the patch or is there an easier way to do it?

[2022-10-12 13:45] nedbat commented on #201
Hmm, we set edx-platform to require pull requests, so the direct-push steps will need a little bit of tweaking.  Maybe we can shift to making pull requests for all of the repos, and then not need the permission changes?

[2022-10-12 14:18] arbrandes commented on #200
Are we any closer to agreeing which ones will be added to the tutor-mfe plugin?

[2022-10-12 14:24] arbrandes commented on #200
There's a PR to add `frontend-app-learner-record`, for the record: https://github.com/overhangio/tutor-mfe/pull/63

[2022-10-13 15:22] regisb commented on #200
Considering the huge list of new MFEs that are expected to land in Olive, I'm very anxious that we merge the [runtime configuration feature](https://github.com/openedx/frontend-wg/issues/103). If we don't, I'm afraid we won't be able to release Olive at all. I suggest we have this conversation here: https://discuss.openedx.org/t/mfe-runtime-configuration/8495

[2022-10-14 15:19] arbrandes commented on #131
Copy-pasta of [a post](https://discuss.openedx.org/t/mfe-runtime-configuration/8495/7?u=arbrandes) I made in the forum:

#### Do we need to include every MFE in that list in Tutor/Olive?

*TLDR: No.*

MFE developers (as of now mostly employed at or by 2U) are aware they can't remove a feature in edx-platform before the MFE that replaces it is officially accepted as being production-ready by the co

[2022-10-14 15:23] pdpinch commented on #200
I think we can safely omit [frontend-template-application](https://github.com/openedx/frontend-template-application/blob/master/openedx.yaml#L5) from the list of potential MFEs. I don't even know why it has an olive branch.

[2022-10-14 15:26] arbrandes commented on #200
Copy-pasta of [a post](https://discuss.openedx.org/t/mfe-runtime-configuration/8495/7?u=arbrandes) I made in the forum:

#### Do we need to include every MFE in that list in Tutor/Olive?

*TLDR: No.*

MFE developers (as of now mostly employed at or by 2U) are aware they can't remove a feature in edx-platform before the MFE that replaces it is officially accepted as being production-ready by the co

[2022-10-14 16:12] kdmccormick commented on #131
Relatedly, we have proposed [OEP-57](https://openedx.atlassian.net/wiki/spaces/COMM/pages/3540713547/Open+edX+Proposal+57+Product+Offering), which would create a system for deciding what needs to be enabled by default in the named releases (the "Core Product Offering"). I encourage all of BTR to review it and I am hopeful that this will make things easier when the Palm release rolls around. I reco

[2022-10-14 16:12] kdmccormick commented on #131
One criteria I’d add is: Has the legacy version of the frontend stopped working on master?. If yes, we’re forced to either get the legacy feature fixed, or to include & enable the MFE. When it’s unexpected, this scenario drives me crazy and represents an absolute failure of our deprecation process. Yet, it’s still something we need to look out for when considering MFEs for release.

[2022-10-18 15:00] ghassanmas opened #204 "Features flags and Settings changes between nutmeg to olive"
This issue records the changes of featuers flags and settings between nutmeg and olive.
However this might nof include everything, since it captuers only settings/toggle that implement code-annotations.

## New Features/Toggles

1. `ENABLE_DYNAMIC_REGISTRATION_FIELDS` [cms/envs/common.py#L588](https://github.com/openedx/edx-platform/blob/eed0dca524bfd71f7dc3c10a39d5a1154eed34b3/cms/envs/common.py#

[2022-10-18 15:29] hurtstotouchfire commented on #131
@arbrandes Do we have a ticket somewhere tracking the list of potential MFEs and their status as far as potential inclusion?

[2022-10-18 15:31] arbrandes commented on #131
@hurtstotouchfire, this is where the raw list is being gathered:

https://github.com/openedx/build-test-release-wg/issues/200

[2022-10-18 16:07] ghassanmas commented on #131
@kdmccormick for this and also for documentation purpose, I have just opened an issue about changes of toggles/settings between nutmeg and olive #204

[2022-10-18 16:26] pdpinch commented on #204
Thanks @ghassanmas I was planning to build a similar list while working on the release notes. This saves me a lot of time.

Can you share your method for building this list?

[2022-10-18 16:49] ghassanmas commented on #204
@pdpinch yeah I knew it would helpful atleast for you.

from inside edx-platform repo
[code]
Scanning the git diff of the last step, you will get an idea about the changes.
Note there will be a lot of noise because the changes of source url between edx to openedx and the warning which wasn't included nutmeg.

I think we can ultimately automate this process.  On the bigger picture I persoally think

[2022-10-18 20:52] jmakowski1123 commented on #200
@arbrandes @pdpinch Just noting the parallel ticket I'm working on here to try and get as much product-oriented data as possible for these. Each MFE has a ticket now on the community roadmap and a base level of acceptance criteria data: https://github.com/openedx/tcril-engineering/issues/495

[2022-10-20 06:44] mtyaka commented on #201
PRs opened:

- https://github.com/openedx/enterprise-catalog/pull/514
- https://github.com/openedx/blockstore/pull/211
- https://github.com/openedx/edx-analytics-data-api/pull/588
- https://github.com/openedx/ecommerce/pull/3850
- https://github.com/openedx/edx-analytics-dashboard/pull/1372
- https://github.com/openedx/xqueue/pull/868
- https://github.com/openedx/ecommerce-worker/pull/188
- https:

[2022-10-20 18:33] hurtstotouchfire commented on #200
FYI @arbrandes / @pdpinch I've worked with Jenna to get https://github.com/openedx/frontend-app-learner-record/issues/107 fleshed out for LRMFE. Our goal is for it to be included in Olive, off by default, for any adventurous beta adopters who have worked out a way to run the Credentials IDA. For Palm, we will aim to have [Credentials supported in Tutor](https://github.com/openedx/credentials/issue

[2022-10-24 15:00] arbrandes commented on #131
This is where the master list is now being tracked:

https://openedx.atlassian.net/wiki/spaces/COMM/pages/3561521275/Requirements+for+an+MFE

Please leave your comments and suggestions in there.  The list is supposed to be modified organically.

[2022-10-24 15:27] ghassanmas opened #205 "PR(s) Needs to be backported or created to Olive"
The issue purpose to list PRs (which might be open, or not open yet) that needs to back ported at some point:

## Arealdy Opened
### Secuirty update

Ref: https://github.com/openedx/build-test-release-wg/issues/201#issuecomment-1285024044

### MFEs
- openedx/frontend-app-gradebook/pull/282
- openedx/frontend-app-learning/pull/1000
- openedx/frontend-app-profile/pull/632
___________________________

[2022-10-24 16:17] ARMBouhali opened #206 "olive-testing (TC_AUTHOR_45): Advanced problem types"
# Passing Tests
- [x] Blank advanced Problem
- [x] Circuit Schematic Builder
- [x] Custom JavaScript Display and Grading
- [x] Custom Python-Evaluated Input
- [x] Drag and Drop
- [ ] Drag and Drop (Deprecated Version)
- [x] Image Mapped Input
- [x] Math Expression Input
- [x] Problem with Adaptive Hint
- [x] Staff Graded Points

[2022-10-24 16:22] sambapete opened #207 "Demonstration Course not exporting in Open edX Olive Demo Server"
An attempt on exporting the Demonstration Course course-v1:edX+DemoX+Demo_Course failed over the week-end on the previous Open edX Olive Demo Server. Something about a transcript file not being available.

![image](https://user-images.githubusercontent.com/8906669/197574595-cfc6233c-ade6-4bd8-95e2-a35e91a71fd5.png)

A second attempt on exporting the Demonstration Course course-v1:edX+DemoX+Demo_Co

[2022-10-24 16:34] ARMBouhali commented on #206
- [ ] LMS submit error:

encountered with:
-  Circuit Schematic Builder
-  Drag and Drop (Deprecated Version)

[2022-10-24 16:39] ARMBouhali opened #208 "olive-testing TC_AUTHOR_50: all text block types"
Passing tests:
- [ ] Text
- [ ] Announcement
- [ ] Anonymous User ID
- [ ] IFrame Tool
- [ ] Raw HTML
- [ ] Zooming Image Tool

[2022-10-24 16:41] ARMBouhali commented on #208
- [ ] iframe sometimes not loading content. instead a few characters appear at the top-left of the iframe:

![Screenshot from 2022-10-24 17-36-58](https://user-images.githubusercontent.com/10594967/197579758-9f17f3ac-aec9-4326-875e-805018c8fca0.png)

[2022-10-24 16:45] ARMBouhali commented on #208
- [ ] **Zooming Image Tool:**  Magnifier not showing in LMS.

1. Mouse cursor is pointer (like for links).
2. Clicking on the image opens it in new tab.

[2022-10-24 16:57] ARMBouhali opened #209 "olve-testing TC_AUTHOR_50: all basic problem types"
## Passing tests:
- [x] Blank Common Problem
- [x] Checkboxes
- [x] Dropdown
- [x] Multiple Choice
- [x] Numerical Input
- [x] Text Input
- [x] Checkboxes with Hints and Feedback
- [x] Dropdown with Hints and Feedback
- [x] Multiple Choice with Hints and Feedback
- [x] Numerical Input with Hints and Feedback
- [x] Text Input with Hints and Feedback

## Issue
**Numerical Input:** staff debug error

[2022-10-24 17:02] ARMBouhali commented on #209
- [ ] **Numerical Input:** staff debug error message showing when the input is an invalid non-numerical value. (only in LMS)

Maybe it shows because `DEBUG=True` in LMS. If anyone can confirm this, then we can dismiss this issue.

[2022-10-24 17:10] arbrandes commented on #200
The following MFEs have at least one champion in the BTR group for inclusion/enablement by default in the `tutor-mfe` plugin for Olive, so will be prioritized in testing:

* frontend-app-course-authoring
* frontend-app-ora-grading

The following has an open PR for inclusion and no objections were raised, so it will be tested:

* frontend-app-learner-record

The following met no objections to "opti

[2022-10-24 17:19] ARMBouhali opened #210 "olive-testing TC_AUTHOR_56 TC_AUTHOR_57: discussion block"
in LMS, the discussion block loads with an error modal:

[2022-10-24 17:38] cmltaWt0 opened #211 "[Olive Testing] Android plugin"
## Testings env
- Android emulator
- AVD Pixel_3a_API_33_arm64_v8a
- LMS: https://olive.demo.overhang.io
- Apk download URL: https://mobile.olive.demo.overhang.io/app.apk

## Login
State: Failed
STR:
- Click on login link
- Enter email and password
- Click login

![Screenshot 2022-10-24 at 19 48 04](https://user-images.githubusercontent.com/877401/197588393-82024b8e-8201-467f-a9bf-6555e0baf156.png

[2022-10-24 19:16] regisb commented on #211
I can confirm that logging in is impossible. I'm getting the following logs from the server:

[code]

LMS is replying to POST /oauth2/access_token/ with a [401 Unauthorized](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/401) error. I have no idea why.

If someone with mobile dev skills reads this, I could use a hand...

[2022-10-24 19:19] michaelwheeler opened #212 "Missing footer links during Olive testing"
The footer on legacy pages was missing the following links specified in `TC_LEARNER_3`:

- FAQ
- Blog
- Donate
- Privacy Policy

![image](https://user-images.githubusercontent.com/763388/197607586-50d6520a-e264-4972-82eb-dd6281586f1c.png)

MFE is missing all links, but I'm not sure if that is considered outside the scope of this test.

[2022-10-24 23:44] mariajgrimaldi commented on #207
Hi there! Something similar happened during the nutmeg testing: https://github.com/openedx/build-test-release-wg/issues/158#issuecomment-1127615140

[2022-10-24 23:55] mariajgrimaldi commented on #206
Some of these issues could be solved by adding codejail in the sandbox, since it's not installed by default. I'll include it after I finish with olive support. I'll let you know :)

[2022-10-25 03:31] sambapete commented on #207
Thanks for pointing it out @mariajgrimaldi

[2022-10-25 12:42] cmltaWt0 commented on #211
@regisb Custom Android build using oauth client credentials from https://olive.demo.overhang.io/oauth2/access_token/ works fine (at least Login step). So I suspect incorrect oauth client_id/token being added during the apk build step. Need to review the build process.

[2022-10-25 13:12] sarina opened #213 "(ignore) workflow test"
--

[2022-10-25 13:15] sarina opened #214 "(ignore) workflow test"
..

[2022-10-25 13:30] sarina opened #215 "(ignore) wf test 3"

[2022-10-25 13:31] #131 closed

[2022-10-25 13:35] sarina opened #216 "(ignore) wf test 4"

[2022-10-25 13:39] #216 closed

[2022-10-25 13:40] sarina opened #217 "(ignore) wf test 5"

[2022-10-25 13:41] #217 closed

[2022-10-25 13:53] #215 closed

[2022-10-25 13:53] #214 closed

[2022-10-25 13:53] #213 closed

[2022-10-25 14:15] sambapete opened #218 "Demonstration Course not exporting in Open edX Olive Demo Server"
An attempt on exporting the Demonstration Course course-v1:edX+DemoX+Demo_Course failed over the week-end on the previous Open edX Olive Demo Server. Something about a transcript file not being available.

![197574595-cfc6233c-ade6-4bd8-95e2-a35e91a71fd5](https://user-images.githubusercontent.com/8906669/197797255-a42d502b-15d3-48e8-a758-d66e671a65e1.png)

A second attempt on exporting the Demonst

[2022-10-25 16:02] cmltaWt0 opened #219 "[TC_AUTHOR_96] Learn more link 404"
Learn more link point to non existent page.

STR:
- open Files & Uploads
- Click delete asset button
- Click on Learn more link

AR:
- opening non existent page in edx.readthedocs.io

ER:
- opening help page (to decide which one)

<img width="1454" alt="TC_AUTHOR_96" src="https://user-images.githubusercontent.com/877401/197824155-79db9c9e-ff50-42b1-b149-67993e3fadee.png">

[2022-10-25 19:25] cmltaWt0 commented on #211
Tested on the latest deploy/build.
Login works!
<img width="427" alt="image" src="https://user-images.githubusercontent.com/877401/197863883-7edb6ef3-ee3d-4f9e-a3f5-bf6328e464cf.png">

To be continue...

[2022-10-26 19:26] arbrandes commented on #200
It was raised [in the forum](https://discuss.openedx.org/t/whats-the-deal-with-tpa-hinted-links-in-nutmeg/8436/23?u=arbrandes) that frontend-app-authn has a (possibly) pressing reason to be included now, so I'm adding it to the championed list.

[2022-10-27 09:54] fayyazahmed66 opened #220 "[TC_AUTHOR_36 > Enable course highlight emails ] Emails are not coming after enabling it"
**Steps to reproduce:**

1. Go to the studio with valid admin credentials https://studio.olive.demo.overhang.io/course/course-v1:edly+edly0001+2022
2. enable course highlight emails
3. add highlights in the course section
4. check if any email received to the learner

**Expected result:**
As per flow, the learner must receive highlights emails after enabling the feature

**Actual result:**
Emails

[2022-10-27 09:56] fayyazahmed66 commented on #220
label: olive testing

[2022-10-27 10:02] fayyazahmed66 opened #221 "[TC_LEARNER_17 > Configure course email preferences] email check is not working for me"
I think this issue is linked with https://github.com/openedx/build-test-release-wg/issues/220 . Once emails start working it will be fixed.

[2022-10-27 10:03] fayyazahmed66 commented on #221
label: olive testing

[2022-10-27 10:09] fayyazahmed66 opened #222 "[TC_LEARNER_41] > date and course outline pages are blank"
**Steps to reproduce:**

1. Go to the progress page on any course in LMS
2. check the `date` and `course outline` pages

**Expected result:**
Pages should have some data in them.
**Actual result:**
Pages are blank
<img width="908" alt="progress page" src="https://user-images.githubusercontent.com/55684124/198257155-7aea121f-e88b-4b86-9d44-62f1170cbd6d.png">

### PRs

- [x] https://github.com/opene

[2022-10-27 10:10] fayyazahmed66 commented on #222
label: olive testing

[2022-11-01 08:40] fayyazahmed66 opened #223 "[Instructor dashboard > Open responses] > Styling and layout should be improved"
**Steps to reproduce:**

1. Go to the instructor dashboard on LMS
2. check the Open responses tab
**Expected result:**
Page styling and layout should be properly visible and styled
**Actual result:**
The text is cutting and the styling is not up to the mark.

<img width="1679" alt="instructor dashboard allignment" src="https://user-images.githubusercontent.com/55684124/199193246-2fc7b9ac-bf26-4af6

[2022-11-01 08:40] fayyazahmed66 commented on #223
label: olive testing

[2022-11-01 08:48] fayyazahmed66 opened #224 "[LMS > Courses page > User menu dropdown] > Logout button is hidden behind refine your search card"
**Steps to reproduce:**

1. Go to the courses page
2. click on the user menu
3. check the logout button
**Expected result:**
All menus should be visible
**Actual result:**
The logout button is hidden

<img width="1679" alt="logout layout" src="https://user-images.githubusercontent.com/55684124/199194649-a2c5296b-fc71-43b8-9e5e-9a4f7e9c12e1.png">

[2022-11-01 08:48] fayyazahmed66 commented on #224
label: olive testing

[2022-11-01 09:05] fayyazahmed66 opened #226 "[Register new account/ reset password] Emails are going to spam"
**Steps to reproduce:**

1. Register a new user or reset your password
2. Check your inbox
**Expected result:**
Email should come to inbox
**Actual result:**
Emails coming to spam
<img width="1678" alt="spam" src="https://user-images.githubusercontent.com/55684124/199198758-a7b9f752-ed8b-48ee-aab0-c30f7a5536c8.png">

[2022-11-01 09:05] fayyazahmed66 commented on #226
label: olive testing

[2022-11-02 13:51] mariajgrimaldi commented on #221
label: olive testing

[2022-11-02 13:52] mariajgrimaldi commented on #224
label: olive testing

[2022-11-02 14:05] mariajgrimaldi commented on #212
label: olive testing

[2022-11-02 15:29] DeanJayMathew commented on #226
@fayyazahmed66 this is normal for Open edX® so to say. The SMTP service is enabled, but the server is not configured for email authentication (DKIM, SPF, etc.). This means that emails do get sent, but it's very likely that they will end up in spam, depending on your email client configuration.

Should we add this to the list of post-launch test cases? That way we can wait for someone in our team t

[2022-11-02 15:38] DeanJayMathew commented on #218
@sambapete and @mariajgrimaldi it seems you have passed the test, so we can mark it passed yes, in my opinion.

However you have found a new bug, i.e. the bad version of the demo course is being used in the Overhang Instances. For now, I have added this issue to the new tab in our test sheet named List of Bugs With No Test Cases as NETCB_5 so I can follow up with @regisb at an appropriate time.

[2022-11-02 15:59] DeanJayMathew commented on #218
@sambapete has given me a better understanding of this issue. We surely cannot have the "broken" demo course in Olive as it includes a failed test. We have another month to rectify this :)

[2022-11-06 18:09] arbrandes commented on #200
The final list of nominees:

* frontend-app-course-authoring
* frontend-app-discussion
* frontend-app-ora-grading
* frontend-app-learner-record
* frontend-app-authn

Their status against the [list of requirements](https://openedx.atlassian.net/wiki/spaces/COMM/pages/3561521275/Requirements+for+an+MFE) is also being kept in the wiki:

https://openedx.atlassian.net/wiki/spaces/COMM/pages/3571056752/

[2022-11-07 10:53] cmltaWt0 commented on #211
## Additional testing for Android app

### Profile editing
Steps:
- Set Age on the Account Web page `/account` (13+ years)
- On Mobile Open profile
- Click Edit
- Change Location
- Change Spoken Language
- Add About me
- Upload Icon image
- Check changes on Profile (https://apps.olive.demo.overhang.io/profile/u/<username>) and Account `/account` page

Status: PASS

<img width="358" alt="image" src

[2022-11-07 11:32] cmltaWt0 opened #227 "[TC_LEARNER_39] Notes failed to load by default"
Notes failed to load by default.

Steps:
- Enable Notes in a Course Advanced settings
- Open Course as a Student
- Check Notes tab
- Open any Unit in a subsection
- Select text to note
- Save the note
- Check the Note tab
- Return to the Course Subsection
- Check that the prviously noted text is selected and can be seen

Status: FAILED

![image](https://user-images.githubusercontent.com/877401/200

[2022-11-07 12:08] ghassanmas commented on #211
@cmltaWt0 thanks for the detailed input!.. I was going over the logs of edx-app-android to see if there might be already a fix for the last failed test and I found this openedx/edx-app-android/pull/1694 which I think is realted to the last test, if yes then we should add it to #205

[2022-11-07 12:36] regisb commented on #207
AFAIK this issue is related to the demonstration course itself. We should probably open an issue in the upstream repository: https://github.com/openedx/openedx-demo-course

[2022-11-07 16:26] DeanJayMathew commented on #211
Awesome jobs! So @cmltaWt0 I presume we should add all these as new test cases. These will be the first new test cases added to the sheet since testing began. I endeavour to add them tomorrow.

[2022-11-08 07:24] fayyazahmed66 opened #228 "[TC_LEARNER_1] > Dashboard > email setting > Text is not properly visible"
**Steps to reproduce:**

1. Go to the LMS >  dashboard
2. Check the email setting button on the course card
**Expected result:**
The pop-up should be responsive
**Actual result:**
The pop-up isn't responsive

![Screenshot_20221025-170249](https://user-images.githubusercontent.com/55684124/201055670-7126ea7f-3cd1-4002-baf8-e5e1d118e2f5.jpg)

### PRs

- [ ] https://github.com/openedx/edx-platform/pu

[2022-11-08 07:26] fayyazahmed66 commented on #228
label: olive tasting

[2022-11-08 11:47] ARMBouhali commented on #206
@mariajgrimaldi I've got reproduced the exact same error in a tutor-nightly installation.

    [Errno 2] No such file or directory: 'TMPDIR=tmp'

I could make the XBlocks work using the [unofficial codejail service tutor plugin by eduNEXT ](https://github.com/eduNEXT/tutor-contrib-codejail). But it won't count as a success since codejail is already installed along with edx-platform and should work

[2022-11-08 14:31] arbrandes commented on #200
From yesterday's meeting, BTR have elected the following two new MFEs for potential inclusion, pending volunteers to fix individual issues.  If individual issues listed below are not fixed in the next two weeks (leaving two further weeks for testing/translation), they will not be included:

* frontend-app-course-authoring:
  * flag to hide proctoring exam settings (if not already there on the side

[2022-11-08 14:31] #200 closed

[2022-11-14 09:12] regisb commented on #211
Android app was upgraded to [3.2.2](https://github.com/openedx/edx-app-android/releases/tag/release%2F3.2.2) on the Olive demo server. Can you please run the failed tests again?

[2022-11-15 12:54] mariajgrimaldi commented on #220
Emails were being sent to the spam folder before, can you test again to see if this is working? Also, [the docs](https://edx.readthedocs.io/projects/edx-partner-course-staff/en/latest/manage_live_course/automatic_email.html#course-highlight-email) say the emails are sent depending on the section due date, was this considered during the setup?

[2022-11-15 12:56] mariajgrimaldi commented on #221
Can you describe how we can replicate this? so we can discard or not if this is related to 220

[2022-11-15 13:19] mariajgrimaldi commented on #226
I've registered some users, and I'm getting the activation emails just fine. Can you test this again? should the server setup be a prerequisite for the demo installation?

[2022-11-15 13:23] mariajgrimaldi commented on #222
I believe this issue is related to the [learning MFE](https://github.com/openedx/frontend-app-learning/blob/5461c0816972df3ee5b0b796b42b451109eb780e/src/course-home/progress-tab/related-links/RelatedLinks.jsx#L35), since the path should be:
`/learning/course/course-v1:edX+DemoX+Demo_Course/home`
Instead of just:
`/course/course-v1:edX+DemoX+Demo_Course/home`, I don't know why this is behaving like

[2022-11-15 14:11] mariajgrimaldi commented on #206
While secure code execution is enabled, you'll need a sandbox with special permissions & setup to execute problems with custom code, this is what the codejail plugin offers. That's why is failing. In case you want to execute unsafe code, you'll need to add this to your settings:
`COURSES_WITH_UNSAFE_CODE = ["regex for courses with unsafe code"]`
Which needs to be added manually. Now, the demo is s

[2022-11-15 14:29] mariajgrimaldi commented on #210
The forum plugin is already enabled in the demo installation, can you try again? thanks

[2022-11-15 14:36] mariajgrimaldi commented on #209
As far as I know, the whole traceback is printed as staff debug info when you're a staff member.

[2022-11-15 15:23] kdmccormick commented on #222
@mariajgrimaldi hmmm, interesting. The path `/course/course-v1:edX+DemoX+Demo_Course/home` actually looks correct; it's just that the path is meant to be *relative to the root of the learning mfe*, which in our case is `https://apps.olive.overhang.io/learning`. The learning mfe makes this same assumption [in many other places](https://github.com/openedx/frontend-app-learning/blob/5461c0816972df3ee

[2022-11-15 17:05] sambapete commented on #226
I just want to point out that we would never have received our own activation emails for our accounts on the demo server if there was a problem. It might depend on the rules used by the service receiving the emails?

[2022-11-16 06:47] fayyazahmed66 commented on #220
@mariajgrimaldi  let me test it again by following your instructions and document. I will update you here.

[2022-11-17 14:56] jfavellar90 commented on #227
According to my investigations, this is a problem related to a discrepancy between the management of the notes in the MFE and the Iframe serving an xblock unit content.

**How it's decided if the student notes must be rendered when a courseware unit page is loaded?**

As I already mentioned, the unit content is loaded through an Iframe, for instance, the content [here](https://apps.olive.demo.over

[2022-11-17 16:55] regisb commented on #227
Thank you for this great analysis Jhony.

So if I understand you correctly, the bug comes from the LMS which does not send the right reply to the API call?

[2022-11-17 17:22] jfavellar90 commented on #227
@regisb for me it seems that way. When you call the LMS API (for instance https://olive.demo.overhang.io/api/courseware/course/course-v1:edX+DemoX+Demo_Course) you'll always get notes visibility in `true`, no matter the user notes visibility preference. [This is the view](https://github.com/openedx/edx-platform/blob/open-release/olive.master/openedx/core/djangoapps/courseware_api/views.py#L363) ha

[2022-11-20 16:28] pdpinch opened #229 "Olive Release Notes"
### Things that _could have been done_  before the release was cut
- [x] find the date for the previous release (for Nutmeg, this was April 11, 2022)
- [x] find the date for the next release (for Olive, this was October 11, 2022)
- [x] Create a wiki page for the _next_ release, on the [Open edX Release Planning](https://openedx.atlassian.net/wiki/spaces/COMM/pages/13205845) wiki page ([Palm](https

[2022-11-21 10:14] mariajgrimaldi commented on #206
label: olive testing

[2022-11-21 10:14] mariajgrimaldi commented on #209
label: olive testing

[2022-11-21 10:14] mariajgrimaldi commented on #210
label: olive testing

[2022-11-21 10:39] mariajgrimaldi commented on #227
label: olive testing

[2022-11-21 13:12] mariajgrimaldi commented on #222
Thanks, @kdmccormick, for the detailed explanation!

[2022-11-22 09:32] DeanJayMathew commented on #220
label: olive release blocker

[2022-11-22 09:38] DeanJayMathew commented on #206
@ARMBouhali let me know if I can help test these now that codejail is added to the installation by @mariajgrimaldi.

[2022-11-22 09:52] DeanJayMathew commented on #208
@ARMBouhali for me the Iframe is working: https://apps.olive.demo.overhang.io/learning/course/course-v1:PRIVATE+mineminemine+whataboutsmee/block-v1:PRIVATE+mineminemine+whataboutsmee+type@sequential+block@513f5e52d8384024a09f72e13438f02e/block-v1:PRIVATE+mineminemine+whataboutsmee+type@vertical+block@ada4ca4f10cf4caeb939818f3aadffa7

[2022-11-22 09:57] DeanJayMathew commented on #208
@ARMBouhali for me the zooming image tool is also not working in the LMS view.

[2022-11-22 10:58] DeanJayMathew commented on #207
@sambapete can we mark this as resolved? I just exported and imported a new course with success.

[2022-11-22 10:58] mariajgrimaldi commented on #206
As part of my codejail testing efforts, I tested:

- [ ]     Custom JavaScript Display and Grading
- [ ]     Custom Python-Evaluated Input
- [ ]     Problem with Adaptive Hint

Uploading 2022-11-22 06-53-58.mp4…

[2022-11-22 10:59] DeanJayMathew commented on #228
label: olive testing

[2022-11-22 11:03] DeanJayMathew commented on #212
@michaelwheeler thank you for doing this test case. I will update the test case to be in line with Tutor's Olive instead of the legacy interface.

You can mark this as resolved I think.

[2022-11-22 11:17] DeanJayMathew commented on #221
@fayyazahmed66 @mariajgrimaldi

I can confirm this is now passed. Please mark as resolved.

[2022-11-22 11:58] DeanJayMathew commented on #220
label: release blocker

[2022-11-22 13:18] DeanJayMathew commented on #226
It's working for me fine with GSuite email.

[2022-11-22 13:27] DeanJayMathew opened #230 "TC_AUTHOR_56 & 57: STUDIO: CONTENT: OUTLINE: UNIT: Edit discussion display name, category and subcategory"
**Summary of Issue:** When adding a discussion component at the unit level, the category name and subcategory name that you add should appear in the left pane of the main discussion forum for the course. However, the category name and subcategory name that I added do not appear in the left pane.

**Steps to reproduce:**

1. Add a discussion component at the Unit level.
2. Edit the display name, ca

[2022-11-22 13:28] DeanJayMathew commented on #230
label: olive testing

[2022-11-22 13:30] DeanJayMathew commented on #230
label: release blocker

[2022-11-22 13:44] DeanJayMathew opened #231 "TC_AUTHOR_60: CONTENT LIBRARIES"
**Summary of Issue:**

In Studio we have two options to add components from a Content Library, namely (1) Library Sourced Content and (2) Randomized Content Block:

<img width="946" alt="Screen Shot 2022-11-22 at 20 34 00" src="https://user-images.githubusercontent.com/9986523/203327910-fe51e3e5-662e-449a-abaa-4ac5fb3a2fa1.png">

I can create Libraries in Studio Home fine. From the two options men

[2022-11-22 13:45] DeanJayMathew commented on #231
label: olive testing

[2022-11-22 13:46] DeanJayMathew commented on #231
label: release blocker

[2022-11-22 13:52] DeanJayMathew opened #232 "TC_AUTHOR_64: STUDIO XBLOCKS: FREETEXT RESPONSE"
**Summary of Issue:**

We need someone to install free text response and test it. It seems no free text response comes default with Tutor as far as I know.

**Steps to reproduce:**

1. In Studio go to Advanced Setting and try add "freetextresponse" or "freetext" to the Advanced Modules List.
2. In Studio at the Unit level, try add an Advanced Component but there is no option in the dropdown.

**Ex

[2022-11-22 13:52] DeanJayMathew commented on #232
label: olive testing

[2022-11-22 13:53] DeanJayMathew commented on #232
label: release blocker

[2022-11-22 14:11] michaelwheeler commented on #212
@DeanJayMathew Sorry, I'm not sure that I follow your meaning. Both legacy-rendered pages and MFE-rendered pages were missing at least some of the specified footer links on the Olive test instance.

[2022-11-22 14:17] DeanJayMathew commented on #219
label: release blocker

[2022-11-22 14:20] DeanJayMathew commented on #219
label: olive testing

[2022-11-22 14:47] sambapete commented on #232
It's not a default XBlock. This brings us back to the question of what is supported or what we want to support by default with Tutor or even Open edX. This should be a question for both the Marketing working group and the Build Test Release working group.

[2022-11-22 14:52] sambapete commented on #207
Yes. The only problem I have encountered is with the demo course that is imported by Tutor.

[2022-11-23 00:28] jfavellar90 commented on #227
I decided to publish this issue in the [frontend-app-learning](https://github.com/openedx/frontend-app-learning/issues/1005) repo, I consider the problem resides there, even when the solution could involve a change in edx-platform repo.

[2022-11-23 00:42] jfavellar90 opened #233 "[TC_LEARNER_39] Notes tab linking not working"
Links in the notes tab are not redirecting to the right units containing student notes.

Steps:

Enable Notes in a Course Advanced settings
Open Course as a Student
Check Notes tab
Open any Unit in a subsection
Select text to note
Save the note
Advance to the next unit in the sequential
Check the Notes tab
Follow the note link in the Notes tab
Check you're in the last visited unit, not the one con

[2022-11-23 00:44] jfavellar90 commented on #233
label: olive testing

[2022-11-23 07:24] mtyaka commented on #201
This is now done, all PRs have been merged into the Olive branch.

[2022-11-23 07:24] #201 closed

[2022-11-24 17:23] pdpinch commented on #232
Is this the xBlock in question? https://github.com/Stanford-Online/xblock-free-text-response ?

[2022-11-24 17:37] pdpinch opened #234 "Release Notes: Update instructions on persistent grades"
With the release of Olive, the previously optional persistent grades feature is now required. The flags for enabling persistent grades, and the code that handled non-persistent grades were removed as part of DEPR ticket https://github.com/openedx/public-engineering/issues/29 (PR https://github.com/openedx/edx-platform/pull/30540).

Documentation for enabling persistent grades was first released wi

[2022-11-24 17:41] pdpinch commented on #234
@syed-awais-ali having worked on the Hawthorne documentation, do you have any insight into this?

@nsprenkle @UvgenGen having worked on the recent DEPR tickets, can you answer any of these questions?

[2022-11-24 18:04] sambapete commented on #207
I will close this issue as it only applies to the demo course. Export of other courses do work.

[2022-11-24 18:04] #207 closed

[2022-11-24 19:25] sambapete commented on #232
Originally, yes. But I've made a fork for our own use at EDUlib a few months ago from https://github.com/openedx/xblock-free-text-response

It probably ended up in the openedx organization after Stanford closed their own Open edX instance?

[2022-11-24 19:27] sambapete commented on #232
I currently install it in own Tutor installation with the following lines in config.yml
OPENEDX_EXTRA_PIP_REQUIREMENTS:
- git+https://github.com/openedx/xblock-free-text-response.git

[2022-11-25 13:47] arbrandes commented on #232
I'm curious: why is this a test case?  Is there consensus that this should be part of the default installation?

It feels like this should be a more general "which custom XBlocks do we want to add to the default set".  The XBlocks would then be subject to a checklist like [the MFEs'](https://openedx.atlassian.net/wiki/spaces/COMM/pages/3561521275/Requirements+for+an+MFE).

[2022-11-25 14:32] sambapete commented on #232
It was a test case probably because Dean took it from my personal list of test cases for our installation when we originally created the new test plan.

But I agree we should have a list of XBlocks to test, but previously when we raised that question we were always reminded that we want to test the build of a default Open edX installation and not necessarily XBlocks. But before we do that, we need

[2022-11-25 14:40] DeanJayMathew commented on #232
Hi All, sorry for the late reply!

Pierre, thanks, yes you're right it does not come with the standard
distribution of Open edX/Tutor. There's also a test case for invideoquiz
which I should deprecate too, until such a time it gets added to the
standard distro, if ever. Thanks for reminding me.

Peter, we at ABC also fork someones freetextresponse, I think we've even
used a fork of a fork before.

[2022-11-25 14:46] DeanJayMathew commented on #232
Nice point, Pierre. Perhaps having a test case for the upgrade itself would
be a good idea, and quite a task that would be.

On Fri, 25 Nov 2022, 21:32 Pierre Mailhot, ***@***.***> wrote:

[2022-11-28 08:41] fayyazahmed66 commented on #226
I have verified it again. Emails are coming fine now.

[2022-11-28 08:42] #226 closed

[2022-11-28 13:59] kdmccormick commented on #152
Late update: This is being solved in time for Olive (🤞🏻) with:
* https://github.com/openedx/frontend-wg/issues/103 and
* https://github.com/openedx/wg-developer-experience/issues/87

Closing this since the discovery work has been done for a while.

[2022-11-28 13:59] #152 closed

[2022-11-29 11:54] mariajgrimaldi commented on #231
I tested this in my local environment using tutor olive and got the same error. I'll attach the error from the CMS logs:
[code]
I'm unfamiliar with blockstore so I don't know how to configure this. Can we confirm we're getting the same error in the testing instance?

@regisb: can you help us check the logs? thanks!

[2022-11-29 12:24] mariajgrimaldi commented on #228
who should we refer this to? maybe the frontend wg? 🤔

[2022-11-29 13:02] arbrandes commented on #231
@DeanJayMathew, I think the Library Sourced block is exclusive for use with Blockstore.  I believe we can let this one pass, as I don't think anybody intends to use Blockstore in production, specifically not with Tutor.

[2022-11-29 13:17] #221 closed

[2022-11-29 13:24] mariajgrimaldi commented on #220
Let me know if you need help with this :)

[2022-11-29 13:42] mariajgrimaldi commented on #230
I tested this using the Demonstration Course and it seems to be working. Not sure why didn't work for you 🤔. Let me know if this problem persists.

![image](https://user-images.githubusercontent.com/64440265/204544179-2eacb45f-5edd-43f9-a291-9bd2e9ea31c7.png)

![image](https://user-images.githubusercontent.com/64440265/204544075-639831e9-d9f4-4d4b-933a-56f29446f2a4.png)

[2022-11-29 13:51] DeanJayMathew commented on #231
@arbrandes @mariajgrimaldi

Well noted, with thanks!

If it's not going to be used, should we not remove the "Library Sourced Content" from the Open edX® standard distribution? Is there a formal procedure to allow/block these rarely-used features from making their way into the standard distribution?

[2022-11-29 14:00] DeanJayMathew commented on #230
@mariajgrimaldi this is a big relief thank you for testing this one! Maybe my eyes were not working properly the first time I tested it.

It's also working for me now so I will close this issue.

[2022-11-29 14:00] #230 closed

[2022-11-29 14:03] mariajgrimaldi commented on #206
There's an issue with the Circuit Schematic Builder, so I opened a PR that solves it 😅

[2022-11-29 15:13] DeanJayMathew commented on #207
We'll have to ensure this is resolved for Palm I guess.

[2022-11-29 15:19] DeanJayMathew commented on #232
@sambapete @arbrandes @pdpinch

A new Test Case has been added to test the actual software version upgrade works and is titled **TC_DEVOPS_13** in the Olive Test Sheet: https://docs.google.com/spreadsheets/d/128g8Rfx-Eu8vjeSPw7E7eU0-Ss_oF232kmZEJvM2NmM/edit#gid=0

[2022-11-29 15:45] mariajgrimaldi commented on #207
I can work on this in the meantime.

[2022-11-29 17:47] regisb commented on #231
I can confirm that I'm seeing a similar error on the backend:

[code]

I can verify that the setting is None:

[code]

I have no idea why we are going through this particular piece of code when blockstore is not enabled. I'm taking the liberty to ping @bradenmacdonald, as the designated blockstore expert :)

[2022-11-30 04:05] #232 closed

[2022-11-30 04:26] DeanJayMathew commented on #206
label: release blocker

[2022-11-30 04:40] DeanJayMathew commented on #209
label: release blocker

[2022-11-30 04:43] DeanJayMathew commented on #210
@ARMBouhali this is passed now. You can close this issue. With thanks!

[2022-11-30 05:03] DeanJayMathew commented on #212
@michaelwheeler thanks for the follow up! What I meant was, I was unaware Tutor had removed those links in the legacy and MFE front ends so my Test Case is out of date so to say. We actually need two test cases, one for legacy and one for MFE, until such a time that legacy is deprecated.

But let's take a closer look. The current Test Case lists the following links:

**About
FAQ
Blog
Contact
Donat

[2022-11-30 05:17] DeanJayMathew commented on #153
Hi @NeOneSoft I'm so sorry for the late reply my friend! I was not used to GitHub at that time. Let's close this yes!

[2022-11-30 05:17] #153 closed

[2022-11-30 08:26] ARMBouhali commented on #209
I've retested the numerical input and I'm getting the expected message to show without debug info.
![image](https://user-images.githubusercontent.com/10594967/204745086-af07b80a-dd58-478f-a861-186045f9fe4a.png)

That's it for this issue so I'm closing it

[2022-11-30 08:27] ARMBouhali commented on #209
I've retested the numerical input and I'm getting the expected message to show without debug info.
![image](https://user-images.githubusercontent.com/10594967/204745086-af07b80a-dd58-478f-a861-186045f9fe4a.png)

That's it for this issue so it needs to be closed

[2022-11-30 08:31] ARMBouhali commented on #208
@dean The iframe is probably working as you have seen but the default xBlock iframe content is probably what's not loading correctly.
Can anyone confirm that?

[2022-11-30 10:11] #209 closed

[2022-11-30 22:00] bradenmacdonald commented on #231
Using Library Sourced Block requires that you have Blockstore enabled. Blockstore now ships by default with Open edX so using it is merely a matter of setting the correct configuration, but it is not enabled out of the box. I am not sure why Library Source Content _is_ enabled out of the box.

I think the correct fix is one of these two things:
* When you click the green "Library Content" button,

[2022-11-30 22:01] bradenmacdonald commented on #231
BTW [here](https://github.com/openedx/edx-platform/blob/cd1d278ba2eaf16ae1efaf52a359a3d05727f229/xmodule/library_sourced_block.py#L127-L144) is where to add that check and there is already an example of how to display the error message.