[2021-02-05 18:44] BbrSofiane opened #1 "Update MFE deployer configuration with recent variable additions"
One limitation of the current MFE deployer configuration in MFE_ENVIRONMENT_DEFAULT is that whenever new environment variables are added to MFEs, they must manually be added here too.

https://github.com/edx/configuration/blob/master/playbooks/roles/mfe/defaults/main.yml#L89

Recently some improvements have been made in the MFEs to allow for configurable logos and favicons, as shown here:

https:/

[2021-02-07 20:52] BbrSofiane opened #2 ""Sign in with your company or school" link on registration page needs more finesse"
Should this link appear on Open edX sites? Under what conditions? Where should it go?

https://openedx.atlassian.net/browse/BTR-52

[2021-02-07 23:40] BbrSofiane opened #3 "Evaluate Tutor as a candidate for community installation"
Work with the community in evaluating Tutor as a candidate for the “official” community installation method.

https://openedx.atlassian.net/browse/OEROADMAP-21

https://github.com/edx/open-edx-proposals/pull/178

https://openedx.atlassian.net/browse/BTR-43

[2021-02-08 15:01] BbrSofiane opened #4 "Circle CI is broken in edx-platform"
@felipemontoya can you please add more details to this ticket?

https://openedx.atlassian.net/browse/BTR-19

[2021-02-08 15:07] BbrSofiane opened #5 "Write Juniper -> Koa upgrade instructions"
Empty page here: https://openedx.atlassian.net/wiki/spaces/COMM/pages/2011365498/Koa+Upgrade+instructions

[2021-02-08 15:09] BbrSofiane opened #6 "The Gradebook MFE makes undue calls to analytics services"
![mfe analytics](https://user-images.githubusercontent.com/13796098/107238686-0af10f00-6a20-11eb-89bf-e8e645dc742e.png)

I really don’t want my adblocker to report calls to segment or newrelic when I test an MFE without credentials for these services.

[2021-02-08 15:15] BbrSofiane opened #7 "All emails include the edX.org logo which is a sailthru tracking image"
This bug was first reported here: https://discuss.overhang.io/t/change-edx-logo-in-activation-mail/1238

The problem is that all emails sent to Open edX users (including e.g: email address confirmation messages) include a prominently visible, hard-coded edX.org logo which appears to be a tracking image: https://media.sailthru.com/595/1k1/8/o/599f355101b3f.png

This is an absolute horror because it

[2021-02-08 15:18] BbrSofiane opened #8 "Generating static assets is too slow because of obsolete Webpack version"
We did a brief study on the Webpack config where BTR-5 reported that uglify plugin is supposed to be used twice and the size of the output is same with or without the plugin.

On further investigation it was found the UglifyJsPlugin is just called on prod build and this plugin is not solely responsible for slowing down the build.

The proposal was also to update `devtool:eval` which can be a faste

[2021-02-08 15:21] BbrSofiane opened #9 "Cannot set submission delay on non UTC server"
In an exercice, you can set in Studio a delay that a learner has to wait before submitting a new answer.

This worked fine in Ironwood but one of our testers found a problem the day before we were going to migrate our production systems from Ironwood to Juniper.

We put a delay of 10 seconds between submissions. It worked fine in Ironwood and previous releases. But in Juniper it would display an e

[2021-02-08 15:21] BbrSofiane commented on #9
https://github.com/edx/edx-platform/pull/25818

[2021-02-08 15:26] BbrSofiane opened #10 "The LMS register page includes incorrect links to honor code/privacy policy pages"
![register](https://user-images.githubusercontent.com/13796098/107240530-ed24a980-6a21-11eb-9c0c-a9a1795dfcc3.png)

In the default theme, there might not be any honor code page, or even a privacy policy. In that case, the register form should not link there.

Also, we should be able to remove the “Support education research by providing additional information” checkbox (and actually the entire fea

[2021-02-08 15:28] BbrSofiane opened #11 "Create an Open edX contributor's guide"
Andrés González  is writing [Open edX contributor's guide](https://openedx.atlassian.net/wiki/spaces/COMM/pages/1682211674/Open+edX+contributor+s+guide).

https://openedx.atlassian.net/browse/BTR-9

[2021-02-11 09:04] BbrSofiane opened #12 "Native installation failure on Ubuntu 20.04"
https://discuss.openedx.org/t/failed-to-install-koa-in-aws-ubuntu-20-04-mysql-client-error/4132/13

https://openedx.atlassian.net/browse/BTR-61

[2021-02-11 09:05] #12 closed

[2021-02-11 16:30] nedbat commented on #12
Fixed in 87199d5fd, cherry-picked from https://github.com/edx/configuration/pull/6248

[2021-02-15 17:18] BbrSofiane commented on #10
@regisb any updatees on this?

[2021-02-15 17:19] BbrSofiane commented on #4
@felipemontoya any updates on this?

[2021-02-15 17:30] felipemontoya commented on #4
Hey @BbrSofiane,
The update we have is that we have this PR https://github.com/edx/edx-platform/pull/25725. However after some talk with arch members at edX we realized it would be more useful if we turned this into github actions instead of circle ci.

[2021-02-15 17:30] felipemontoya commented on #4
@mariagrimaldi fyi

[2021-02-15 17:31] felipemontoya commented on #4
Also @BbrSofiane where should we write this? here or the jira ticket?

[2021-02-15 17:35] BbrSofiane commented on #4
@felipemontoya here, the BTR group is moving to github projects and issues to manage tasks.

[2021-02-15 19:57] BbrSofiane commented on #4
@felipemontoya am I ok to close this issue if the PR is not going to be merged?

[2021-02-17 18:27] arbrandes commented on #4
@BbrSofiane, looks to me like its fine to move this to "Not Doing", as far as the group is concerned.  (Which is what I just did.)

[2021-02-17 18:27] #4 closed

[2021-02-17 18:42] arbrandes commented on #11
@BbrSofiane, can we add @angonz as an assignee, here?  I think we'll need to add him to the org or project, somehow.

[2021-02-17 18:46] BbrSofiane commented on #11
@arbrandes  We can add him to the org but I think once he comments on the issue we can add him as assignee. I had the same issue with Felipe but after he replied I was able to assign the issue to him.

[2021-02-17 19:03] arbrandes commented on #11
Ah, ok, great.  @angonz, you there? ;)

[2021-02-17 20:15] felipemontoya commented on #4
Yeah, I also agree with moving this to not doing. We will still work on it on our own time, but it does not block any other work or release for this group.

[2021-02-17 22:34] angonz commented on #11
Hi there! I'm here!

[2021-02-18 11:12] nedbat opened #14 "Django 2.2.19 security update"
It will be released on Feb 19: https://groups.google.com/g/django-announce/c/9S5JNGZr-Vo/m/azGrLKn-AgAJ

[2021-02-19 12:54] #14 closed

[2021-02-19 13:10] nedbat commented on #14
BTW, here's how I did it: https://discuss.openedx.org/t/django-2-2-19-security-update/4305

[2021-02-22 11:29] arbrandes opened #15 "Warn about courseware_studentmodule index addition in Lilac release notes"
We should incorporate a warning and instructions about the following PR specifically in the release notes, including the fake migration idea:

https://github.com/edx/edx-platform/pull/26617

[2021-02-22 11:32] BbrSofiane opened #16 "Test database migration introduced by edx-platform#26617"
Test database migration introduced by edx/edx-platform#26617 for community instances upgrading from Koa to Lilac.

More detail in the follow discuss post: https://discuss.openedx.org/t/potentially-very-slow-database-migration-about-to-merge-to-edx-platform/4309

[2021-02-22 11:36] #16 closed

[2021-02-22 15:33] nedbat opened #17 "Ignore this, just testing"
Hey, @kdmccormick, ignore this, I'm trying to reverse-engineer how GitHub offers type-ahead.

[2021-02-22 15:34] nedbat commented on #17
@kdmccormick, actually if you don't mind, could you make a comment on this issue?

[2021-02-23 16:19] nedbat-test-committer commented on #17
Hi, I'm new here, what's up?

[2021-02-23 16:21] nedbat opened #18 "Also ignore this"
Hey, another test!

[2021-02-24 06:08] regisb commented on #17
FINALLY Ned managed to automate himself!

[2021-02-25 13:40] #17 closed

[2021-02-25 13:40] #18 closed

[2021-03-01 10:48] cmltaWt0 opened #19 "Test koa.master before tagging as koa.3"
On ~~March 10~~ April 9 we need to test the deployment of the latest `koa.master` branch.

TODO:
- add DoD of the task

[2021-03-01 12:42] cmltaWt0 commented on #8
@BbrSofiane ready to take a ticket

[2021-03-01 17:15] pdpinch opened #20 "Identify in-progress work that won't land before Lilac is cut"
The BTR working group has proposed cutting the lilac release on April 9 instead of the planned May 9, in order to provide more time for testing before the official June 9 release date.

We would like to know if there are any PRs, epics or features in progress that would be missing from Lilac if we cut the release April 9 instead of May 9.

[2021-03-02 12:10] nedbat commented on #19
Why March 10th?  Koa.3 should be tagged on April 9th.

[2021-03-02 16:29] BbrSofiane opened #21 "Course outline visual bug when edxnotes is enabled for a course"
When edxnotes is enabled in a course, the following visual bug appears in the course outline.

![image](https://user-images.githubusercontent.com/13796098/109625223-f8f22000-7b36-11eb-8451-b0d04aa9c64f.png)

Tested on native install and tutor.

[2021-03-02 17:20] cmltaWt0 commented on #21
I believe I can take this task due to the fact we have the same task internally on RG.
One note here - I have to clear understanding of **expected result** of this bug.
The actual result is clear but not an ER (how should it work).

[2021-03-03 08:44] BbrSofiane commented on #21
I would expect the Annotator element to be only accessible within course content so this shouldn't appear outside of the course.

[2021-03-03 20:44] arbrandes opened #22 "Make sure notifier is working for Lilac"
Even though notifier is now unsupported and deprecated and work on edx-notifications is going to be abandoned , the group has decided to support notifier for Lilac, so as to give users at least one release to find a replacement.

See discussion at around 13:30 on the [2021-03-01 meeting](https://discuss.openedx.org/t/build-test-release-working-group-biweekly-meetup/2789/66).

[2021-03-03 20:58] nedbat commented on #22
The discussion starts at 7:40.

[2021-03-03 21:41] arbrandes opened #23 "Figure out what the Lilac release process is going to be"
We need to figure out what the exact Lilac release process is going to look like _before_ April 9th, when we're considering cutting `open-release/lilac.master`.  Such as:

* Who's going to do the cutting?  @nedbat or @arbrandes?
* Will we follow the exact procedure as the one done originally for `koa.master`?
* How, where, and by whom will the testing be done?
* What are the pre-lilac.1 milestones

[2021-03-05 11:23] cmltaWt0 commented on #22
**Current state**

1. Notifier service is completely removed from the configuration repo in https://github.com/edx/configuration/pull/6098
2. Deprecated in favor of https://github.com/edx/edx-notifications

[2021-03-08 10:51] regisb commented on #10
This can be resolved by defining the following settings in the LMS:

[code]

Setting these values, we obtain the following registration page (https://demo.openedx.overhang.io/register):

![register](https://user-images.githubusercontent.com/44319/110311690-71a81f00-8004-11eb-89d8-6351cd446403.png)

Unfortunately, the `REGISTRATION_EXTRA_FIELDS` setting is not yet documented: https://edx.readthedoc

[2021-03-08 12:50] pdpinch commented on #20
This is a harder question to answer than I had originally thought. I've collected a list of features that I believe are in progress, but it's hard to tell when they will land. I think each of these would only affect our decision 1) if they will land after April 9 but before May 9 and 2) if we (the open edX community) care about the feature. For any given feature, I'm not sure which of those questi

[2021-03-08 22:45] felipemontoya commented on #20
A big chunk of the Hooks extension framework falls in this category.
Some parts of it may be merged by April 9th, but certainly not all of it.

[2021-03-08 22:48] pdpinch commented on #20
@felipemontoya if we cut the release on May 9, would that make a difference?

[2021-03-08 23:12] felipemontoya commented on #20
That would directly affect 1) and according to my development estimates yes (by May 9 it should be done), but I am a known bad estimator.

About 2, I'm not sure, I imagine that adoption will take a while so even having some hooks in place by April 9th will still let whoever is interested get started using the framework.

[2021-03-15 12:11] arbrandes opened #24 "Backport Mongo 4.0 support to Koa"
[Mongo 3.6 is EOL on April 30th](https://mongosilverback.net/2020/08/06/mongodb-3-6-eol-announced/).

[2021-03-15 15:03] blarghmatey commented on #20
Another "feature" that's a bit more diffuse is the overall capability of theming MFEs and whether there is a cohesive way of doing that. Unless there's any concerted effort underway that we expect to land in the next 1-2 months I would say that it's not a decisive factor in when to cut the release, but still something worth identifying and understanding when it will land.

[2021-03-15 15:57] sarina commented on #20
I do know xModule -> xBlock is done! I will help follow up on these other things.

[2021-03-15 16:03] BbrSofiane commented on #24
@blarghmatey I've added you to the repo, once you accept or comment on this issue I can assign it to you.

[2021-03-15 16:05] blarghmatey commented on #24
If anyone has pointers to specific code changes that need to be backported that would help, otherwise I'll do some code spelunking and test things out in our QA environment.

[2021-03-15 16:14] NeOneSoft commented on #7
Hi!!! @arbrandes, @BbrSofiane, I would like to work on this issue if you are agree!!

[2021-03-15 16:16] ericfab179 commented on #1
Hi @BbrSofiane I would like to help solving this issue. A colleague at [edunext](https://www.edunext.co/) worked in the development of the MFE deployer and he can guide me through the process of fixing this.

[2021-03-15 16:25] BbrSofiane commented on #7
@NeOneSoft Thanks for taking this on!

[2021-03-15 16:27] BbrSofiane commented on #24
Pinging @cmltaWt0 in case he has any pointers

[2021-03-15 16:28] BbrSofiane commented on #1
Thanks @ericfab179!

[2021-03-15 16:41] cmltaWt0 commented on #24
Thanks @BbrSofiane

I've done some quick finding and it appears that backported code is already on koa.master ([commit](https://github.com/edx/edx-platform/commit/ba4de2f933d693e8cae771b8b7755a26700ea11d)) and I hope we can find related commits.

@blarghmatey I'm going to search for the pymongo/mongo related updates in master branch and post here anything I'll find.

[2021-03-15 20:04] arbrandes commented on #15
@pdpinch, do you mind assigning yourself to this one?  Of all the things that will go into the Release Notes, this is probably one of the most straight forward.

[2021-03-15 20:08] pdpinch commented on #15
Will do. This one has actually been on my list.

[2021-03-15 20:09] pdpinch commented on #15
Oh wait... I don't have the power to assign! I think I need the "triage" or the "admin" role in this repo is order to assign issues.

[2021-03-15 20:15] arbrandes opened #27 "Support for the Account MFE"
Coordinate, and if necessary execute, the tasks necessary to get the  [Account MFE](https://github.com/edx/frontend-app-account) up to speed for Lilac:

1. It passes a minimum standard of documentation:  at the very least, the READMEs should have descriptive text that includes use cases, screenshots, and particularly, documentation on that MFE's environment variables.
2. Its basic feature-set (as

[2021-03-15 20:16] arbrandes commented on #27
@sarina, you ok with being assigned to help with item 1, above?

[2021-03-15 20:17] arbrandes opened #28 "Support for the Profile MFE"
Coordinate, and if necessary execute, the tasks necessary to get the [Profile MFE](https://github.com/edx/frontend-app-profile) up to speed for Lilac:

1. It passes a minimum standard of documentation: at the very least, the READMEs should have descriptive text that includes use cases, screenshots, and particularly, documentation on that MFE's environment variables.
2. Its basic feature-set (as do

[2021-03-15 20:19] arbrandes opened #29 "Support for the Gradebook MFE"
Coordinate, and if necessary execute, the tasks necessary to get the [Gradebook MFE](https://github.com/edx/frontend-app-gradebook) up to speed for Lilac:

1. It passes a minimum standard of documentation: at the very least, the READMEs should have descriptive text that includes use cases, screenshots, and particularly, documentation on that MFE's environment variables.
2. Its basic feature-set (a

[2021-03-15 20:19] sarina commented on #27
Yes, that's fine @arbrandes

[2021-03-15 20:21] arbrandes commented on #29
@regisb, can we count on you for Tutor support for this, as well as for #28 and #27?

[2021-03-15 21:42] pomegranited commented on #24
Brilliant, thank you for finding that [commit](https://github.com/edx/edx-platform/commit/ba4de2f933d693e8cae771b8b7755a26700ea11d) @cmltaWt0 !
OpenCraft are testing the koa.1 release against a new Mongo 4.0 cluster (FAL-859), so we'll ensure the results are posted here.
CC @arbrandes

[2021-03-16 14:57] ericfab179 commented on #1
@BbrSofiane I was checking the issue and it seems that the required variables were added the same day the JIRA ticket was created in this commit https://github.com/edx/configuration/commit/71ec3fa4343cc6ca38282064b37a292990d6b704. At least with those changes the mfe_deployer has already common default values for the new settings for all the MFEs. If one of those settings needs to be overridden for

[2021-03-17 12:01] regisb commented on #29
Yes, the required MFEs will be delivered for Tutor in v12.

[2021-03-17 12:05] regisb commented on #1
I am almost certainly going to go with the following approach: shared common MFE settings will be stored in a base MFE plugin ("tutor-mfe") and actual MFE will ship with only the settings that they need to override. Based on my (admittedly limited) experience with the Gradebook, there should be very few MFE-specific settings.

[2021-03-18 13:25] #1 closed

[2021-03-18 16:27] NeOneSoft commented on #7
Hi!!@BbrSofiane, I'll ready created a PR for this issue. I'll be attending any comment and thanks a lot!!
https://github.com/edx/edx-platform/pull/27064/commits/d407433e61ebf5758b5024498942f91d75dc27a7

[2021-03-18 17:34] BbrSofiane commented on #7
Thanks @NeOneSoft!

@nedbat @pdpinch Can one you merge the PR?

[2021-03-19 14:48] arbrandes opened #30 "Support for the Payment MFE"
Coordinate, and if necessary execute, the tasks necessary to get the [Payment MFE](https://github.com/edx/frontend-app-payment) up to speed for Lilac:

1. It passes a minimum standard of documentation: at the very least, the READMEs should have descriptive text that includes use cases, screenshots, and particularly, documentation on that MFE's environment variables.
2. Its basic feature-set (as do

[2021-03-19 14:52] arbrandes opened #31 "Find out if order history still works"
See [this post](https://discuss.openedx.org/t/build-test-release-biweekly-2021-03-15/4526/3).  Before we decide if we want to support frontend-app-ecommerce, we need to find out if legacy order history functionality still works (and is still likely to work by around April 9).

[2021-03-19 14:53] arbrandes commented on #31
@kdmccormick, ok if I assign you this one, to expedite communication?

[2021-03-20 20:19] arbrandes commented on #23
[This ADR](https://github.com/openedx/build-test-release-wg/pull/25) was submitted as part of this effort, in order to establish the release timeline.

[2021-03-20 20:22] arbrandes opened #32 "Invite group members as triagers in this repository"
Everybody in the group (basically, regular meeting attendees) should be at least a "triager" in the repository.

[2021-03-20 20:23] arbrandes commented on #32
@BbrSofiane, I tentatively assigned you this one, hope you don't mind. :)

[2021-03-21 20:17] arbrandes opened #33 "Write documentation ADR"
Based on @jfavellar90's comment [here](https://github.com/openedx/build-test-release-wg/pull/13/files#r577943564), write an ADR to the effect that all the group's documentation should live in this repository.

For starters, this means copying over the content of the [release process wiki page](https://openedx.atlassian.net/wiki/spaces/COMM/pages/19662426/Process+to+Create+an+Open+edX+Release) in h

[2021-03-22 08:48] BbrSofiane commented on #32
Done the initial batch, I'll mention it in the Weekly Issue update in case I missed anyone.

[2021-03-22 08:48] #32 closed

[2021-03-22 14:18] BbrSofiane commented on #19
@cmltaWt0 Do you have any updates on this issue?

[2021-03-22 14:18] BbrSofiane commented on #21
@cmltaWt0 Do you have any updates on this issue?

[2021-03-22 19:10] nedbat commented on #30
Is this in addition to the three MFE's we discussed supporting (https://discuss.openedx.org/t/build-test-release-biweekly-2021-03-15/4526)?  Where is the official list of what we are tackling for Lilac?

[2021-03-22 19:46] nedbat commented on #7
Merged.

[2021-03-22 19:46] #7 closed

[2021-03-22 20:23] sarina commented on #30
@nedbat We discovered the payment stuff will not work in legacy mode so we *have* to support this MFE, probably at the cost of the Profile MFE. See my post here: https://discuss.openedx.org/t/build-test-release-biweekly-2021-03-15/4526/2?u=sarina

[2021-03-22 20:33] kdmccormick commented on #31
@arbrandes Can you assign @inventhouse ? He's a member of the edX Revenue squad, which owns this MFE.

[2021-03-23 19:56] cmltaWt0 commented on #19
@BbrSofiane koa.master deployment is tested once a week.This week Im working on terraform app for automatic instastructure deployment and edx provision

[2021-03-23 20:01] cmltaWt0 commented on #21
@BbrSofiane investigation and fix are planned for this week. I hope to have this issue fixed or investigated before our next meetup.

[2021-03-24 00:03] sarina commented on #29
@arbrandes -- given the MFE is currently not internationalized, are we going to put this MFE aside for the more critical ecommerce MFEs?

cc @kdmccormick

[2021-03-24 08:18] BbrSofiane commented on #19
Thanks @cmltaWt0, this might actually be useful to bring it up in the conversation for openedx/community-wg#14.

[2021-03-24 08:27] BbrSofiane commented on #31
@inventhouse can you comment on this issue so I can assign it to you.

[2021-03-25 10:19] regisb commented on #10
I opened a PR to address this: https://github.com/edx/edx-platform/pull/27136

[2021-03-25 12:02] pdpinch commented on #10
Reviewed, merged, closed.

[2021-03-25 12:02] #10 closed

[2021-03-25 20:56] cmltaWt0 commented on #21
UPD: issue has been fixed.
We are going to open PR tomorrow or on Monday.

P.S. My teammate is going to sign the Individual Contributor Agreement to open the PR.

[2021-03-26 08:03] BbrSofiane commented on #21
Is the issue present in master too? It will mean a PR for both master and koa.master

[2021-03-26 09:28] cmltaWt0 commented on #21
@BbrSofiane Yeap. PR will be opened to the master and koa.master branches.

[2021-03-29 14:53] BbrSofiane commented on #24
@blarghmatey do you have any updates on this issue?

[2021-03-29 14:57] BbrSofiane commented on #31
@inventhouse just following up on this, do you have any updates? Also once you comment on the issue I will be able to assign to to you.

[2021-03-29 15:13] inventhouse commented on #31
We have an internal ticket tracking this work and will be picking it up soon; you can assign this to me in the meantime (now that I've commented.)

[2021-03-29 16:22] BbrSofiane opened #34 "Tag and release koa.3"
Tag and release koa.3

[2021-03-29 16:23] BbrSofiane opened #35 "Create Lilac master branch"
Create Lilac master branch.

[2021-03-29 16:57] BbrSofiane opened #36 "Guide to getting started with MFE Branding"
With the incremental support of MFEs coming with Lilac, it would be useful for the community to have a starting point when it comes to theming MFEs.

Acceptance criteria: one or two lines about this to the release notes, to the effect that MFE theming is still a work in progress and the community has yet to reach a consensus on what is the way forward, but that there are ways to do (some) MFE them

[2021-03-29 18:35] BbrSofiane opened #37 "Cherry-pick Upgrade py2neo in edx-platform"
This issue currently breaks the installation of open edX.
https://github.com/edx/edx-platform/pull/27168
https://openedx.atlassian.net/browse/BOM-2466

Once merged into master, the fix needs to be backported to koa.

[2021-03-30 03:14] pomegranited commented on #24
@BbrSofiane @blarghmatey CC @arbrandes  We ran some testing with MongoDB 4.0 and `open-release/koa.2a`, and didn't find any issues with using the forum or modifying courseware.

So I think we can call this issue done!

[2021-03-30 06:26] BbrSofiane commented on #24
@pomegranited sounds good. @blarghmatey  Do we need to make mongo 4.0 the default in the configuration repo?

[2021-03-30 13:11] cmltaWt0 commented on #37
@BbrSofiane my applauses! Confirmed the same build fail today.
Just to note - I believe we have top back-port only https://github.com/edx/edx-platform/pull/27168/commits/41b01c07eb10982589da6b6e55f70ba36d592d68 commit.

[2021-03-30 13:15] BbrSofiane commented on #37
I just opened a [PR](https://github.com/edx/edx-platform/pull/27186) to backport the fix. @nedbat or @pdpinch Can one of you review it?

[2021-03-30 15:09] pdpinch commented on #37
@nedbat merged it back into koa in https://github.com/edx/edx-platform/commit/f3dca8e81ff244ff9b0914a11ae6f9c15fc9be12

[2021-03-30 15:09] #37 closed

[2021-03-31 12:53] cmltaWt0 commented on #21
@BbrSofiane @nedbat

Fix was already introduced in [master](https://github.com/edx/edx-platform/tree/master) branch.
So we simply [back-porting](https://github.com/edx/edx-platform/pull/27198) it to `koa.master`.

[2021-04-05 09:05] cmltaWt0 commented on #2
PR review in progress.
https://github.com/edx/edx-platform/pull/27130

[2021-04-05 18:17] cmltaWt0 opened #38 "Juniper fails to install requirements"
**Context**

There is a new [setuptools-scm](https://pypi.org/project/setuptools-scm/6.0.1/) was introduced on March 17 with breaking python3.5 support.
[Juniper master](https://github.com/edx/edx-platform/tree/open-release/juniper.master) has a [development.txt](https://github.com/edx/edx-platform/blob/open-release/juniper.master/requirements/edx/development.txt#L41) leading us to the [setup.py](

[2021-04-06 13:55] inventhouse commented on #31
The order history page still works in the legacy (non-MFE) implementation, at least locally.

[2021-04-06 18:32] nedbat commented on #34
Specific steps are here: https://openedx.atlassian.net/wiki/spaces/COMM/pages/2589884698/Koa.3+and+Lilac.master

[2021-04-06 22:08] nedbat commented on #24
Don't we have to change what version of Mongo is installed when you run the native installation?

[2021-04-07 06:55] pomegranited commented on #24
@nedbat  Ach yep we do.. @BbrSofiane @blarghmatey CC @arbrandes  If someone can create a PR against the edx:configuration repo, I can review and merge as core committer.

[2021-04-07 13:39] inventhouse commented on #31
@BbrSofiane @kdmccormick Is there anything more you need on this?

[2021-04-07 23:20] jfavellar90 commented on #27
@arbrandes @BbrSofiane I'm looking to this task with my teammates and we have some comments on the points:

1. @sarina is there any ongoing effort on this matter from the edX team?
2. Our plan for this is to create a new native installation with the latest master version, and the install the account MFE to test it based on documentation in point 1.
3. We can work on deploying this MFE for the nati

[2021-04-07 23:39] sarina commented on #27
@jfavellar90 - I have made a template for a good README (https://github.com/edx/frontend-template-application/blob/master/README-template-frontend-app.rst), and I'm working on cleaning up the installation instructions this week. The other parts of the template will be filled in by David Joy, who is currently out on vacation through next Wednesday.

[2021-04-08 08:00] #21 closed

[2021-04-08 08:40] BbrSofiane commented on #31
@kdmccormick can you confirm that this mean that frontend-app-ecommerce is not a hard requirement for Lilac?

[2021-04-08 08:47] BbrSofiane commented on #27
@jfavellar90 regarding MFE theming, my understanding is that the documentation is scattered across different locations.

#36 - was created to address that and create a basic guide for theming. If the sources are provided is that something you could take on?

[2021-04-08 11:59] nedbat opened #39 ""mfe : create nodeenv" failure installing master"
Installing master of April 7, the installation failed:
[code]

[2021-04-08 21:23] sarina commented on #27
I've made a PR for the Account MFE README that I welcome feedback on. Note I tested the installation instructions on devstack and they worked, but there's a number of TODOs I'm waiting for David's return to address. https://github.com/edx/frontend-app-account/pull/427

[2021-04-08 21:37] jfavellar90 commented on #27
@sarina thanks, we'll take a look at that one. @BbrSofiane with this TODO we'll create a document with the followed procedure so it can be a base for #36

[2021-04-09 17:19] arbrandes commented on #35
Done!

[2021-04-09 17:25] nedbat opened #40 "Write a fuller explanation of tag_release.py and how it works."
See https://openedx.atlassian.net/wiki/spaces/COMM/pages/19662426/Process+to+Create+an+Open+edX+Release for steps to make a release using tag_release.py

[2021-04-09 17:46] nedbat opened #41 "Should edx/tubular be tagged for releases?"
[From Slack](https://openedx.slack.com/archives/C01AGTSB1LL/p1617983602084400?thread_ts=1617977408.083100&cid=C01AGTSB1LL)

[2021-04-09 19:45] #35 closed

[2021-04-09 20:54] arbrandes commented on #39
I have [a PR](https://github.com/edx/configuration/pull/6358).  @cmltaWt0, would you like to test it?  @nedbat, as well.

[2021-04-09 21:54] cmltaWt0 commented on #39
@arbrandes 👍 build has been passed. Platform is working fine.
ok=688  changed=238  unreachable=0  failed=0    skipped=1493 rescued=0    ignored=0

[2021-04-10 04:29] jfavellar90 commented on #39
@arbrandes working from my side as well

[2021-04-11 23:47] sambapete opened #42 "Missing lilac.master repositories?"
frontend-app-ecommerce and frontend-app-payment do not seem to have been tagged for lilac.master

[2021-04-12 15:29] BbrSofiane opened #43 "Test frontend-app-payment native deployment"
Deploy frontend-app-payment with edx/configuration

[2021-04-12 15:30] BbrSofiane opened #44 "Test frontend-app-ecommerce native deployment"
Deploy frontend-app-ecommerce with edx/configuration

[2021-04-12 15:45] BbrSofiane opened #45 "Investigate frontend-app-learning as optional for Lilac"
Investigate frontend-app-learning as optional for Lilac

[2021-04-12 15:54] BbrSofiane opened #46 "Lilac.master CI"
Lilac.master CI with email

[2021-04-12 15:59] BbrSofiane opened #47 "Lilac to install with Mongo 4.0"
Lilac to install with Mongo 4.0

[2021-04-12 16:32] regisb commented on #46
WIP here: https://git.overhang.io/community/openedx-configuration-ci
This uses Packer to launch a DigitalOcean server, install Open edX there, and if it succeeds make a server image.
It was working for Ironwood, and it looks like it is now failing on Koa.

[2021-04-13 07:27] #31 closed

[2021-04-13 07:33] #34 closed

[2021-04-13 07:41] #5 closed

[2021-04-13 07:42] BbrSofiane commented on #19
@cmltaWt0 Can this be closed?

[2021-04-13 07:48] BbrSofiane commented on #23
@arbrandes is there anything left to close this issue?

[2021-04-13 09:29] regisb commented on #46
[Running](https://git.overhang.io/community/openedx-configuration-ci/-/jobs/3322) ...

[2021-04-13 16:19] BbrSofiane commented on #36
https://opencraft.gitlab.io/dev/branding-and-theming/discoveries/01-discovery-theming-and-branding-capabilities/

[2021-04-13 18:21] regisb commented on #46
Well at least the email notification works: https://groups.google.com/g/open-edx-btr-notifications/c/DVj8opf6qHc

[2021-04-13 19:49] regisb commented on #46
Btw at what time of the day should we be running the daily build? In my experience it's best if it is run at the beginning of the work day, such that we can actually do something about it when the failure occurs. So maybe start the job at 9 AM UTC?

[2021-04-13 20:03] arbrandes commented on #39
Ok, so apparently the PR was merged (yay) before I could get to resubmitting it to master.  So we now need to cherry-pick it.

[2021-04-13 20:13] regisb opened #49 "The learning MFE is assumed to be enabled for all staff users"
For staff users, the LMS displays a "View in the experience" button in the courseware:

![view in the new experience](https://user-images.githubusercontent.com/44319/114614099-65b71900-9ca4-11eb-8ff0-f850902b7fd6.png)

This button links to the learning MFE... even if it is not enabled. This is because the learning MFE is assumed to be visible for all staff users, as we can see in [this piece of co

[2021-04-13 21:12] arbrandes commented on #39
Sent a [new PR](https://github.com/edx/configuration/pull/6369) to master.

[2021-04-13 22:13] arbrandes commented on #23
@BbrSofiane, not really.  If you have no objections, I think we can merge the ADR and close this.

[2021-04-14 06:32] BbrSofiane commented on #46
9 AM sounds good to me.

[2021-04-14 06:41] #23 closed

[2021-04-14 07:17] cmltaWt0 commented on #19
Yes for now. Testing is done.
Attempt to add autotesting and infrastructure deployment will be done in another task.

[2021-04-14 08:25] #19 closed

[2021-04-14 13:04] kdmccormick commented on #31
Sorry @BbrSofiane ; I guess I'm not subscribed to notifiations on this board. Will fix that.

Yes, this means that front-app-ecomm is not a hard req.

[2021-04-14 14:02] kdmccormick commented on #49
@regisb Ah, thank you catching this. I wrote that snippet when I thought the Learning MFE would be enabled by default Lilac.

I can change it so that `COURSEWARE_MICROFRONTEND_COURSE_TEAM_PREVIEW` must be enabled for global staff to see the MFE as well.

[2021-04-14 14:03] kdmccormick commented on #49
You can assign me to this.

[2021-04-14 16:31] sarina commented on #27
@arbrandes @jfavellar90 could you please review https://github.com/edx/frontend-app-account/pull/427 - it is ready to go from our end, but I want to make sure it meets your needs.

[2021-04-15 05:43] BbrSofiane commented on #46
I had a discussion with @adzuci to get more information about using github actions to do the same. It looks like it would be possible to run the installation instruction in an ubuntu runner since the resources and time required to run the install are within the [limits](https://docs.github.com/en/actions/reference/usage-limits-billing-and-administration#usage-limits) allocated to Github Actions.

[2021-04-15 10:48] nedbat opened #50 "Upgrade py2neo"
py2neo was the deleted library that caused installation failures.

The work is progressing on master: https://github.com/edx/edx-platform/pull/27184

[2021-04-15 12:54] regisb commented on #46
I think it makes sense to migrate the CI to Github actions, such that there is a clearly identified group that is responsible for maintaining it.

[2021-04-15 16:23] nedbat opened #51 "Contact Us page has edX-specific messaging"
Noticed here: http://gsedxdev.com/support/contact_us

The entire Contact Us page is a neutered version of edX's links to the Zendesk support system.  It's not right for Open edX installations at all.

[2021-04-16 10:28] nedbat opened #52 "django-debug-toolbar security update"
https://www.djangoproject.com/weblog/2021/apr/14/debug-toolbar-security-releases/

These requirements files from installed repos pin django-debug-toolbar. We have to decide which should be updated:
[code]

[2021-04-16 16:31] nedbat commented on #41
An example of the installation failure:
[code]
cryptography 3.2.1 is the last one available for Python 3.5, which Juniper is using.

[2021-04-16 16:33] nedbat commented on #41
Fixing this requires:

- updating the openedx.yaml file in the tubular repo, so that it will be branched for releases
- retroactively creating juniper and koa master branches in the tubular repo
- updating the configuration repo to use specified references for cloning tubular

[2021-04-16 19:39] arbrandes commented on #27
@jfavellar90, regarding Tutor, I think that for now we can rely on @regisb to lead the way.

Thanks for moving forward with this!

[2021-04-16 19:49] nedbat opened #53 "Move Native installation instructions from the wiki to ReadTheDocs"
Is this a good idea?  It feels odd that the official installation instructions that lots of people need are on the wiki instead of "real" books.

wiki: https://openedx.atlassian.net/wiki/spaces/OpenOPS/pages/1969455764/Koa+Lilac+Native+Open+edX+platform+Ubuntu+20.04+64+bit+Installation

[2021-04-16 19:58] regisb commented on #53
:arrow_right::arrow_right::arrow_right:   **YES!!!** :arrow_left::arrow_left::arrow_left:
:+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1:

[2021-04-16 20:42] arbrandes commented on #29
@sarina, apologies for the protracted delay, but as we've already discussed in the meeting, yup, we're dropping this one.

[2021-04-16 20:46] arbrandes commented on #24
For the time being, we're not porting Mongo 4.0 to Koa.  We'll instead focus on installing it by default on Lilac.  (See #47).

[2021-04-16 20:46] #24 closed

[2021-04-19 07:18] regisb commented on #27
This is correct.

[2021-04-19 16:06] regisb opened #54 "HTML titles of MFEs include hardcoded "edX" strings"
Both the Account and Gradebook MFEs include hardcoded "edX" strings in the HTML `<title>`:

![edx title](https://user-images.githubusercontent.com/44319/115267484-84e8f700-a139-11eb-8189-9050adcec8a6.png)

As far as I understand, this is where these strings come from:

- Account: https://github.com/edx/frontend-app-account/blob/e59ada660c9deb28a7eb82be4cd836c837744087/public/index.html#L4
- Gradeb

[2021-04-19 16:15] regisb opened #55 "The gradebook MFE header includes a hardcoded link to edx.org"
![edx-org-gradebook](https://user-images.githubusercontent.com/44319/115269227-6421a100-a13b-11eb-8c2b-187be562c852.png)

The gradebook header logo is an image for which the "src" attribute is customizable, but not the the hyperlink destination (edx.org): https://github.com/edx/frontend-app-gradebook/blob/8bc1fc82f2c8e616e33ebb6f47ae7086ee6e3b56/src/components/Header/index.jsx#L16

I'm not sure th

[2021-04-20 05:58] BbrSofiane commented on #49
@kdmccormick On the 26th of April, we will be looking to create the first release candidate for Lilac. How likely is this issue to be resolved by then?

[2021-04-20 06:22] BbrSofiane commented on #39
The PR has been merged so I'll close this.

[2021-04-20 06:22] #39 closed

[2021-04-20 06:49] BbrSofiane commented on #54
@sarina is this something you can take?

[2021-04-20 06:51] BbrSofiane commented on #55
@sarina Is this something that edX is better placed to do?

[2021-04-20 06:55] cmltaWt0 opened #56 "Lilac failed to build via native installation"
When building master/lilac.master from scratch it fails on mysql role.
Rebuilding on prepared ubuntu with installed mysql-client/server packages completed success.

https://discuss.openedx.org/t/master-native-installation-failed-to-build/4795

PRs:
https://github.com/edx/configuration/pull/6376
https://github.com/edx/configuration/pull/6377
https://github.com/edx/configuration/pull/6378

[2021-04-20 08:44] BbrSofiane commented on #47
@arbrandes At the last meeting, did you mention that someone at Open Craft was looking at this?

[2021-04-20 08:59] BbrSofiane commented on #42
Hey @arbrandes, do you have any updates on this?

[2021-04-20 09:32] BbrSofiane commented on #27
Hey @jfavellar90 any updates on the testing of the account MFE?

[2021-04-20 09:33] BbrSofiane commented on #43
@cmltaWt0 did you manage to get the MFE installed with the native installation?

[2021-04-20 09:33] BbrSofiane commented on #44
@cmltaWt0 did you manage to get the MFE installed with the native installation?

[2021-04-20 09:44] cmltaWt0 commented on #43
Not yet. Working on it.

[2021-04-20 09:44] cmltaWt0 commented on #44
Not yet. Working on it.

[2021-04-20 09:45] BbrSofiane commented on #30
@sarina can the documentation for the payment MFE get the same treatment as #27 ?

[2021-04-20 14:03] jfavellar90 commented on #27
@BbrSofiane hey, let me do some comments regarding the progress on this matter:
1. Since the account MFE is going to be the default in Lilac, we are proposing this change to the edx-platform repo: https://github.com/eduNEXT/edx-platform/commit/3220baa9dfa52c06b9810ff295a9516d0140188e where basically we are creating a new Toggle setting to enable or disable the account MFE globally (configuration_h

[2021-04-20 14:17] regisb commented on #27
I :+1: this. Modifying the site configuration is a bit tricky to do in an automated manner.

You might want to have a look at my work-in-progress: https://github.com/overhangio/tutor-mfe/pull/1
I managed to get the account, profile and gradebook MFEs to work. Be careful with the profile url setting: https://github.com/overhangio/tutor-mfe/pull/1/files#diff-aa8f1f0b54e1304cb260e64d836458a57ee3164f2

[2021-04-20 15:37] BbrSofiane opened #58 "MFE Configuration Settings Documentation"
https://discuss.openedx.org/t/we-really-really-need-some-docs-on-mfe-env-settings/4788

[2021-04-21 07:38] BbrSofiane commented on #56
@pomegranited Could you review this? It's stopping any new native installation.

[2021-04-21 08:18] pomegranited commented on #56
Sure thing @BbrSofiane , I'm launching a deployment now, but it's the end of my day, so will approve first thing tomorrow.

[2021-04-21 08:42] BbrSofiane commented on #56
Thanks!

[2021-04-21 10:07] pomegranited commented on #56
Tested and merged. Thank you @cmltaWt0 !

[2021-04-21 11:19] #56 closed

[2021-04-21 15:38] davidjoy commented on #58
I've added this FEDX task which I'm hoping our team can pick up very soon.

https://openedx.atlassian.net/browse/FEDX-566

(Our new team doesn't have its own Jira project yet!)

[2021-04-21 16:00] nedbat opened #59 "native.sh doesn't exit with the correct status"
If Ansible fails, the native.sh exit status is still zero.

https://discuss.openedx.org/t/master-native-installation-failed-to-build/4795/6?u=nedbat

[2021-04-21 16:14] BbrSofiane commented on #58
Thanks @davidjoy, I'll assign this to you for now so any updates can land here.

[2021-04-21 17:23] sarina commented on #30
@BbrSofiane what is missing? We did a pass on https://github.com/edx/frontend-app-payment/pull/479

[2021-04-21 17:24] sarina commented on #55
We are not defaulting the Gradebook MFE as it is not i18n'd properly. I can't guarantee we can fix for Lilac; probably a better question for @davidjoy

[2021-04-21 17:29] sarina commented on #54
Yes, created a ticket here: https://openedx.atlassian.net/browse/OPENEDX-485 David will try to take a look next week

[2021-04-21 18:18] BbrSofiane commented on #30
@sarina Ah perfect thanks! I wanted to check that it was covered.

Overall looks good! I think the only thing that's missing is a screenshot of the UI.

[2021-04-21 19:37] sarina commented on #30
OK. I could try to set it up and take a picture, but it will not be this week.

[2021-04-21 21:57] kdmccormick commented on #49
@BbrSofiane I can likely have a fixed merged this week. At the very least, I'll have a patch available.

[2021-04-22 12:01] BbrSofiane commented on #30
Thanks, it won't block the progress on this.

[2021-04-22 15:22] sarina commented on #30
the readme says ` Rather, log into the LMS at http://localhost:18000/login and enroll in a course, choosing to upgrade to be taken to the checkout page.`

I'm not sure how to get an upgradable course. If these are instructions _you_ can follow and post a screenshot that'd be great (and probably clarify the instructions to explain how to make courses upgradable). Otherwise this will have to wait un

[2021-04-23 00:43] jfavellar90 commented on #27
@BbrSofiane we've created a PR in the configuration repo: https://github.com/edx/configuration/pull/6381 to apply some fixes on the MFE deployment using the native installation. We added some variables to the openedx_native so the MFE's are almost ready to use (only Django admin configurations would be required to activate them). Would you mind taking a look at it? or who would be the right one fo

[2021-04-23 00:54] jfavellar90 commented on #27
Hey @sarina  , do you know if it's possible to change some messages from the User Retirement section in the account MFE? These messages contain "edX"
![Screenshot from 2021-04-22 19-45-21](https://user-images.githubusercontent.com/15217219/115802311-42772280-a3a4-11eb-92c9-6ceb22528837.png)
Let us know if we can collaborate with the effort

[2021-04-23 11:03] nedbat commented on #41
First part of the fix: https://github.com/edx/tubular/pull/515

[2021-04-23 16:21] sarina commented on #27
I'm certain it's possible, I don't know how at the moment.

[2021-04-23 22:32] kdmccormick commented on #49
@BbrSofiane I don't have the fix merged, but I should be able to Monday. If that's too late for rc1, though, it could be cherry picked now.

[2021-04-26 10:30] BbrSofiane commented on #30
Fair enough, I don't know how to do it myself so I would have to ask the group.

[2021-04-26 10:37] BbrSofiane commented on #49
@kdmccormick I'll bring it up in the meetup today.

[2021-04-26 13:12] cmltaWt0 commented on #30
Actually I'm doing the same work just right now. I'll post here steps to be able to make the Course "upgradable" via payment flow.

[2021-04-26 23:15] nedbat commented on #59
https://github.com/edx/configuration/pull/6386

[2021-04-26 23:53] nedbat commented on #59
Fixed with https://github.com/edx/configuration/pull/6383

[2021-04-26 23:53] #59 closed

[2021-04-27 07:17] regisb commented on #59
Good! This means that today's CI on git.overhang.io will run with the included fix, we'll see how that works.

[2021-04-27 14:45] cmltaWt0 commented on #45
First attempt to make it works is partially successful - I can deploy, configure it, be redirected to the learning mfe.

In the app I can:
1. See the Course structure
2. Bookmart unit
3. Move between units

I fail with loading a content of the unit though
<img width="1631" alt="image" src="https://user-images.githubusercontent.com/877401/116259390-6e1c5300-a77e-11eb-8581-bd5f11d1529f.png">

The on

[2021-04-27 15:59] cmltaWt0 commented on #43
MFE is deployable and configurable.

I'l post screenshots of testing steps.

**[Empty Cart](https://github.com/edx/frontend-app-payment/blob/c9b31b6c657f4c3eb710cf861fec4b07807082dc/README.rst#cart-states)**
<img width="777" alt="image" src="https://user-images.githubusercontent.com/877401/116273631-96aa4a00-a78a-11eb-8d82-3d83b345c979.png">

[2021-04-27 16:31] cmltaWt0 commented on #44
MFE is deployable and configurable.
Yet I have to finish CORS configuration for e-commerce .

<img width="991" alt="image" src="https://user-images.githubusercontent.com/877401/116278467-2fdb5f80-a78f-11eb-930e-c03736ef1df4.png">

[2021-04-28 11:38] nedbat opened #60 "Apply Django 2.2.21 security patch"
Django versions 3.2.1, 3.1.9 and 2.2.21 will be released on Tuesday, May 4, 2021 around 0900 UTC.
They will fix one security defect with severity “low”.

[2021-04-28 13:18] kdmccormick commented on #49
@BbrSofiane https://github.com/edx/edx-platform/pull/27399 is now merged. Thanks for your patience. Shall I open a PR against Lilac, or should I leave that to you folks?

[2021-04-28 13:52] BbrSofiane commented on #60
@nedbat is there a guide somewhere with the steps to do this? It might useful to have them on github and refer to them for these tasks so that anyone feels confident to pick it up.

[2021-04-28 13:54] BbrSofiane commented on #49
@kdmccormick Thanks! If you can create the PR against lilac that would be very helpful!

[2021-04-28 17:07] BbrSofiane commented on #46
Posted my current issue in the [forum](https://discuss.openedx.org/t/help-running-native-install-inside-a-github-runner-for-ci/4855), I will spend some time on it this Friday and share my progress.

[2021-04-28 19:38] kdmccormick commented on #49
@BbrSofiane No problem! Here you go: https://github.com/edx/edx-platform/pull/27467

[2021-04-29 12:19] pdpinch commented on #20
This issue is moot now. We didn't identify any features that would change our release schedule.

[2021-04-29 12:19] #20 closed

[2021-04-29 12:41] pdpinch opened #61 "Lilac release notes"
The wiki page for [Process to Create an Open edX Release](https://openedx.atlassian.net/wiki/spaces/COMM/pages/19662426/Process+to+Create+an+Open+edX+Release) has a couple of steps for creating release notes:

- [x] Get release notes started
- [x] Make release-specific pages for installation and release notes

In addition, we need to:

- [x] add an appropriate TOC to the release notes
- [x] add an

[2021-04-29 12:43] pdpinch commented on #61
@nedbat @arbrandes do you have any advice on how I can determine which repos are included in the Lilac release? My plan is to review the changelogs for each. If there isn't a changelog then I'll have to look through the git log.

[2021-04-29 14:08] nedbat commented on #42
Steps:
[] Fix the openedx.yaml files so that they would have been branched properly.
[] Create lilac.master branches in the two repos from the right point in time.

[2021-04-29 14:30] regisb commented on #6
As far as I know, this issue also affects the Account and Profile MFEs -- and actually all MFEs, since they all depend on frontend-platform, which makes calls to Segment: https://github.com/edx/frontend-platform#service-implementations

This would mean that Lilac is affected by this issue.

I have no idea how to address this...

[2021-04-29 15:24] BbrSofiane commented on #6
@sarina @davidjoy any thoughts/suggestion on this?

[2021-04-29 20:41] sarina commented on #6
Hrmmm. @davidjoy will know the most about frontend-platform so I mostly defer to him. Seems like these calls should be gated by whether or not you have the proper keys set up.

[2021-04-29 21:31] cmltaWt0 commented on #30
@sarina I'm not finished with full testing for payment MFE but anyway I'll post some screenshots and instructions to help you enabling paid/upgradable course.

**Flow to add paid course**
1. After Course creation open `{LMS_BASE_URL}/admin/course_modes/coursemode/`
2. Add verified mode for your Course
<img width="1601" alt="Screenshot 2021-04-29 at 23 52 10" src="https://user-images.githubusercont

[2021-04-30 13:51] davidjoy commented on #6
Ah, this needs to be addressed in frontend-platform.  If there's no SEGMENT_KEY configured, then it should avoid loading the segment script.  Unfortunately today it just loads it with a `null` as part of the URL where the key would go.

[2021-04-30 17:14] BbrSofiane commented on #6
@davidjoy can this be done in time for Lilac?

[2021-04-30 18:07] cmltaWt0 commented on #45
@davidjoy @BbrSofiane

I've found that Unit content is successfully loaded to the page but is not resized in my case.
So I've emulated this resize event manually and got Unit content visible.
<img width="1634" alt="image" src="https://user-images.githubusercontent.com/877401/116735732-9b276a80-a9f7-11eb-922e-77e650fb0269.png">

I believe I'll find the root cause of this but I'll be appreciated if

[2021-05-01 16:53] pdpinch commented on #61
@nedbat the PR template for the docs template suggests that I should "Build an RTD draft," which seems like a good idea. Do you know how to do that?

[2021-05-03 09:42] regisb commented on #30
:clap: screenshots are awesome, thanks @cmltaWt0!

[2021-05-04 11:30] nedbat commented on #52
In the lilac branch, I updated all the pins that were at 3.2 to 3.2.1.  This is the diff:
[code]

[2021-05-04 11:30] #52 closed

[2021-05-04 11:31] #60 closed

[2021-05-04 12:40] BbrSofiane commented on #58
@davidjoy  any updates on this?

[2021-05-04 12:45] BbrSofiane commented on #54
@davidjoy have you had a chance to look into this? (I can't access the Jira ticket)

[2021-05-04 12:47] BbrSofiane commented on #49
@pdpinch @nedbat can you one of you review and merge this PR?

[2021-05-04 12:48] BbrSofiane commented on #47
@arbrandes did you manage to find more information on this?

[2021-05-04 12:49] BbrSofiane commented on #43
@cmltaWt0 can we close this?

[2021-05-04 12:51] sarina commented on #54
We have some PRs in review. You can't see https://openedx.atlassian.net/browse/CENG-6 ? We thought we made the project public...

[2021-05-04 12:52] BbrSofiane commented on #42
@arbrandes any update on this?

[2021-05-04 13:01] BbrSofiane commented on #27
@jfavellar90
- Did you manage to speak to someone at edX regarding the changes to the flags? Or do you need help on with this?
- Can you address @davidjoy comment on the PR to the configuration repo?

@sarina @davidjoy what's the best way to go about making the changes for the text?

[2021-05-04 13:03] BbrSofiane commented on #54
Thanks! For the link I'll check again when I get on my laptop.

[2021-05-04 13:14] davidjoy commented on #54
Hi @BbrSofiane - I'm almost done with this.  All commits are made, just need to merge PRs into master and the lilac branch in each repo.

[2021-05-04 13:17] davidjoy commented on #58
@BbrSofiane - None yet, unfortunately.

[2021-05-04 13:24] sarina commented on #27
We have a ticket for it here - https://openedx.atlassian.net/browse/CENG-13 - you are welcome to pick it up, I keep saying I'm going to get to it "today" and that keeps not happening 😞 😭

[2021-05-04 13:35] davidjoy commented on #6
I think it's fairly simple to fix, I've created this task for it: https://openedx.atlassian.net/browse/CENG-53

FWIW it doesn't actually create any problems beyond an unexpected 404 response from segment.  I wouldn't hold up the release for it, though when it's fixed it'd be nice to cherry pick it to lilac.

[2021-05-04 17:43] davidjoy commented on #54
This is done.  I don't have permission to transition this issue. 😄

[2021-05-04 17:45] BbrSofiane commented on #54
@davidjoy Thanks! I will close the issue.

Can you post the link to the PR?

[2021-05-04 17:45] #54 closed

[2021-05-04 19:41] jfavellar90 commented on #27
@BbrSofiane
- I proceeded by creating this PR https://github.com/edx/edx-platform/pull/27518. I asked for a quick review to @regisb but it would be great if we can involve more people in this conversation (Could you help me with it?)
- David's comment was already addressed. I'll apply a small change to get the PR ready.
- @sarina I'm unable to see the ticket. Do I need some special permissions?

[2021-05-04 20:13] sarina commented on #27
@jfavellar90 yeah, we know 😞  we're working on it!

[2021-05-04 22:39] nedbat opened #62 "Django 2.2.22 security patch"
This will need to be applied to Koa and Lilac.

[2021-05-05 14:32] davidjoy commented on #54
https://github.com/edx/frontend-app-account/pull/432 - PR to lilac.master
https://github.com/edx/frontend-app-gradebook/pull/178 - cherry picked to lilac.master

And for good measure:

https://github.com/edx/frontend-app-profile/pull/413
https://github.com/edx/frontend-template-application/pull/330

[2021-05-05 16:10] cmltaWt0 commented on #43
Not yet. There are other use cases I have to test.

[2021-05-06 09:47] #62 closed

[2021-05-07 10:44] nedbat opened #63 "Lilac installation failure: pymongo.errors.ServerSelectionTimeoutError: 127.0.0.1:27017: [Errno 111] Connection refused"
I'm getting a failure in CI of the native installation (lilac) at
[code]
with decoded error:
[code]

[2021-05-07 10:45] nedbat commented on #63
Slack discussion here: https://openedx.slack.com/archives/C01AGTSB1LL/p1620212936128700

[2021-05-07 10:59] BbrSofiane commented on #46
The issue with the installation of the discovery service is still outstanding. I will commit a first iteration without it, I'm just waiting for a webhook to a slack channel.

[2021-05-07 11:57] nedbat commented on #63
Koa.master now fails in the same way.  @sambapete's theory about Django 2.2.21 being the problem seems right.  I wrote this Django issue: https://code.djangoproject.com/ticket/32725

[2021-05-07 12:20] nedbat commented on #63
There's already an active discussion about it: https://code.djangoproject.com/ticket/32718

[2021-05-07 12:23] nedbat commented on #63
From the Django ticket (https://code.djangoproject.com/ticket/32718#comment:29):

 Thanks y'all for various test projects and detailed reports of encountered issue with saving FileFields.

[2021-05-07 12:26] nedbat commented on #63
Questions to consider:
- why didn't a failed migration fail the installation?
- why did a failed migration cause a strange pymongo error?

[2021-05-07 18:43] davidjoy commented on #6
Okay, so I've fixed this in frontend-app-account.  Turns out that frontend-app-gradebook is a more complicated situation, as it's using its own custom implementation of Segment and doesn't rely on frontend-platform for it.

I've made a PR there and the owning team will need to review it.  I'm hoping I can cherry-pick it onto lilac.master without incident.

https://github.com/edx/frontend-app-grade

[2021-05-10 02:45] jfavellar90 commented on #27
@BbrSofiane @arbrandes this is the current state of this issue:

- The configuration PR https://github.com/edx/configuration/pull/6381 was merged. The native Lilac master was tested, and the MFE is working properly. Still, some messages need to be fixed. I'll create the PR to master in the next hours.
- There is a PR that is being discussed in https://github.com/edx/edx-platform/pull/27518. Basica

[2021-05-10 05:08] regisb commented on #63
I'm not sure what you mean: the failed migration did cause the installation to fail, didn't it? For instance, in the case of this particular build, the installation stopped after a failure of the "edxapp : migrate" task: https://git.overhang.io/community/openedx-configuration-ci/-/jobs/3535

I think I understand what is happening here. The pymongo error was _not_ triggered by the failed migration.

[2021-05-10 09:18] regisb commented on #47
Looks like we need to upgrade the pymongo requirement of the configuration repo: https://github.com/openedx/build-test-release-wg/issues/63#issuecomment-836180590

[2021-05-10 09:54] cmltaWt0 commented on #44
**Testings report**

MFE description

[code]

[Application](https://github.com/edx/frontend-app-ecommerce) was deployed using edx/configuration and tested.

Required deployment and configuration actions:

1. Add required MFE section
[code]
2. Add following changes to the lms.yml
[code]
3. Add following to the LMS Site Configuration
[code]
4. Add the Waffle flag  `order_history.redirect_to_microfro

[2021-05-10 09:55] cmltaWt0 commented on #44
@BbrSofiane Testing is done. Issue can be closed.
New issue for the integration and enabling by default to the native installation should be created separately.,

[2021-05-10 10:11] cmltaWt0 commented on #43
**Testings report**

MFE description

[code]

[Application](https://github.com/edx/frontend-app-payment) was deployed using edx/configuration and tested.

Required deployment and configuration actions:

1. Add required MFE section
[code]
2. Add following changes to the lms.yml
[code]
3. Add following to the ECommerce Site Configuration

- [x] Enable Microfrontend for Basket Page

Payment Microfron

[2021-05-10 10:12] cmltaWt0 commented on #43
@BbrSofiane Testing is done. Issue can be closed.
New issue for the integration and enabling by default to the native installation should be created separately (and linked to this issue).

[2021-05-10 11:09] BbrSofiane opened #64 "Install and Enable frontend-app-ecommerce in native installation."
Following #44, we need a update the native installation script to install and enable frontend-app-ecommerce by default.

[2021-05-10 11:12] BbrSofiane commented on #44
Awesome @cmltaWt0!

I've created #64.

[2021-05-10 11:12] #44 closed

[2021-05-10 11:16] BbrSofiane opened #65 "Install and Enable frontend-app-paymentin native installation"
Follow #43, we need a update the native installation script to install and enable frontend-app-ecommerce by default.

[2021-05-10 11:18] regisb commented on #44
Big up @cmltaWt0! This is tremendously useful and makes my life so much easier to integrate MFEs with Tutor. You get my vote for the Academy Award of the week :)

[2021-05-10 11:18] BbrSofiane opened #66 "The menu of frontend-component-header"
By default Order history is not visible in MFEs

![image](https://user-images.githubusercontent.com/13796098/117651446-dbba7d00-b189-11eb-8950-c933ff2a7260.png)

[2021-05-10 11:20] BbrSofiane commented on #43
🥇

[2021-05-10 11:20] #43 closed

[2021-05-10 11:29] BbrSofiane commented on #2
This just needs to be cherry picked on lilac.master

[2021-05-10 11:51] BbrSofiane commented on #46
Merged #57 - Installation without discovery.

[2021-05-10 12:42] BbrSofiane opened #67 "Support other payment processors"
Slack thread: https://openedx.slack.com/archives/C01AGTSB1LL/p1620648832151800

[2021-05-10 14:56] cmltaWt0 commented on #43
Yeap. Let's check - it's just a description from MFE repo.
It means that app supports these two processors right now and I hope it will be trivial to add stripe, netbanx etc.

[2021-05-10 15:53] BbrSofiane opened #68 "Improve README on frontend-app-ecommerce"
Improve README on frontend-app-ecommerce

#30

[2021-05-10 15:55] sarina commented on #68
Please use this template: https://github.com/edx/frontend-template-application/blob/master/README-template-frontend-app.rst

[2021-05-11 23:43] pomegranited commented on #47
@arbrandes  @BbrSofiane  I've created a task for Opencraft to do this next sprint (May 18 - June 1), so we'll post here when there's a PR ready.

@regisb

We'll update pymongo as part of this too, thanks for noting this.

Our ticket description covers the following, does this look complete?

**Full description**

MongoDB 3.6 reached end of life on April 30, 2021.

However, the [openedx_native.yml

[2021-05-12 21:55] jfavellar90 commented on #27
@BbrSofiane @arbrandes hey,

As we agreed in the BTR meeting, we've created the PR's in edx-platform and configuration:
https://github.com/edx/edx-platform/pull/27518
https://github.com/edx/configuration/pull/6402

The edx-platform PR is about to be merged, so once it lands in master, we'll proceed to backport to lilac master branch.
The configuration PR is just to create the Waffle flags. Normall

[2021-05-13 08:59] nedbat opened #69 "Apply Django 2.2.23 security patch to Lilac"

[2021-05-13 08:59] nedbat opened #70 "Apply Django 2.2.23 security patch to Koa"

[2021-05-13 09:27] nedbat commented on #63
My two questions boiled down to: why did the ansible error summary find the wrong error to summarize?  I've got a simple PR to fix that: https://github.com/edx/configuration/pull/6401   Anyone got a thumb-up for it?

[2021-05-13 09:47] nedbat commented on #60
@BbrSofiane The steps I used are in Discourse, and I just updated them with the 2.2.23 steps I used today: https://discuss.openedx.org/t/django-2-2-19-security-update/4305/3?u=nedbat

This requires updating 14 of the 38 main repos. My assumption is that this makes pull requests impractical, so write access is needed to the repos.

[2021-05-13 22:33] jfavellar90 commented on #27
@BbrSofiane @arbrandes some updates on the PR's

1. The edx-platform PR for the account MFE waffle flag was merged: https://github.com/edx/edx-platform/pull/27518
We created a new PR in https://github.com/edx/edx-platform/pull/27623 to backport those changes to lilac master. Is the PR necessary? or someone with the right privileges can just cherry-pick the changes to Lilac master?

2. Regarding th

[2021-05-14 07:38] cmltaWt0 commented on #30
Will leave here my notes for Ecommerce integration in native installation.

Ecommerce and Payment MFE PR is ready and it is in the internal code review status now.
But I need to discuss Ecommerce service in native installation as is.
What I can see right now is that Ecommerce is installed via native installation but it’s not usable by default:
it is not configured for login via LMS using edx-oauth

[2021-05-14 07:45] cmltaWt0 commented on #30
I’ve created draft [PR](https://github.com/edx/configuration/pull/6403) with all changes and I’ll remove unnecessary during code review.
UPD: the PR will be removed and new one will be created to the master.

I'm waiting for https://github.com/edx/configuration/pull/6405 and https://github.com/edx/configuration/pull/6406 to be merged to updated my PR.

[2021-05-17 14:23] cmltaWt0 commented on #30
[PR](https://github.com/edx/configuration/pull/6408) has been created.
Will be back ported to the lilac master after merge.

Ecommerce additional configuration during provision will be added as a separate PR.

[2021-05-17 14:24] cmltaWt0 commented on #64
[PR](https://github.com/edx/configuration/pull/6408) has been created.
Will be back ported to the lilac master after merge.

Ecommerce additional configuration during provision will be added as a separate PR.

[2021-05-17 14:24] cmltaWt0 commented on #65
[PR](https://github.com/edx/configuration/pull/6408) has been created.
Will be back ported to the lilac master after merge.

Ecommerce additional configuration during provision will be added as a separate PR.

[2021-05-17 21:49] nedbat commented on #61
@pdpinch I can make a ReadTheDocs project to publish the release notes branch.  For your own use, you can build locally with ./run_tests.sh as described in the readme.  A ReadTheDocs project would let us point reviewers to the published pages, though they'd still have to get feedback to us somehow.

[2021-05-18 10:35] regisb commented on #47
According to my own tests, Lilac runs fine on Mongodb 4.0. I upgraded a Mongodb 3.6 database (from Koa) to 4.0 and did not encounter any issue. The procedure should be the same as for the 3.4 -> 3.6 upgrade: https://docs.mongodb.com/manual/release-notes/4.0-upgrade-standalone/

1. Replace Mongodb 3.6 by Mongodb 4.0
2. Run `db.adminCommand({ setFeatureCompatibilityVersion: "4.0" })`

Note that my t

[2021-05-18 12:03] BbrSofiane commented on #27
@jfavellar90 are the changes in edx/configuration#6406 backported to the lilac branch? Just asking to make sure I understood your comment.

If we can backport edx/configuration#6406 to lilac.master and get edx/edx-platform#27623 merged then we should be ready to create a release candidate with the account MFE installed by default. Is that correct?

[2021-05-18 13:25] jfavellar90 commented on #27
@BbrSofiane https://github.com/edx/configuration/pull/6406 was already backported to Lilac master by @nedbat so I closed https://github.com/edx/configuration/pull/6402.

The edx-platform change in https://github.com/edx/edx-platform/pull/27623 is still pending to be backported. Once this is backported, we are ready to go with the account MFE

[2021-05-18 15:22] davidjoy commented on #67
The short answer is no - there's no way to configure other payment processors into the MFE today.  That said, the code is fairly modular and it might be possible to put a layer of abstraction in to improve our extensibility here, but I'd expect it to be a "medium" sized project.

[2021-05-18 16:11] shaidar opened #71 "INDIVIDUAL_DUE_DATES and import error"
If `INDIVIDUAL_DUE_DATES` is lms.yml FEATURES is set to `True`, it will cause an import error due to the use of the relative path import in [`lms/envs/production.py`](https://github.com/edx/edx-platform/blob/open-release/lilac.master/lms/envs/production.py#L752).

[2021-05-18 16:16] nedbat commented on #61
OK, now there is an auto-updating readthedocs project: https://draft-lilac-release-notes.readthedocs.io/en/latest/

[2021-05-18 16:19] sambapete commented on #67
That's a MAJOR issue for us at EDUlib. And I mean almost show-stopper. I will explain later. First, a little bit of historical perspective.

When we first looked at ecommerce, the Université de Montréal wouldn't allow us to use Cybersource or PayPal. Because of internal political / technical issues we had to deploy a payment connector for Netbanx / Paysafe based on the code originally used for Cyb

[2021-05-18 16:50] nedbat opened #72 "Django 2.2.23 breakage on Koa?"
On edx.org production, we had errors due to the Django 2.2.23 security patch.  It was rolled back while a solution was found.  Do we need to do something for Koa?

[2021-05-18 16:51] nedbat opened #73 "Django 2.2.23 breakage on Lilac?"
On edx.org production, we had errors due to the Django 2.2.23 security patch.  It was rolled back while a solution was found.  Do we need to do something for Lilac?

[2021-05-18 17:00] sambapete commented on #73
Well... We know lilac wasn't being installed properly before Django 2.2.23
and the fix that came with it. Do we have another workaround? Would we need
to wait until Django 2.2.24?

Le mar. 18 mai 2021, à 12 h 51, Ned Batchelder ***@***.***> a
écrit :

--
Salutations / Regards ,
Pierre Mailhot, M.Sc., CISSP
514-916-9558

[2021-05-18 17:01] sambapete commented on #72
Well... We know koa wasn't being installed properly before Django 2.2.23
and the fix that came with it. Do we have another workaround? Would we need
to wait until Django 2.2.24?

Le mar. 18 mai 2021, à 12 h 51, Ned Batchelder ***@***.***> a
écrit :

--
Salutations / Regards ,
Pierre Mailhot, M.Sc., CISSP
514-916-9558

[2021-05-18 17:29] ericfab179 commented on #27
@jfavellar90 @BbrSofiane Last edx-platform PR has already been merged. We launched a native installation using lilac.master and the redirection to the Account MFE is happening by default as expected.

[2021-05-18 17:30] sambapete commented on #67
I was made aware of https://discuss.openedx.org/t/deprecation-removal-legacy-frontend-implementations-depr-17-depr-42-depr-109/3193 by Kyle McCormick. Yes there is a mention of DEPR-42 with regards to the ecommerce basket page. We are using a hosted payment solution and we do not go through the ecommerce basket page. That might explain why I missed it.

Unfortunately, it does not mention that “Cus

[2021-05-18 17:34] nedbat commented on #73
In this case, I'm not sure a 2.2.24 would fix it, I think we need to make a change to edx-platform to deal with the new strictness in Django.

[2021-05-18 17:49] sambapete commented on #73
At least we have a good idea where the installation was failing

For me at least, it was in

lms/djangoapps/certificates/migrations/0003_data__default_modes.py

at line 18 where

f'badges/{file_name}',

This is what I had found before you directed me to the Django 2.2.21
strictness.

Just using f'{file_name}', was allowing me to go through and it is
definitely not the solution as it needs to be th

[2021-05-18 20:02] nedbat commented on #42
- https://github.com/edx/frontend-app-ecommerce/pull/152
- https://github.com/edx/frontend-app-payment/pull/484

[2021-05-18 20:28] #42 closed

[2021-05-18 20:49] davidjoy commented on #67
@sambapete I'm wondering how much work it'd be to add another payment processor here:

https://github.com/edx/frontend-app-payment/tree/master/src/payment/payment-methods

When the payment MFE was originally created, there was some care taken to try to have a consistent payment processor interface/API for the three that are already there.

In lieu of a more pluggable system, I expect it wouldn't b

[2021-05-18 21:05] sambapete commented on #67
@davidjoy I guess this could be a possibility.

Not being a developer, that would be difficult for me to implement and make sure to convert properly the code from the payment processor we developed in Python (based on the code from cybersource.py) in ecommerce and to recode it in JavaScript / React. Especially in the context where it is also an hosted payment page that does not require the basket

[2021-05-18 22:29] regisb commented on #72
Do we know if the errors you faced affect Koa? @nedbat Can you tell us more about the errors?

[2021-05-19 10:15] nedbat commented on #41
https://github.com/edx/configuration/pull/6413

[2021-05-20 12:23] pdpinch commented on #71
I think this feature was [replaced by edx-when](https://github.com/edx/edx-platform/pull/20121), back in 2019. I'm not sure why the `INDIVIDUAL_DUE_DATES` feature flag wasn't removed. I think we should test the "Extensions" functionality on the Instructor Dashboard with the flag set to false. If it still works, then we can schedule the flag to be deprecated and removed.

I'm not sure if we should

[2021-05-20 17:46] davidjoy opened #74 "The new MFE payment flow does not support custom payment processors"
Hi all,

@sambapete had outlined some very valid issues with the payment MFE as it exists today in this issue: https://github.com/openedx/build-test-release-wg/issues/67#issuecomment-843383541

After having a discussion at our team's standup (with @sarina @nedbat and @stvstnfrd), we were wondering if the right course of action for Lilac is to revive and support the non-MFE payment flow that was de

[2021-05-20 18:35] sambapete commented on #74
You could always take a look at what I had to do in our fork of
lilac.master to see what I did.

I am sorry, it's not that well documented, but most of my changes are
centered around these 3 commits

https://github.com/EDUlib/edx-platform/commit/e964d8db6b063d2ac83450ee1563770b14a8556c

https://github.com/EDUlib/edx-platform/commit/72f479817711c5d7baac1f78e5918e34c39ee5eb

https://github.com/EDUli

[2021-05-20 18:44] sambapete commented on #74
With regards to changes that were made to the ID Verification process that
might also have had an impact on the Payment MFE behavior.

https://discuss.openedx.org/t/deprecation-removal-id-verification-flow-in-edx-platform/3521

I had commented on it back then.

I am just mentioning it in case it could be useful.

Le jeu. 20 mai 2021, à 14 h 35, Pierre Mailhot ***@***.***> a
écrit :

--
Salutations

[2021-05-21 14:31] arbrandes commented on #27
I can confirm that the Account MFE is enabled by default on a new native install.  We can call this done - at least as far as edx/configuration is concerned.

@regisb, what's the status of the Tutor version of the Account MFE?

[2021-05-21 20:52] arbrandes commented on #30
@cmltaWt0, thanks for this.  I tested it, and both payment and ecommerce MFEs are getting deployed correctly.

However, the default configuration is not really usable out of the box on a native install.  Yes, I know, this is how it's always been with ecommerce.   But is this what you mean by "ecommerce additional configuration" on a separate PR?

I'm just trying to gauge if we want to go the extra

[2021-05-21 21:03] cmltaWt0 commented on #30
@arbrandes yes it's exactly what I meant by additional configuration.

Fixes were introduced in my previous PR and I'll add changes I separated from mfe PR later. But for sure it will require some deep testing.

[2021-05-22 21:53] regisb commented on #27
The Account MFE is working in Tutor as part of the lilac branch of the tutor-mfe plugin: https://github.com/overhangio/tutor-mfe/tree/lilac

[2021-05-24 09:26] #41 closed

[2021-05-25 06:31] mtyaka commented on #47
I opened https://github.com/edx/configuration/pull/6416 to update mongo in the {{openedx_native.yml}} playbook to 4.0 and https://github.com/edx/configuration/pull/6420 to cherry-pick the change to the lilac branch.

Does anyone know what the status of the [docker playbook](https://github.com/edx/configuration/blob/master/docker/plays/mongo.yml) is? It's still using 3.2. I did not upgrade it since

[2021-05-25 21:47] ChrisChV commented on #55
Hi!
I'd like to fix this, I already prepared a PR if someone can check it: https://github.com/edx/frontend-app-gradebook/pull/186

[2021-05-26 18:05] sambapete commented on #74
I was trying to better understand how the Payment MFE works in order maybe to see if I can find a way to use our current payment processor (Paysafe).

I found this in ecommerce/docs/decisions/0005-payment-microfrontend-support-and-bff-apis.rst

**Payment Processors
[code]

[2021-05-26 19:38] alfredchavez commented on #51
Is it about the banner with a link to edX Help Center? I think a change to remove that banner have already been merged to master https://github.com/edx/edx-platform/pull/27229, or maybe I am looking in the wrong direction

[2021-05-27 02:45] ChrisChV commented on #66
Hi! I would like to fix this issue, but I need more context about the problem. What is correct, show or not show the Order history in MFEs?

[2021-05-28 16:15] alfredchavez commented on #53
I'd like to contribute to this issue, I am migrating that page to the edx-documentation repository

[2021-06-01 09:22] BbrSofiane commented on #51
Hi @alfredchavez Can you check if the change was backported to Lilac?

[2021-06-01 09:23] BbrSofiane commented on #53
Thanks, @alfredchavez for your interest! Do you need any help getting started on this?

[2021-06-01 09:25] BbrSofiane commented on #66
Hi @ChrisChV, thanks for taking this on!

@davidjoy @sarina Would you be able to provide some guidance here?

[2021-06-01 15:56] alfredchavez commented on #51
Hi @BbrSofiane, that change is also in open-release/lilac.master

[2021-06-01 17:59] arbrandes commented on #67
During [the contributor's meeting](https://drive.google.com/file/d/1jLFPCcLSth1EWGsOu30ncXumiozc8s5F/view?usp=sharing) we decided that at launch Lilac would release as is: with no support for the old ecommerce flow, and no support for other payment processors.

If, however, by Lilac.2 there is a tested patch to resurrect old ecommerce, we agreed we'd merge it in.

Support for other payment process

[2021-06-01 20:57] alfredchavez commented on #53
@BbrSofiane thanks, I didn't have run into problems so far, but as soon as I need help I'll ping you

[2021-06-01 20:59] BbrSofiane commented on #51
@alfredchavez thanks, you're correct this issue can be closed. I'll attach a screenshot of the current page for reference.

![image](https://user-images.githubusercontent.com/13796098/120389665-a20e0980-c324-11eb-86a9-0a62476b3100.png)

[2021-06-01 20:59] #51 closed

[2021-06-02 06:47] mtyaka commented on #47
The PRs ([1](https://github.com/edx/configuration/pull/6416), [2](https://github.com/edx/configuration/pull/6420)) that upgrade mongo to 4.0 have been merged to edx/configuration `master` and `open-release/lilac.master`. Can we close this issues or is there anything else to do @BbrSofiane @arbrandes?

[2021-06-02 06:59] BbrSofiane commented on #47
@mtyaka Looks good to me, thanks for taking care of this!

[2021-06-02 06:59] #47 closed

[2021-06-02 07:19] #27 closed

[2021-06-02 07:22] BbrSofiane commented on #55
Hi @ChrisChV thanks for your contribution!

@davidjoy Can you review this?

[2021-06-02 07:26] BbrSofiane commented on #2
@cmltaWt0 Just a reminder to get this onto lilac.master :)

[2021-06-02 07:27] cmltaWt0 commented on #2
@BbrSofiane yeeap :)
Thanks! Actually I've planned this for today's work.

[2021-06-02 11:44] arbrandes commented on #47
Thanks @mtyaka! 👍🏼

[2021-06-03 14:11] davidjoy commented on #66
Huh - I don't see any references to order history in that entire repository.  That feels wrong.

[2021-06-03 15:06] alfredchavez commented on #53
@BbrSofiane Hi, I created a PR https://github.com/edx/edx-documentation/pull/1948, maybe you can take a look at it, I am not sure what to complete in the reviewers part of the PR(Subject matter expert, etc.). Let me know if change is needed, best regards, Alfred.

[2021-06-03 15:16] nedbat commented on #73
The problem with 2.2.21 was it now disallows absolute paths for static file storage.  edx.org used some absolute paths for some settings (BLOCK_STRUCTURES_SETTINGS.DIRECTORY_PREFIX).  Open edX installations don't use absolute paths for those settings, so there is no problem.

[2021-06-03 15:16] #73 closed

[2021-06-03 15:17] nedbat commented on #72
Turns out It's not a problem for Open edX, see https://github.com/openedx/build-test-release-wg/issues/73#issuecomment-853949605

[2021-06-03 15:17] #72 closed

[2021-06-03 15:46] BbrSofiane commented on #66
@davidjoy Hmm I can see "Order History" on edx.org

[2021-06-03 15:47] BbrSofiane commented on #66
Yeah I can see it here: https://github.com/edx/frontend-component-header-edx/blob/4b69ab80e63ce6884851b475378057ce40ba0b24/src/Header.jsx#L25

[2021-06-03 15:52] BbrSofiane commented on #66
So to fix this:
- [ ] Port the changes needed to add "Order History" using frontend-component-header-edx as an example
- [ ] Add the variable to the README

Is that correct?

[2021-06-03 16:22] davidjoy commented on #66
Yes, edx.org uses frontend-component-header-edx, which has this menu item.  Your suggestion makes sense to me. 👍🏻

[2021-06-03 17:28] BbrSofiane commented on #66
@ChrisChV Does it make sense to you?

[2021-06-03 19:10] arbrandes commented on #3
https://github.com/edx/open-edx-proposals/pull/178 is set to be merged, so we can mark this as done.  I'll create follow-up tickets on this and/or the open-edx-proposals board.

[2021-06-03 19:11] #3 closed

[2021-06-03 19:32] pdpinch commented on #61
@nedbat possibly dumb question: can I/should I include screenshots in the release notes? I'm trying to decide how to include product updates like [this](https://docs.google.com/document/d/1ZD8rCrBHO6rg-a08ZUEvW_iX-2m7HBiCK09Gr-Rg_uc/edit?ts=609d6a51#heading=h.s524z6gywhvr).

[2021-06-03 20:10] arbrandes opened #76 "[Tutor] Support for master"
Tutor should have a supported way of running the master branch of not only edx-platform, but all the other Tutor-supported IDAs and MFEs.  One of the primary (but not only) use cases is CI/CD: we need a way to detect and notify when builds and deployments against master fail.

This was brought forth as [Criterion 4](https://github.com/edx/open-edx-proposals/blob/master/oeps/oep-0045/decisions/0001

[2021-06-03 20:22] arbrandes commented on #76
@regisb, it looks like we might be able to provide some manpower at OpenCraft to help with this (@shimulch, tagging you for awareness.)  Have you been able to figure out what the architecture of Tutor master support would look like?

I know the issue will probably be better tracked/discussed in the Tutor repo/forums, but I figure it's worth keeping here as a reminder to circle back.  Of course, I'

[2021-06-03 20:30] arbrandes opened #77 "[Tutor] Instrumentation and documentation for running Tutor at scale"
Brought up as [Criterion 1](https://github.com/edx/open-edx-proposals/blob/master/oeps/oep-0045/decisions/0001-tutor-as-replacement-for-edx-configuration.rst#criterion-1-how-well-can-tutor-deploy-open-edx-for-production-use) in OEP-45, ADR-1, the community needs a publicly documented, reproduceable way to run Tutor at scale on multiple servers.

A good example of what is meant by this is @braden's

[2021-06-03 20:41] arbrandes opened #78 "[Tutor] Document migration from native installation"
As described in [Criterion 6](https://github.com/edx/open-edx-proposals/blob/master/oeps/oep-0045/decisions/0001-tutor-as-replacement-for-edx-configuration.rst#criterion-6-migration-from-the-native-installation) of OEP-45, ADR-1, the community needs a documented way to migrate from the now deprecated [native installation](https://openedx.atlassian.net/wiki/spaces/OpenOPS/pages/1969455764/Koa+Nativ

[2021-06-04 01:55] ChrisChV commented on #66
Yes it makes sense to me, I can do it

[2021-06-04 10:06] e0d commented on #76
Is this a Lilac need?  Are there other tickets directly related to tutor enhancements?

[2021-06-05 16:08] ChrisChV commented on #66
I created a PR:  https://github.com/edx/frontend-component-header/pull/107

[2021-06-07 07:25] regisb commented on #76
This is not really related to Lilac -- it's mostly a way for us to develop on the master branch of Open edX from Tutor.
I have not deeply researched this issue, yet. Basically, we would need "edge" branches on most of the core and plugin repositories. The primary questions are:

1. Which branching model should we follow?
2. Who are the maintainers responsible for keeping the branches working?

[2021-06-07 07:26] regisb commented on #78
One Tutor user already made a lot of research on this particular topic: https://discuss.overhang.io/t/migrating-from-native-install-to-tutor-juniper-tutor-10-x/1533

[2021-06-07 07:54] e0d commented on #76
For the sake of clarity, what purpose to the "edge" branches fulfill?

[2021-06-07 08:10] regisb commented on #76
The edge branches would allow developers to build Docker images on the Open edX master branches instead of the tagged releases. They would also include changes to run the Open edX master branches, such as the right Python/Elasticsearch/etc. versions, the right settings...

[2021-06-07 10:26] regisb opened #79 "The Zendesk "contact us" page is enabled by default"
On both Lilac.rc1 and Koa.3, the LMS footer includes a link to /support/contact_us. This page includes a form that is submitted to Zendesk.

![Screenshot from 2021-06-07 12-14-29](https://user-images.githubusercontent.com/44319/120999902-f03e6500-c789-11eb-961a-501b2188791f.png)

But for most Open edX instances, Zendesk is not actually enabled. Thus, submitting the form results in a 500 error:

[c

[2021-06-07 15:19] BbrSofiane opened #80 "Add Tutor installation instructions to the official Open edX installation instructions"
The installation documentation are missing any reference to the installation using tutor.

We need to add:
- [x] A brief description of the situation regarding the move to Tutor as the official native installation
- [x] A brief description of the reasons to use the native installation instead
- [x] Link to the tutor installation instructions

[2021-06-07 15:30] BbrSofiane commented on #58
https://edx.readthedocs.io/projects/edx-developer-docs/en/latest/developers_guide/micro_frontends_in_open_edx.html#configuration-with-environment-variables

[2021-06-07 15:31] BbrSofiane commented on #58
@davidjoy from the current state of the document we're happy to consider this issue closed.

We will open specific issues if we find anything is missing.

[2021-06-07 15:31] #58 closed

[2021-06-07 15:44] BbrSofiane opened #81 "Support for the Learning MFE"
### Description

Coordinate, and if necessary execute, the tasks necessary to get the [Learning ](https://github.com/edx/frontend-app-learning) MFE up to speed for Maple.

### Acceptance Criteria

The Learning MFE should:

1. Work as intended with the rest of the Maple codebase.
2. Pass a minimum standard of documentation: at the very least, the READMEs should have descriptive text that includes u

[2021-06-07 15:49] BbrSofiane commented on #53
@nedbat

We need to update the links that refer to these instructions to now point to the readthedocs.

[2021-06-07 15:54] BbrSofiane commented on #36
https://discuss.openedx.org/t/open-edx-branding-and-theming-improvements/4747/2

[2021-06-07 15:55] BbrSofiane commented on #36
https://github.com/open-craft/edx-simple-theme/pull/18

[2021-06-07 15:56] regisb commented on #53
Here is the actual link: https://edx.readthedocs.io/projects/edx-installing-configuring-and-running/en/latest/installation/index.html

[2021-06-07 16:02] BbrSofiane commented on #50
Closed for now on the basis that the current workaround enables the installation to work and that this dependency is not used by most of the Open edX community.

[2021-06-07 16:02] #50 closed

[2021-06-07 16:30] regisb commented on #80
We agreed to work on this collaboratively with @arbrandes.

[2021-06-07 16:57] pdpinch commented on #2
I merged the backport to lilac.

[2021-06-07 16:57] #2 closed

[2021-06-07 18:43] arbrandes commented on #68
This [had already been done](https://github.com/edx/frontend-app-ecommerce/commit/aadb276bc8a9afe8dfabc71e8dcc480c4d286ade#diff-7b3ed02bc73dc06b7db906cf97aa91dec2b2eb21f2d92bc5caa761df5bbc168f).  For Lilac, I don't think any further improvement is necessary.

[2021-06-07 18:43] #68 closed

[2021-06-07 18:47] arbrandes commented on #36
@pdpinch agreed to add one or two lines about this to the release notes, to the effect that MFE theming is still a work in progress and the community has yet to reach a consensus on what is the way forward, but that there are ways to do (some) MFE theming in Lilac as per the links above.

(For Lilac.2, by which time one hopes this year's conference videos are released, @jfavellar90 reports that th

[2021-06-07 18:49] arbrandes commented on #45
The investigation has been done and we decided not to include frontend-app-learning in Lilac.

We will for Maple, though.  A separate ticket will be created for it.

[2021-06-07 18:49] #45 closed

[2021-06-07 18:52] arbrandes opened #82 "Support for the frontend-app-learning MFE"
The assignee will keep track of the state of frontend-app-learning in master and communicate to the BTR group the feasibility of including it in the next release.

The assignee will also communicate the community's needs regarding this project upstream.

See #45 for the original investigation for Lilac.

[2021-06-07 18:53] arbrandes commented on #71
For the record, @pdpinch agreed to add a couple of lines to the Release Notes warning users of this removal and its potential side-effects.

[2021-06-07 18:59] arbrandes commented on #61
We agreed during the meeting on Jun 7 to release the notes as they were by the time we tagged them.

@pdpinch, I'd just remove the explicit "TBD" references, unless of course they've already been fleshed out with actual content by the time of the release.

[2021-06-07 19:00] arbrandes commented on #15
This is already in the draft release notes, so we can close the issue.

[2021-06-07 19:00] #15 closed

[2021-06-07 19:09] arbrandes commented on #46
This is not blocking Lilac.1 (we're still gonna test it manually anyway), so moved it to Lilac.2.

[2021-06-07 19:12] arbrandes commented on #30
We can consider this technically done.  The practical task of getting this (and the Ecomerce MFE) into Lilac.1 is being taken care of via #64 and #65.

[2021-06-07 19:12] #30 closed

[2021-06-07 19:56] #61 closed

[2021-06-07 22:27] arbrandes commented on #80
@regisb (and @nedbat), please take a peek at https://github.com/edx/edx-documentation/pull/1952!

[2021-06-07 22:31] arbrandes commented on #53
I think the referred PR pretty much does that already for the edx-documentation repo.  So I think we can call this one done and create any follow-up tickets, if necessary.

[2021-06-07 22:31] #53 closed

[2021-06-08 09:49] BbrSofiane commented on #53
Thanks @alfredchavez  for your contribution! 🎉

[2021-06-08 11:30] #64 closed

[2021-06-10 14:44] arbrandes opened #83 "[Tutor] Seek to understand governance needs"
This issue is meant to both house and track discussion around Tutor governance, picking up where it left off [in the OEP-45, ADR-1 pull request](https://github.com/edx/open-edx-proposals/pull/178#issuecomment-849468947).

The executive summary so far, is:

* @regisb created the [Tutor Maintainers Program](https://discuss.overhang.io/t/the-tutor-maintainer-handbook/1375) in response to inquiries by

[2021-06-10 14:45] arbrandes commented on #83
@antoviaque, do you mind assigning yourself?

[2021-06-10 16:54] alfredchavez commented on #79
Hi, I'd like to contribute to this issue, but I have a question, what do you mean by disable Zendesk, remove(hide) that form or  maybe disable the button when `ZENDESK_URL` is not defined?

[2021-06-12 11:48] antoviaque commented on #83
@arbrandes Thanks for creating this!

For assigning myself, sounds good - but I don't seem to be able to do that? Here is what I see:
![image](https://user-images.githubusercontent.com/514483/121774889-8e4b7a00-cb52-11eb-8683-daa8a702e79b.png)

@regisb @nasthagiri Are we still planning to do that meeting the 3 of us, now that Lilac is out?

CC @Kelketek who has expressed interest participating in

[2021-06-12 14:59] nasthagiri commented on #83
Yes, it would be good to connect on this with an in-sync meeting.  We can try the week of the 21st since I'm out most of next week. @antoviaque Could we trouble you with finding a common time? https://calendly.com/nasthagiri

[2021-06-14 08:13] regisb commented on #79
Hi @alfredchavez! Thanks for your proposition. My personal opinion is that /support/contact_us should redirect to /contact when the Zendesk url is not defined. But if you have a better idea then I'm all ears.

[2021-06-14 15:52] alfredchavez commented on #79
Hi @regisb, your solution sounds great, I am going to implement it

[2021-06-17 17:27] nedbat opened #84 "Make devstack images for Lilac"

[2021-06-18 09:04] #80 closed

[2021-06-18 15:56] antoviaque commented on #83
@nasthagiri Sure! Sorry for the delayed response, a mail filter put the notification at the wrong place.

Looking at your calendar for next week, there are a couple of times on Friday 25th that could work on my side -- either 3:45pm UTC or 4:30pm UTC. @regisb would either of those work for you? I've tentatively booked the first one for now (3:45pm UTC, which is 17:45 French time), but we can move

[2021-06-18 21:17] BbrSofiane commented on #83
@antoviaque I think it's just a permission issue :)

[2021-06-20 09:12] regisb commented on #83
Yes, this is fine!

[2021-06-21 14:35] #46 closed

[2021-06-21 14:41] BbrSofiane opened #85 "Enable Discovery in Github CI"
Currently the installation of discovery is disabled in github CI.

When enabled, the installation fails and it seems to be because the npm cache for the discovery user located in /home/runner/.config which this user does not have access to. ([thread](https://discuss.openedx.org/t/help-running-native-install-inside-a-github-runner-for-ci/4855))

[code]

[2021-06-21 15:21] BbrSofiane commented on #66
Hi @ChrisChV, Looks like the PR has been merged. Thanks for your contribution! 🎉

[2021-06-21 15:21] #66 closed

[2021-06-22 15:14] regisb opened #86 "Answers to forum questions do not trigger any notification"
This was first reported here: https://discuss.overhang.io/t/does-tutor-support-ace/1451/15?u=regis

Here is the result of my preliminary investigation:

To reproduce this, I added the `{"enable_forum_notifications":true}` to the site configuration. Then I created one question with a user, and answered with another. Here are the logs from the lms-worker container:

[code]

The task was processed by

[2021-06-22 18:45] tinumide commented on #85
Hi! I would like to fix this issue, but I need more context about the problem. I think you meant to refer to this thread https://discuss.openedx.org/t/help-running-native-install-inside-a-github-runner-for-ci/4855

[2021-06-22 19:33] BbrSofiane commented on #85
@tinumide yes good point! I've edited the original post.

To reproduce the issue, you can edit this [line](https://github.com/openedx/build-test-release-wg/blob/dc21db9505160ac82696e2173784a4ff845def17/.github/workflows/run-native-install.yml#L44) and change `SANDBOX_ENABLE_DISCOVERY: false` to `SANDBOX_ENABLE_DISCOVERY: true`.

I don't have much more information apart from what's in the thread. I

[2021-06-24 02:29] pcliupc commented on #86
When thread type is question, responses are save in "non_endorsed_responses" and "endorsed_responses", instead of "children". Seems that there  is no intention to support notification of "question" type in current implementation.

[2021-06-24 07:12] regisb commented on #86
Good analysis @pcliupc! Still, I think this should be considered as a bug.

[2021-06-25 15:46] nasthagiri commented on #83
Here's the meeting link: https://meet.google.com/ooe-wmoy-xyv?authuser=0

[2021-06-26 12:29] tinumide commented on #85
I think was mainly confused about the thread. I have a good grasp of the problem now.  I'll let you know if I have any further questions. Thanks!

[2021-06-28 08:39] antoviaque commented on #83
@regisb @nasthagiri @Kelketek I'm writing a quick recap of the outcome of the meeting while it's fresh in mind - see if it matches your own perception, and don't hesitate to correct me or complete it as needed:

After restating our different viewpoints on the topic of governance and core committers, which matched the previous discussions, one of the main point that came to light is that there is a

[2021-06-28 10:57] regisb commented on #83
This sounds about right, thanks for the recap @antoviaque. I'll just clarify a couple things:

To be more precise, right now I'm mostly trying to break even and earn a living wage. I'm not talking about flying my private jet to Tahiti -- although that would be nice. Just buying a new laptop would be a good start.

(fwiw the financials of my company are publicly available on the web)

I am far from

[2021-06-28 14:01] nasthagiri commented on #83
@antoviaque @regisb Thank you both for recapping our conversation. I appreciate your openness to meeting and seeking to understand the _needs_ of both sides.

Reflecting back on what we heard to ensure we understood each other was a good first step before discussing possible solutions. We were able to learn about 2 different needs seemingly pulling us in different directions:

- creator reputation

[2021-06-28 16:58] Kelketek commented on #83
@regisb I spent some time mulling over our needs and yours, and I think I've come up with an idea that may help you address your needs-- especially in regards to funding your continued work around Tutor. I've spoken with @antoviaque about it, but would like to speak with the two of you to see if this is something you'd be interested in before digging into it further. Could you schedule some time w

[2021-06-29 05:56] ashadunga commented on #11
Hi Team,

Can I be part of this documentation? Technically had 4+ years of experience in working on Projects developed using Python, Java, SQL and ETL . With over 2+ years of experience in Documenting the technical details of the project.

[2021-07-01 12:35] arbrandes opened #87 "[edx/configuration] Mongo 4.0 plays are not idempotent"
### Description

This is a follow-up to #47.  When running the native playbook a second time, the user will run into the following:

[code]

Originally reported on #ops, [here](https://openedx.slack.com/archives/C08B4LZEZ/p1624873238025800) and [here](https://openedx.slack.com/archives/C08B4LZEZ/p1625104718027800).

### Acceptance criteria

* Running the native playbook a second time does not caus

[2021-07-01 12:42] regisb commented on #87
"In case of a failure during the native installation, please shut down your computer, uninstall the operating system and format your hard drive. Then try again."

[2021-07-01 12:43] arbrandes commented on #87
@mtyaka, just an FYI, since you fixed #47.

[2021-07-01 15:34] nedbat opened #88 "How should we support "make upgrade" on a release branch?"
As packages change out in the world, new pins get added to master, like this one: https://github.com/edx/edx-platform/pull/27959

If we don't bring those pins over to the release branch, then "make upgrade" won't work on the release branch.  But "make upgrade" is dangerous on the release branch in the first place, because we don't have a way to validate the updated packages.

This came up because

[2021-07-01 15:37] regisb commented on #88
The answer is actually to run `make compile-requirements`. I think this resolves the problem, right?

[2021-07-01 15:40] jmbowman commented on #88
That's our solution for edx-platform, although we don't consistently support it in other repos yet: https://github.com/edx/edx-platform/tree/master/requirements#upgradingdowngrading-just-one-dependency .  Should this be added to OEP-18?

[2021-07-01 19:32] mtyaka commented on #87
Thanks for the ping @arbrandes, I'll look into this next week.

[2021-07-02 11:47] tinumide commented on #85
Hi @BbrSofiane, I'm trying to make a build with the configuration repository I forked from https://github.com/edx/configuration
<img width="1216" alt="Screenshot 2021-07-02 at 12 43 22" src="https://user-images.githubusercontent.com/30666999/124269958-75236100-db33-11eb-956b-c9bc9bcc46d8.png">
It keeps failing with this error
<img width="1007" alt="Screenshot 2021-07-02 at 12 37 59" src="https://u

[2021-07-03 07:38] BbrSofiane commented on #85
@tinumide do you mean installing your own instance? You can do that following the [installation instructions](https://edx.readthedocs.io/projects/edx-installing-configuring-and-running/en/open-release-lilac.master/installation/native_installation.html) in the docs.

[2021-07-05 16:42] BbrSofiane opened #89 "How do we deal with PRs on release branches post for minor releases?"
Following the issue introduced by edx/configuration#6442, it's clear that we need a process to either:
- run CI prior to merging PRs on release branches
- Have a note in the issue template to notify that the CI for the native installation should be run after merging.

[2021-07-06 08:27] mtyaka commented on #55
It looks like this was fixed in edx/frontend-app-gradebook#186. Can we close this issue?

[2021-07-06 09:41] BbrSofiane commented on #55
Yes, thank you for your contribution @mtyaka!

[2021-07-06 09:41] #55 closed

[2021-07-06 17:22] tinumide commented on #85
@BbrSofiane this is closer to it, but in my case I want to run a workflow of the installation on github runner. Basically I'm trying to recreate the same process that reproduces the error, but instead of using[ edx configuration](https://github.com/edx/configuration) which in turn points to [edx discovery service repo](https://github.com/edx/course-discovery), I want it to point to my forked repo

[2021-07-06 21:27] sambapete commented on #67
Because the current payment processor (Paysafe) we use at EDUlib isn't compatible with the Payment MFE, I needed to understand how the Payment MFE works with Cybersource in order to better understand what needs to be done for another payment processor in order to be PCI Compliant. Paysafe has a similar system than the Cybersource Flex MicroForm in order to capture and tokenize the credit card info

[2021-07-08 16:07] sambapete commented on #67
Just FYI

I tested the scripts available in https://github.com/CyberSource/cybersource-flex-samples-node

They work with the keys provided and with the keys I created at Cybersource. So I know the CyberSource Flex SDK works.

Neither the keys provided nor the keys I created at Cybersource work with the Payment MFE. I still get the skeleton loading with no idea whatsoever is going wrong.

I am out

[2021-07-09 16:45] arbrandes opened #90 "The native installation should pin MFE versions"
### Description

Recently, [a commit](https://github.com/edx/frontend-app-gradebook/commit/15b76edb5dff3cb42043b247fa7dfe67bb31b91f) that likely introduced a backward-incompatible change (if not a bonafide bug!) to the Gradebook MFE and Lilac.master.  Even if the Gradebook is not officially supported for Lilac by the BTR group, we need a way to avoid such upstream changes from breaking the other o

[2021-07-15 07:50] pomegranited commented on #87
FYI @mtyaka @arbrandes merged https://github.com/edx/configuration/pull/6468 -- so this is ready to be cherry-picked into the `lilac.master` branch.

[2021-07-16 12:31] arbrandes commented on #87
Thanks, @pomegranited!

[2021-07-19 07:40] BbrSofiane commented on #85
@tinumide Apologies for the delay! (deadlines with work and holidays got in the mix).

Hmm I'm probably not the best person to ask when it comes to debugging ansible errors. Can you make a post in the [discuss forum](https://discuss.openedx.org/) describing your current problem? I'm sure someone in the community will be able to help.

[2021-07-19 14:37] arbrandes commented on #84
This is done.

[2021-07-19 14:37] #84 closed

[2021-07-19 16:24] pdpinch commented on #81
Path-based routing doesn't appear to be implemented in the learning MFE. Is that a requirement for Maple?

[2021-07-20 14:17] pdpinch commented on #81
Our findings so far:

- If you use domain-based routing, you will need to add the MFE domains to `CORS_ORIGIN_WHITELIST` and, possibly, `CSRF_TRUSTED_ORIGINS`
- MFE Authentication requires the full complement of JWT settings. Since the individual settings aren't documented, we're not sure what these are for and how they interact with the MFE.

[2021-07-20 17:07] arbrandes commented on #81
@cmltaWt0, since you did such a great job on the ecommerce MFEs, would you be interested in investigating what needs to be done to get the learning MFE up and running on current master?

At this point we're mostly interested in how easy/difficult it would be just to get it working.  We're not after a PR to edx/configuration, for instance.  (The end goal would actually be a PR to Tutor, when/if we

[2021-07-20 17:19] arbrandes opened #91 "[Native] Ansible failure due to mysql-client deb not found"
### Description

A [credible report](https://discuss.openedx.org/t/lilac-native-installation-error/5435) has surfaced describing a Lilac installation failure using the Native Installation.  This was confirmed to be the cause of a CI failure [on 20-21-07-20](https://openedx.slack.com/archives/C024NDGJPEX/p1626784422000700).

### Acceptance criteria

* The native installation completes successfully

[2021-07-20 17:23] arbrandes commented on #82
Closing in favor of #81.

[2021-07-20 17:23] #82 closed

[2021-07-20 18:18] nedbat commented on #81
Can we have some more specifics for "reasonably themeable"? Are the current Lilac MFE's reasonably themeable?

[2021-07-20 19:15] arbrandes commented on #81
@nedbat, good question.  IIRC, this line comes from when we were discussing what to do about the MFEs we would support for Lilac - before we found out how hard theming would be.  As far as I'm concerned, we can ditch that line.  (Possibly in favor of a dedicated issue to keep track of theming developments.  #36 would be a good start, for instance.)

[2021-07-22 23:39] sambapete commented on #91
Seems like a case of Oracle upgrading the version from 5.7.34-1ubuntu18.04 to 5.7.35-1ubuntu18.04. Not the first time. Not the last time. I checked if there was a  5.7.35 version in another mirror here in Canada http://mirror.csclub.uwaterloo.ca/mysql/Downloads/MySQL-5.7/ and there are versions with 5.7.35

They must have pulled the 5.7.34 version from the repo we are using for Open edX.

[2021-07-22 23:41] sambapete commented on #91
Tried installing an instance with lilac.master. It failed on 5.7.34-1ubuntu18.04. Modified the defaults/main.yml file in the mysql role to use 5.7.35-1ubuntu18.04 instead. It installed it.

[2021-07-23 15:28] cmltaWt0 commented on #81
Yeap. I think it's reasonable (not such reasonable as `reasonably themeable` but anyway :) )

I'll participate in this investigation.

[2021-07-23 17:23] BbrSofiane commented on #69
Does this still need to be done?

[2021-07-26 14:49] nedbat commented on #91
Why are we using packages labelled ubuntu18.04?

[2021-07-26 14:55] sambapete commented on #91
Because Oracle stopped supporting MySQL 5.7.X for Ubuntu20.04? The default
being MySQL 8.0 on Ubuntu 20.04. But Open edX has not been tested on MySQL
8.0?

Apart from that, I don't have a real answer. I guess it's because it is
what is being available in the MySQL repos and what Open edX has been
tested against ?

Le lun. 26 juill. 2021, à 10 h 49, Ned Batchelder ***@***.***>
a écrit :

--
Salutat

[2021-07-26 15:40] pdpinch commented on #81
There are four .env settings in frontend-app-learning for logos. What are they for? Is it possible to annotate these similar to other settings?

from https://github.com/edx/frontend-app-learning/blob/a003059c8f70fc8371d0ef22a83b0bad2ca23f4f/.env#L15-L18

LOGO_URL=''
LOGO_TRADEMARK_URL=''
LOGO_WHITE_URL=''
FAVICON_URL=''

[2021-07-26 16:05] adzuci commented on #91
This PR should fix the issue for master: https://github.com/edx/configuration/pull/6485 cc @jdmulloy

I also think that we will need to cherry pick it to the lilac branch, is that something someone else would be able to open a PR for?

[2021-07-26 16:09] adzuci commented on #91
Also, this is likely going to happen again since this PPA only keeps the latest version of the 5.7 package, could we do something like this post suggests?
https://askubuntu.com/a/1260779

[2021-07-26 17:36] arbrandes commented on #91
@adzuci, +1.  Pinning to 5.7* sounds like it would be ideal solution to prevent this from happening again soon.

[2021-07-26 18:38] nedbat commented on #91
I've cherry-picked the 6485 commit onto koa and lilac, and am also trying a wildcard.

[2021-07-26 19:37] jmyatt commented on #81
@pdpinch does this now-merged OSPR address your question on subpath hosting? https://openedx.atlassian.net/browse/OSPR-5847

[2021-07-26 19:57] adzuci opened #93 "[edx/configuration] Mongo 4.4 licensing issue"
Hey BTR friends, Adam here from the edX SRE team.  I wanted to raise this here in case others have already thought about upgrading off of Mongo 4.0 or could share or help plan a valid backup methodology for Mongo 4.4.

Additional Context:

edX is running Mongo 4.0 clusters in EC2 instances which will reach EOL before we move past Maple, so we plan to upgrade.  Unfortunately, there are few backup r

[2021-07-27 13:03] BbrSofiane commented on #79
Hi @alfredchavez, thanks for your contribution!

Can you cherry pick the commit on the lilac.master branch? Once that's merged we can close the issue.

[2021-07-27 13:07] BbrSofiane commented on #87
Hi @mtyaka, can you cherry-pick this into `lilac.master`? Once that's done we can close this issue.

Thanks

[2021-07-27 14:46] BbrSofiane commented on #91
The native installation CI [passed](https://github.com/openedx/build-test-release-wg/runs/3169935840?check_suite_focus=true) this morning. Is there anything else to do to close this?

[2021-07-28 07:07] mtyaka commented on #87
@BbrSofiane The PR to cherry-pick this into `lilac.master` is [here](https://github.com/edx/configuration/pull/6479). I'm just waiting for someone with commit rights to merge it.

[2021-07-28 12:07] arbrandes commented on #91
I don't think so, @BbrSofiane.  Closing it.

[2021-07-28 12:07] #91 closed

[2021-07-29 14:12] adzuci commented on #87
@mtyaka I just merged https://github.com/edx/configuration/pull/6479  Thanks for addressing this.

[2021-07-29 14:13] nedbat opened #94 "Latest Chrome 92 blocks popups from iframe, impacting LTI"
https://openedx.atlassian.net/browse/TNL-8559 (not sure if public)

Learners on the latest Chrome  92.0.4515.107 are blocked from launching LTI in a new window when the LTI allows transfering username and email to a third party.

Google Chrome blocks the alert message from appearing.

Javascript console gave "A different origin subframe tried to create a JavaScript dialog. This is no longer allowe

[2021-07-29 16:05] alfredchavez commented on #79
Hi @BbrSofiane just checked on it and it seems there is a PR already for it https://github.com/edx/edx-platform/pull/28300

[2021-07-29 16:44] #87 closed

[2021-07-29 16:46] BbrSofiane commented on #94
@nedbat does this only happen on the learning MFE?

[2021-07-29 17:20] doctoryes commented on #94
@BbrSofiane Correct - only on the learning MFE and only on Chrome 92+. The issue also affects modal dialogs in ORA units, again only learning MFE/Chrome 92+.

[2021-07-29 17:44] BbrSofiane commented on #94
Is this a (big) problem for Lilac since we don't support the Learning MFE in that release?

Or is it an easy fix to backport?

[2021-07-29 17:48] doctoryes commented on #94
It's an easy fix to backport - and that work is in-progress here:
https://github.com/edx/edx-platform/pull/28321

[2021-07-30 12:02] mtyaka commented on #87
Thanks @adzuci! :)

[2021-08-02 15:31] BbrSofiane commented on #89
Write an ADR describing our decision making process for these types of issues.

[2021-08-02 15:38] arbrandes opened #95 "[edx-platform] [backport] Produce grade report when subsections have future start dates"
See https://github.com/edx/edx-platform/pull/28038.

[2021-08-02 15:43] BbrSofiane commented on #69
2,2.24 seems to be in Lilac

[2021-08-02 15:43] #69 closed

[2021-08-02 15:46] arbrandes opened #96 "[configuration] [backport] Make default queue names service variant specific. #28066"
See https://github.com/edx/edx-platform/pull/28250.

[2021-08-02 15:49] arbrandes opened #97 "[configuration] [backport] Update elasticsearch configurations"
See https://github.com/edx/configuration/pull/6494.

[2021-08-02 15:57] BbrSofiane opened #98 "[Tutor] Codejail plugin should be ready for Maple"

[2021-08-03 21:32] pdpinch commented on #81
Thanks for the link @jmyatt. I think that commit was necessary for other MFEs to work, but frontend-app-learning is still missing the basic support.

[2021-08-03 22:16] #79 closed

[2021-08-04 21:11] arbrandes commented on #97
Merged.

[2021-08-04 21:11] #97 closed

[2021-08-04 21:11] arbrandes commented on #96
Merged.

[2021-08-04 21:11] #96 closed

[2021-08-04 21:11] arbrandes commented on #95
Merged.

[2021-08-04 21:11] #95 closed

[2021-08-05 12:05] BbrSofiane commented on #94
@doctoryes I see the the PR is merged, can we close this issue?

[2021-08-05 17:28] BbrSofiane commented on #90
@arbrandes What were the steps to reproduce this issue?

I've run a native installation and all the MFEs are checked out with the correct branch (open-release/lilac.master).

Looking at [edx/configuration/install/native.sh](https://github.com/edx/configuration/blob/open-release/lilac.master/util/install/native.sh#L125), `MFE_DEPLOY_VERSION` is set by the install script.

[2021-08-05 20:41] mikix commented on #81
Those four variables are mentioned in the general MFE developer docs:
https://edx.readthedocs.io/projects/edx-developer-docs/en/latest/developers_guide/micro_frontends_in_open_edx.html#branding

[2021-08-05 21:11] doctoryes commented on #94
The documentation PR has not been reviewed/merged yet. Once that's done, then this issue can be closed.

[2021-08-06 15:58] arbrandes commented on #90
@BbrSofiane, excellent catch.  This issue was reported to me by the Opencraft team when deploying via [Ocim](https://github.com/open-craft/opencraft/), and I neglected to check native.sh.  I guess we can close this, then. :)

[2021-08-06 15:58] #90 closed

[2021-08-09 13:24] ericfab179 commented on #98
@BbrSofiane I left here the PRs realted to this work so maybe I can drag more attention to them and you can help me asking for reviews. Thanks.
Tutor plugin: https://github.com/eduNEXT/tutor-contrib-codejail/pull/1
Codejail service: https://github.com/eduNEXT/codejailservice/pull/2
edx-platform: https://github.com/edx/edx-platform/pull/27795

[2021-08-09 16:06] doctoryes commented on #94
Oh - and the documentation PR is here:
https://github.com/edx/edx-documentation/pull/1966

[2021-08-11 20:27] pdpinch commented on #81
FYI, we're starting work on making frontend-app-learning support path-based routing like the other MFEs.

[2021-08-16 15:51] sarina commented on #9
Gave an update in BTR today. In short, this upgrade has broken edx.org production (but not staging!) 3 separate times. I will work on getting more details about how things broke. So, community involvement in the upgrade would be difficult, unless it breaks your prod env the same way.

edX engineers are variously focused on the Learning MFE, django upgrade, & node upgrade for Maple. There is not in

[2021-08-17 18:11] #89 closed

[2021-08-24 18:06] mikix commented on #81
The way I know to theme frontends is to extend the default theme and use your new custom theme. This repo's readme has instructions: https://github.com/edx/brand-openedx

Is that what you meant?

[2021-08-30 08:14] regisb commented on #9
Thanks for the update @sarina. If I understand correctly, the error stems from the fact that old tzlocal objects (without `_hasdst` attribute) are being deserialized, which causes errors down the line.

My understanding is that the deserialization happens in `xmodule.modulestore.split_mongo.mongo_connection.CourseStructureCache.get`. I suggest that this method implements a quick'n dirty fix -- som

[2021-08-30 13:45] sarina commented on #9
I'd have to defer to @jristau1984 or @ormsbee as representatives of T&L on this one

[2021-08-30 15:46] #85 closed

[2021-08-30 15:57] BbrSofiane commented on #67
Past Maple, this is now superseded by the overall question around the deprecation of ecommerce.

[2021-08-30 16:04] BbrSofiane commented on #11
@angonz is this still something that's on your radar?

In the last BTR meetup, the idea was brought up to makes this a community effort. The assignee of this issue will ask each BTR team member to contribute and make sure they do so in a timely manner.

[2021-08-31 17:12] angonz commented on #11
Hi @BbrSofiane! Thanks for calling me. Yes, I'm still here. Unfortunately I have another appointment at the same time as the contributors meetings, so I'm unable to attend currently.  But I'm still on the road... Now struggling with Tutor and Kubernetes :-S

[2021-09-02 17:29] jristau1984 commented on #9
I think based on the track record of deploying changes related to this, I am not comfortable testing this only in production.  However, as stated previously, our team does not have the bandwidth to field this currently.  I extend my apologies for not being able to prioritize fixing the issue at this time.

[2021-09-07 08:50] regisb commented on #9
What's the resolution strategy here? If we manage to reproduce and fix this issue in staging, will you ok the deployment in prod?

The stacktrace shows that the bug occurs in a place that is gated by an experimental waffle flag:

[code]

    if RELATIVE_DATES_FLAG.is_enabled(course.id):
        blocks.extend(get_course_assignment_date_blocks(
            course, user, request, num_return=num_assig

[2021-09-07 14:46] BbrSofiane opened #100 "Bulk email templates contains many edX-specific reference (and are thus unusable)"
Emails sent via the Bulk Email feature use an edX specific template.

More details in overhangio/tutor#485

[2021-09-07 20:07] cmltaWt0 commented on #100
And here we need to design this email template firstly for  `open edX` brand.
Do we have an open edX brand-book already (maybe I miss it somewhere)?

[2021-09-09 10:10] regisb commented on #81
Looks like the learning MFE is working in Tutor :)

![tutor learning](https://user-images.githubusercontent.com/44319/132666998-cab4fad4-ed7c-42a6-aef9-dd5a61637b4d.png)

I am currently working on getting Tutor to run with the Open edX master branches; the result will be available in the "edge" branches of the [tutor main repo](https://github.com/overhangio/tutor/) and the [mfe plugin](https://git

[2021-09-13 17:28] davidjoy commented on #28
I don't think anyone at edX is actively looking at this list.  I can be a contact to help get things merged here.

[2021-09-14 14:00] pdpinch commented on #81
@regisb how are you handling the routing in Tutor? (I should look and see for myself, but I thought I'd ask if it's a quick question)

[2021-09-14 14:28] regisb commented on #81
Traffic first goes through Caddy (for SSL termination), then Nginx (for proxying), then another Caddy server (in the MFE container). The MFE container holds all the static assets for all microfrontends. The Caddy server in this MFE container serves static assets from multiple directory locations. Here is the Caddy configuration file: https://github.com/overhangio/tutor-mfe/blob/master/tutormfe/tem

[2021-09-20 14:41] jnlapierre commented on #29
Good Morning :) I am going to be reviewing this.  I plan to review it today.

[2021-09-20 14:48] nedbat commented on #29
@jnlapierre is the edX contact for this work. Thanks Justin!

[2021-09-20 15:54] jfavellar90 commented on #29
Thanks @nedbat, @jnlapierre Please let me know if you require any help in the review you're going to perform.

[2021-09-22 16:14] BbrSofiane opened #101 "Enabling OAuth for Studio login"
## Description

[DEPR-166](https://openedx.atlassian.net/browse/DEPR-166?focusedCommentId=568620&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-568620) introduces code and configuration changes on master to give Studio a separate session and cookie (scoped to just the Studio domain) and plan to reduce the domain scope of LMS's session cookie as well. studio.edx.org

[2021-09-23 05:08] regisb opened #102 "Bulk course emails are rejected by email server because of an invalid "from" address"
See this conversation: https://discuss.overhang.io/t/sending-bulk-email-triggers-smtprecipientsrefused-error/1923/10

When sending bulk course emails, by default the "from" address is built as follows: `f"{courseid}-{bulk_email_from}"`. ([source](https://github.com/edx/edx-platform/blob/85065cd95a3733406310539ada36f934327b03f5/lms/djangoapps/bulk_email/tasks.py#L413)) In many cases, sender verific

[2021-09-23 15:32] jfavellar90 commented on #29
Hi @jnlapierre did you have the chance to review the Gradebook MFE?

[2021-09-27 15:26] BbrSofiane commented on #81
https://discuss.overhang.io/t/running-open-edx-on-master-with-tutor-edge/1957/4

[2021-09-27 15:33] BbrSofiane commented on #6
Need to check whether this issue is being fixed.

[2021-09-27 16:00] davidjoy commented on #81
FYI, the learning MFE has a hard-coded header and doesn't use the npm aliases mechanism described here: https://edx.readthedocs.io/projects/edx-developer-docs/en/latest/developers_guide/micro_frontends_in_open_edx.html#overriding-brand-specific-elements

This means that the header will be brandable (change styling), but not override-able (change functionality) today.

[2021-09-27 16:08] pdpinch commented on #81
@davidjoy do you know what would be involved in making the header (and footer) override-able? Is that something that could be fixed in an OSPR?

[2021-09-27 16:29] davidjoy commented on #81
Yes... I think we could.  It might be a smidge complicated.

I think the right thing to do is to move a basic, generic version of the header in the learning MFE into the frontend-component-header repository and export it from there as something like `LearningHeader` as a peer of the `Header` export.  Then give the MFE a dependency on that and pull the code from it instead.  Before we could merge t

[2021-09-27 19:59] regisb commented on #81
@davidjoy I did not dig deep enough into the MFE source code to fully understand your explanations above; nonetheless, the process seems rather complex for a task that is a frequent requirement of most Open edX operators. Is there any way to improve and document the theming of MFEs to tell our users a better story?

[2021-09-28 06:25] regisb commented on #9
@jristau1984 did you see my comment and question above?

 Some major Open edX contributors are affected by this bug, and they would like to see a resolution -- or at least a strategy to resolve this issue.

[2021-09-29 18:47] davidjoy commented on #81
This task would be a one-time refactor of the code in the learning MFE that would enable operators to make their own customized versions of the header.  The existing mechanism for doing that is to use an npm alias to point `@edx/frontend-component-header` to `my-frontend-component-header` - the problem is that the learning MFE just doesn't get its header from that package today; it's hardcoded in

[2021-10-05 14:31] cmltaWt0 commented on #81
As far as I understand the same architecture as for [frontend-app-ecommerce](https://github.com/edx/frontend-app-ecommerce/blob/master/src/index.jsx#L26) should be applied.
![image](https://user-images.githubusercontent.com/877401/136043489-71f4bd0b-854b-4ca9-9c08-15f7b01fb41c.png)

[2021-10-05 15:11] regisb commented on #28
As far as I understand, the profile MFE is not internationalized or localized at all, either in Lilac or the master branch:

![Screenshot from 2021-10-05 16-44-03](https://user-images.githubusercontent.com/44319/136045894-47933929-ee2d-4b88-a43e-59d472e20f60.png)

I would expect the profile page to be in French, given my browser and my Open edX account settings.

If it is any comfort, the profile

[2021-10-05 18:00] davidjoy commented on #81
Yup - it should be very similar.  I think line 1 of index.jsx ends up looking like:

[code]

... for instance, since we'll need to move the existing header into that repo and then use it.

[2021-10-05 18:08] davidjoy commented on #28
Note that "Primary Language Spoken" is _not_ the same as setting the site language, which is done in your account settings (either through the MFE or old experience)

That said, I see that the FR translations are all in English right now, which means they probably haven't been accepted in Transifex.  es_419, on the other hand, looks to be fully translated.  If you set your site language in account

[2021-10-06 11:08] cmltaWt0 commented on #81
@regisb
I'm doing some testing for learning MFE on local tutor installation (non production mode).

And I've encountered missing waffle flag in hooks for lms.
Added in [PR](https://github.com/overhangio/tutor-mfe/pull/11).

Next we could discuss the following flags to add:
[code]

Also I can't get the fully working learning app - it still stuck in Loading state (deployed from nightly branches from

[2021-10-06 13:23] jmyatt commented on #81
@cmltaWt0 about the flags you mentioned, only `course_home.course_home_mfe_progress_tab` should still be relevant.

Removal of `course_home.course_home_mfe_dates_tab` and `course_home.course_home_mfe_outline_tab` was done [in this commit](https://github.com/edx/edx-platform/commit/87e3ce69b6db3b93d64678f46926d4e431817f2c#diff-69936e1a963cf5b81fd008890439a3ece0d241a488fe56e45df70cac5e0b55c0L24-L27)

[2021-10-06 20:00] cmltaWt0 commented on #81
Thanks @jmyatt !
I miss that nighty is still on lilac.2 by default.

@regisb It's my fault with flag in tutor-mfe's PR.
New courseware was enabled by default in https://github.com/edx/edx-platform/pull/27757

I have to revert the PR (it makes no effect on the logic).

[2021-10-07 08:55] asadiqbal08 commented on #81
@davidjoy related to the suggestion above, Can you please take a look over the [approach here](https://github.com/mitodl/mitxonline/issues/252) ?

[2021-10-08 13:57] cmltaWt0 commented on #81
@davidjoy Could you support me in the comment above by pointing a person to ask for the list of features or it's simpler to create an issue in the learning repo?

[2021-10-10 07:08] tabrezgoilkar commented on #74
what is advise on payment gateway issue? I have fresh installation of Lilac and planned go live was supposed to be Oct 2nd week, but i am stuck with Payment gateway issue? shall i revert back and Use Koa version or shall i wait for maple release to use code from it? or use shopping cart? as this is affecting my go live dates appreciate your feednback

[2021-10-11 11:08] cmltaWt0 opened #103 "[Native] Broken installation"
Current state of native installation is broken:

[code]

[2021-10-11 14:12] jfavellar90 commented on #29
@davidjoy @jnlapierre hi, do you have any updates related to the Gradebook MFE?

[2021-10-11 15:05] regisb commented on #103
These tutor user reports might be related (or not):
https://discuss.overhang.io/t/failed-to-load-entrypoint-android-tutorandroid-plugin/2012
https://discuss.overhang.io/t/tutor-binary-and-python-plugins/1788/7

[2021-10-12 16:37] Drakko25 commented on #102
Hey @regisb I am looking at this issue. I've create the PR by now is a draft to check if the CI passes https://github.com/edx/edx-platform/pull/29001. Please let me know if any issues. Regards.

[2021-10-13 07:05] asadiqbal08 commented on #81
@davidjoy ⏫

[2021-10-14 06:52] regisb commented on #28
Right! However, I still can't get the Profile MFE in Spanish, even when I set the platform language to es_419 and change the user site language, from the account. I'll keep investigating.

[2021-10-18 13:27] regisb opened #104 ""Uncaught TypeError: n is null" during login to LMS"
This error was first reported here by @pomegranited: https://discuss.openedx.org/t/lms-and-studio-sign-in-not-redirecting/5439

When signing in the LMS, the authentication request succeeds but the user is never redirected to the dashboard. The following "n is null" is triggered in the frontend code:

![n is null](https://user-images.githubusercontent.com/44319/137740407-e68871dd-f3ca-4f78-90c0-73a

[2021-10-18 13:43] regisb commented on #101
@timmc-edx to automatically create OAuth2 provider applications in Tutor, we make use of the [create_dot_application](https://github.com/edx/edx-platform/blob/open-release/maple.master/openedx/core/djangoapps/oauth_dispatch/management/commands/create_dot_application.py) management command. However, this command does not allow us to pass an empty "user", as you recommend in the [studio oauth guide]

[2021-10-18 13:56] regisb opened #105 "edx-platform triggers too many deprecation warnings"
[Status of remaining warnings spreadsheet](https://docs.google.com/spreadsheets/d/1ijUV8vgnVSZJ3goBos5H_ytaSxCcFBHKfkxZFAbn9js/edit?usp=sharing)

Running any command in edx-platform triggers a lot of deprecation warnings of the following types:

1. (fields.W903) NullBooleanField is deprecated. Support for it (except in historical migrations) will be removed in Django 4.0. HINT: Use BooleanField(nu

[2021-10-18 22:56] timmc-edx commented on #101
(OK, ignore all that nonsense I posted before... let's try this again now that I'm back up to speed on this.)

Yes, we should probably create a `studio_worker` user, just because all the other apps have one. I'm not actually sure what the difference is between having/not having a user associated with a DOT client. The docs refer to it as the "owner" but I don't know what that implies.

Rather than

[2021-11-01 07:18] regisb commented on #98
Merged! As far as I am concerned we can close this issue.

[2021-11-01 07:18] #98 closed

[2021-11-04 13:50] nedbat opened #106 "Django 3.2.9"
This security release should be applied to Maple.  In the past I have done it with ad-hoc manual/automated steps.  How do we want to do it now?

[2021-11-04 14:02] regisb commented on #106
It would be awesome if we could have a bot, somewhat similar to github's own [dependabot](https://github.com/dependabot), which would take care of automatically opening pull requests to upgrade Django dependencies. Has anyone ever done something similar?

[2021-11-04 23:26] nedbat commented on #106
I haven't seen something like that, but I also haven't looked.  This is different than the usual "dependabot-like" activity, because it is only for a single dependency.

[2021-11-08 14:24] jfavellar90 commented on #29
@davidjoy @jnlapierre  I added a PR to fix the problem of the courseId calculation [here](https://github.com/edx/frontend-app-gradebook/pull/213). Could you please help me with a review? Thanks!

[2021-11-08 14:31] #94 closed

[2021-11-08 15:52] BbrSofiane commented on #106
https://discuss.openedx.org/t/django-2-2-19-security-update/4305

[2021-11-08 15:55] nedbat commented on #106
Today we decided that @blarghmatey will look into using Dependabot to upgrade only Django, only on the open-release/* branches.  We won't apply this fix manually (yet).

[2021-11-08 15:59] regisb commented on #93
If I understand correctly:

1. Running some functionalities of backup and restore require an enterprise license in Mongodb 4.2 OR a feature compatibility version (FCV) set to 4.2.
2. edX is using these functionalities and thus is planning on upgrading but keeping FCV to 4.0.

Am I correct? Can we reasonably assume that these limitations will not affect the rest of the community, and so that they c

[2021-11-08 16:02] regisb commented on #28
We got i18n to work in the profile MFE, thanks to a [tutor bugfix](https://github.com/overhangio/tutor-mfe/pull/21). We should also be able to override branding assets, thanks to a pending [PR by @BbrSofiane](https://github.com/overhangio/tutor-mfe/pull/16).

So this issue should be closed pretty soon.

[2021-11-08 16:35] jfavellar90 commented on #29
@BbrSofiane I think this is not ready to be marked as DONE. I'll be working on checking the branding, header and footer overrides and i18n

[2021-11-08 16:49] BbrSofiane commented on #29
@jfavellar90 yes, I meant to close the other issue.

[2021-11-08 16:50] #6 closed

[2021-11-08 17:06] #33 closed

[2021-11-11 17:25] regisb opened #107 "Support for Transifex in the frontend-app-gradebook MFE"
This follows a conversation that happened previously on Slack: https://app.slack.com/client/T02SNA1T6/C02BMP2RD5Y/thread/C02BMP2RD5Y-1636646986.036900

It looks like all the scaffolding is in place to handle i18n strings from the Gradebook MFE in Transifex. From my perspective, all that is missing is to create the "frontend-app-gradebook" resource in the edx-platform project, such that the followi

[2021-11-12 18:56] sarina commented on #107
Hi @regisb - in order to do this I need to initially upload the translation file which is a json. Transifex is asking me what type of json this is and I don't know, do you? (I'm asking around internally but haven't gotten an answer)

![image](https://user-images.githubusercontent.com/1985317/141520239-8270c862-94d2-44a8-a953-19e868e6e043.png)

[2021-11-12 20:00] sarina commented on #107
OK, I think this is done. It would be good to figure out if we need to have an admin create a new resource with every new repo, or if it can be somehow done via script.

[2021-11-15 03:48] regisb commented on #107
Are you referring to the creation of the "frontend-app-gradebook" resource in Transifex? As far as I understand, it is not done:

1. Opening this page returns a "Resource 'edx-platform.frontend-app-gradebook' does not exist": https://www.transifex.com/api/2/project/edx-platform/resource/frontend-app-gradebook/translation/en/strings/
2. In frontend-app-gradebook when I run `make pull_translations`

[2021-11-15 05:36] regisb opened #108 "In the learning MFE, a link to the forum is displayed even when the forum is not enabled"
In the LMS, it used to be possible to remove the discussion forum entirely by unsetting the `ENABLE_DISCUSSION_SERVICE` feature flag: https://edx.readthedocs.io/projects/edx-platform-technical/en/latest/featuretoggles.html#featuretoggle-FEATURES['ENABLE_DISCUSSION_SERVICE']
Now, in the learning MFE, a link to the forum is always displayed:

![discussion](https://user-images.githubusercontent.com/4

[2021-11-15 05:44] regisb opened #109 "In the frontend header component, a link to the Order History is displayed even when ecommerce is disabled"
When ecommerce is disabled, there should not be a link to the order history in the top-right user menu:

![orderhistory](https://user-images.githubusercontent.com/44319/141728390-3b999d46-d126-4292-88a4-02162889c03b.png)

("historique des commandes" is French for "order history")

This link is set by the `ORDER_HISTORY_URL` in the frontend-component-header repo: https://github.com/edx/frontend-com

[2021-11-15 12:45] ghassanmas opened #110 "Can't login: invalid setting for "sessionid" cookie. When running LMS in http"
When trying to login to LMS using http, Django add cookie named `sessionid`with `Same-site=None` as show below:

`sessionid=1|token; Domain=edx.mydomain.io; expires=Mon, 29 Nov 2021 12:16:23 GMT; HttpOnly; Max-Age=1209600; Path=/; SameSite=None `

However, the cookie will be rejected because according to this ref (which is required according to ref[1]) It's understandable why Django hasn't added `

[2021-11-15 17:10] regisb commented on #110
@ghassanmas are you saying that the issue only occurs when you are running an http proxy on the host? If yes, what is its configuration?

[2021-11-15 17:39] ghassanmas commented on #110
The problem occuard on both when host machine is handelding encryption layer or if caddy container is being exposed on 80 when is exactly thet confgiration below

## Base configuraiton.

 Wasn't changed during debugging, e.g. think those config will be merged with each one, to represent the the state of config.yml

[code]

### When caddy on ix exposed with https ❌
[code]

### When host is handelin

[2021-11-16 18:28] regisb opened #111 "In the learning MFE, the course upgrade button has an incorrect link"
I have setup a course in Ecommerce to provide verified certificates. When I access the course content in the learning MFE, an upgrade button is displayed ("Mise à niveau pour $100"). This button links to /dashboard.

![upgrade](https://user-images.githubusercontent.com/44319/142043007-852e3171-2140-49f0-a5b8-887c879a6961.png)

This link is incorrect: indeed, MFEs are running in a subpath of the ma

[2021-11-19 16:16] sarina commented on #107
@regisb just saw that somethink went wonky in the file upload and it uploaded as `transifex_input`. https://www.transifex.com/open-edx/edx-platform/frontend-app-gradebook/ now exists.

[2021-11-20 14:37] shimulch commented on #109
It will not be removed even if `ORDER_HISTORY_URL` is explicitly unset, as the user menu [doesn't filter out](https://github.com/edx/frontend-component-header/blob/632938f354d1f87d43a6d0d6f1778471e3fc5387/src/DesktopHeader.jsx#L76) unset links. Probably conditional adding that links [here](https://github.com/edx/frontend-component-header/blob/632938f354d1f87d43a6d0d6f1778471e3fc5387/src/Header.jsx

[2021-11-20 15:21] cmltaWt0 commented on #109
This behavior is the same for non MFE flow (order history link will appear in header navigation area) and required additional effort to change it.

Also the actual order page handles e-commerce absence correctly presenting the message "You have no orders yet" (or something like this). However this behavior is truly distracting for all testers and eventually for devs :)

[2021-11-22 07:46] regisb commented on #109
I believe this is an actual UX bug: for the vast majority of Open edX platforms out there, there is no reason at all to display a "order history" menu item.

[2021-11-22 12:11] pdpinch commented on #109
We tried to fix this some time ago, but I think we misunderstood which repo to make the change in:

https://github.com/edx/frontend-component-header-edx/pull/161/

For open edX, I think the change needs to go into [`frontend-component-header`](https://github.com/edx/frontend-component-header/)

[2021-11-22 12:50] pdpinch opened #112 "default `ENABLED_*OVERRIDE*` settings values lack fully qualified module"
[code]

[2021-11-22 14:56] jfavellar90 commented on #29
Comments related to this task:

- I can confirm it is compatible with the @edx/brand system. I used the patch `mfe-dockerfile-post-npm-install` offered by [Tutor](https://github.com/overhangio/tutor-mfe/blob/a8bb82c272f778315ea8f940cad358144e175875/tutormfe/templates/mfe/build/mfe/Dockerfile#L40) to install a fork of the edx/brand-openedx repo (https://github.com/eduNEXT/brand-openedx/) with a cou

[2021-11-22 15:33] davidjoy commented on #29
I'm pretty sure the import shouldn't be prefixed with an underscore `_`:

[code]

It's a fragment, so SASS should find it without that.

[2021-11-22 15:33] pdpinch commented on #29
FYI, regarding the header, @asadiqbal08 has the follow PRs in-flight for the Learning MFE:

https://github.com/edx/frontend-app-learning/pull/715
https://github.com/edx/frontend-component-header/pull/133
https://github.com/edx/frontend-component-header-edx/pull/196

[2021-11-22 16:20] regisb commented on #108
According to @davidjoy, during today's BTR WG meetup, this issue might be caused by the LMS backend, which might be returning some invalid urls.

[2021-11-22 16:57] regisb opened #113 "The payment MFE is still on Webpack 4.40"
On open-release/maple.master, the payment MFE still depends on Webpack 4.40, while other MFEs run on Webpack 5.50:

On open-release/maple.master: https://github.com/edx/frontend-app-payment/blob/eff6390a7fb30b99883a2fcb7fd2e0c029f680b1/package-lock.json#L1270
On master: https://github.com/edx/frontend-app-payment/blob/dbe08559f884cfc0324b72a3e89b4ae887d87f7f/package-lock.json#L1367

As a consequen

[2021-11-22 16:58] regisb commented on #113
It looks like this issue could be resolved simply by cherry-picking this commit: https://github.com/edx/frontend-app-payment/commit/dbe08559f884cfc0324b72a3e89b4ae887d87f7f (to be verified)

[2021-11-22 17:22] regisb opened #114 "First authentication in Studio raises a 500 error: `social_core.exceptions.AuthStateMissing: Session value state missing.`"
How to reproduce:

1. Open a private tab.
2. Go to the studio, hit login and fill staff credentials
3. The redirect to the CMS results in a 500 error: "The Studio servers encountered an error".

Note that we are successfully logged in the CMS, despite the error.

Here are the logs from the cms container:

[code]

The following upstream issue might be related: https://github.com/python-social-auth/

[2021-11-22 22:56] pdpinch opened #115 "Maple Release Notes"
The wiki page for [Process to Create an Open edX Release](https://openedx.atlassian.net/wiki/spaces/COMM/pages/19662426/Process+to+Create+an+Open+edX+Release) has a couple of steps for creating release notes:

- [ ] Get release notes started
- [ ] Make release-specific pages for installation and release notes

In addition, we need to:

- [ ] add an appropriate TOC to the release notes
- [ ] add an

[2021-11-23 09:18] asadiqbal08 commented on #109
We are working to move the learning MFE header to `frontend-component-header` and import header from  `frontend-component-header` instead of learning MFE that would be helpful to manipulate with `Order History`

[2021-11-23 21:46] sumanchapai commented on #67
I am sorry @BbrSofiane, what do you mean when you say deprecation of ecommerce?

[2021-11-24 14:03] arslanashraf7 commented on #112
_Update:_

An upstream PR has been created for this https://github.com/edx/edx-platform/pull/29391

[2021-11-25 07:47] regisb opened #116 "frontend-component-header is not translated"
The MFE header menu is not translated, as reported in this conversation: https://discuss.overhang.io/t/mfe-still-translation-bugs/2157

![header](https://discuss.overhang.io/uploads/default/optimized/2X/f/f40de7e46a820bab979adc1f75829cb447021d7e_2_690x219.png)

Indeed, there are no translation in the src/i18n/messages folder: https://github.com/edx/frontend-component-header/blob/master/src/i18n/me

[2021-11-25 12:53] #28 closed

[2021-11-25 12:54] #101 closed

[2021-11-25 13:47] regisb commented on #105
After getting rid of `RemovedInDjango40Warning` and `RemovedInDjango41Warning`, we are left with the following warnings:

[code]

[2021-11-25 14:31] regisb commented on #114
I can confirm that this issue is actually a duplicate of #110. Both issues are fixed by https://github.com/overhangio/tutor/pull/536.

[2021-11-25 14:47] regisb commented on #100
Hi @mdbc-tech! Any news on this?

[2021-11-25 14:49] regisb commented on #40
Let's close this. I believe that the script is sufficiently well documented in the atlassian page linked above.

[2021-11-25 14:49] #40 closed

[2021-11-25 15:18] regisb opened #117 "MFEs should not make calls to NewRelic when the service is not configured"
See upstream issue in the frontend working group project: https://github.com/openedx/frontend-wg/issues/14

[2021-11-25 15:27] regisb commented on #108
Looks like I can't reproduce this anymore :sweat_smile: After investigation, it is this url which returns the menu items that are meant to be displayed in the learning MFE: api/courseware/course/<course-id>
The "Discussion" menu item is no longer returned by this API endpoint when the forum is disabled, so I'm going to close this issue. Let's re-open it if the issue occurs again in the future.

So

[2021-11-25 15:38] regisb commented on #78
@BbrSofiane did you make progress on this?

[2021-11-29 11:12] BbrSofiane commented on #78
@regisb I have a set of notes that I need to clean up and write somewhere. This shouldn't take me more than a couple of hours.

[2021-11-29 12:40] regisb commented on #78
Famous last words

:wink:  No but seriously, I'm glad that you tackled this.

[2021-11-29 14:46] BbrSofiane commented on #78
Indeed 😂

[2021-11-29 15:24] BbrSofiane commented on #117
edx/frontend-build#215

[2021-11-29 15:38] davidjoy commented on #109
FYI - this code demonstrates the easiest way to turn this link off: https://github.com/edx/frontend-component-header-edx/blob/master/src/Header.jsx#L114

Ignoring the "enterprise" part of that line:

[code]

[2021-11-30 11:52] nedbat opened #118 "Django 3.1.14 security fix"
https://groups.google.com/g/django-announce/c/Tuvy7tLjNTU/m/RD0YYvajBQAJ

[2021-11-30 11:52] nedbat opened #119 "Django 2.2.25 security fix"
https://groups.google.com/g/django-announce/c/Tuvy7tLjNTU/m/RD0YYvajBQAJ

[2021-11-30 16:05] regisb opened #120 "There is no way to disable identity verification (IDV) in the LMS"
In the LMS, when we setup a course in ecommerce with optionally verified seats, identity verification is mandatory. This means that students need to upload identity credentials documents before they can upgrade to a verified seat. This is a problem because many (most?) platforms don't use identity verification at all.

In practice, it means that when a user tries to upgrade, they are forwarded to

[2021-11-30 16:33] regisb opened #121 "In the payment MFE, the Cybersource payment processor does not work"
The payment fields in the payment MFE are greyed out when attempting to make payments with the Cybersource payment processor. Although I did not manage to get to a point where I could reproduce the issue, there are multiple credible reports from actual users:

https://discuss.overhang.io/t/have-you-configured-cybersource-in-liliac/2170/1
https://discuss.openedx.org/t/payment-mfe-configuration/5375

[2021-12-01 19:33] jfavellar90 commented on #29
@davidjoy According to my testing, the problem with the footer override is that `dist` folder is not included in the GitHub repos. I had to manually stop ignoring the `dist` folder in my footer component fork (https://github.com/eduNEXT/frontend-component-footer/commit/89015dc1fec7da89313b0989181bc7463216c7ba) and install the component from the repo. Once this is done, the footer override works as

[2021-12-02 06:55] cmltaWt0 commented on #120
Probably related post: https://discuss.openedx.org/t/deprecation-removal-id-verification-as-a-cert-requirement/6172

[2021-12-02 11:32] ghassanmas commented on #108
Hey @regisb,
For me when testing the fourm, the discussion tab didn't appear when it suppose to: i.e the **fourm is enabled** . Add to that when visiting the fourm (when I change the URL myself to _lms.com/courses/course-id/discussion/forum_ ),  I wasn't able to post a post, here is the output of the browser dev console: (a 404 was returned for the AJAX POST request):

`POST http://lms.com/courses

[2021-12-02 17:42] ghassanmas commented on #108
[Update] when setting is or hard coding it to return `True`, the **disccsuion** tab appeard:

Ref: https://github.com/edx/edx-platform/blob/5e65be525a772bbdbbce99a56e2855daebfb56df/lms/djangoapps/discussion/django_comment_client/utils.py#L1067

[2021-12-02 20:07] ashultz0 commented on #120
I think @pshiu is exactly right that having a verified seat SKU is the answer. I've gotten to this link myself locally and SKU'd my way to victory.

Without the IDV requirement the second IDV option for that link will go away entirely. Only the ecommerce branch remains, and the ecommerce needs a SKU to know what is being bought. If we hacked something into Maple to remove IDV from this page in adv

[2021-12-02 22:14] regisb commented on #120
Thanks for investigating this issue @ashultz0. How did you run ecommerce? In the devstack, the native installation or with Tutor? How did you manage to configure the course SKU? IDV messages should be considered bugs on platforms that do not make use of the feature, so could you please post screenshots of the places where the messages appeared?

[2021-12-02 23:54] ashultz0 commented on #120
SKU
I was running a local devstack, it was a while ago so details are fuzzy. I believe I forced in a SKU for my test course using admin then because I was in a hurry, but Phil gave instructions on how to do it correctly in the linked discussion.

On "Verified" without IDV
In the current codebase verified = IDV. So if you're using verified seats, you are using IDV, they're not separable concepts in

[2021-12-05 01:25] sumanchapai commented on #121
I found and fix the error, and have submitted a PR
<https://github.com/edx/ecommerce/pull/3586>

[2021-12-05 04:47] ichdamola commented on #105
Hello @regisb, I will like to contribute to this project by taking up this issue as my first. Could kindly share with me the link to the contributor's guide or/and any related doc?

[2021-12-05 23:54] pomegranited commented on #120
What is the meaning of using a verified seat without IDV? Is there some way to manually "verify" students instead? Does using a different course mode work around this issue?

[2021-12-06 01:56] pshiu commented on #121
Thanks, @sumanchapai! This looks great. I will start testing it tomorrow and provide you with an update as soon as I can.

[2021-12-06 10:30] cmltaWt0 commented on #111
I've started to investigate the case.

1. Testing on Demo course shows that upgrade url is correct. Moreover some reverse engineering reveals the fact that the complete `upgrade_url` comes from Course metadata API:
[code]
<img width="1328" alt="Screenshot 2021-12-04 at 17 06 20" src="https://user-images.githubusercontent.com/877401/144829397-c0ff2d20-535f-402f-bd3f-cc916a0f3dd5.png">

<img width="

[2021-12-06 12:24] pdpinch opened #122 "update lti-consumer-xblock to 3.1.1"
While working on the release notes, I noticed that v.3.1.1 of lti-consumer-xblock includes a "Long-term fix for cross-origin iFrames" which seems like something we should include in the maple release.

https://github.com/edx/xblock-lti-consumer/releases/tag/3.1.1

There is a clean commit for this version that was merged in November at https://github.com/edx/edx-platform/commit/cea3f32d0db492b3123d

[2021-12-06 14:20] ashultz0 commented on #120
@pomegranited that's a good question. Verified will require an honor-code agreement and at least on edx.org a purchase. Have a look at https://discuss.openedx.org/t/deprecation-removal-id-verification-as-a-cert-requirement/6172 for more info and a chance to comment.

[2021-12-06 14:43] BbrSofiane commented on #107
edx/frontend-app-gradebook#218 is merged.

[2021-12-06 14:43] #107 closed

[2021-12-06 15:39] BbrSofiane opened #123 "Timed Exams breaking in Lilac with edx-proctoring version update"
[Forum thread](https://discuss.openedx.org/t/timed-exams-breaking-in-lilac-with-edx-proctoring-version-update/6161).

Proposed solution:

[2021-12-06 15:44] regisb commented on #123
1. Rollback edx-proctoring 3.25.0 -> 3.8.5 migrations
2. Install edx-proctoring 3.8.5.1 from eduNEXT's fork
3. Verify that timed exams work correctly
4. Publish the solution on the forum

[2021-12-06 15:54] BbrSofiane commented on #36
@pdpinch there are instructions for [changing the logos ](https://github.com/overhangio/tutor-mfe#customise-mfes-logos)in tutor but nothing yet about the branding package. I'll add that to the plugin README so you can point to it in the release notes.

[2021-12-06 20:45] regisb commented on #108
@ghassanmas can you please check whether the maple branch of the tutor-forum plugin works for you? https://github.com/overhangio/tutor-forum/pull/3

[2021-12-07 07:55] ghassanmas commented on #108
Yes I tested it localloy with my branch for maple , I meant to push it but got busy with other stuff.

Anyway adding this feature `ENABLE_DISCUSSION_SERVICE` in the tutor-fourm plugin resolved both the tab issue and the AJAX failed request.

[2021-12-07 10:58] cmltaWt0 commented on #111
@regisb

I've done the testing on tutor installation from a scratch.

**Long story short** - It looks like everything works as expected.

Testing steps:
---

1. Create honor and verified modes for a Course.

<img width="853" alt="Screenshot 2021-12-07 at 12 47 15" src="https://user-images.githubusercontent.com/877401/145016433-53f2b0b3-3127-4546-bf06-9ff4a8a8038a.png">

2. Create the new Course in

[2021-12-07 18:23] nedbat commented on #106
This is now obsolete, since I just applied 3.2.10.

[2021-12-07 18:23] #106 closed

[2021-12-07 18:23] nedbat commented on #119
I applied 2.2.25 to open-release/lilac.master today.

[2021-12-07 18:23] #119 closed

[2021-12-08 09:32] regisb commented on #108
Ok then I'm closing this again.

[2021-12-08 09:32] #108 closed

[2021-12-08 10:51] regisb commented on #111
Thanks for the verification @cmltaWt0, I can also confirm that the issue no longer appears. Let's close this for now and we'll reopen if necessary.

[2021-12-08 10:51] #111 closed

[2021-12-08 10:57] regisb commented on #110
This should now be closed in the maple branch of Tutor.

[2021-12-08 10:57] #110 closed

[2021-12-08 11:02] regisb commented on #120
Unless I'm mistaken (as I often am regarding ecommerce issues), verified seats are the only way to sell course access in Open edX. When IDV is disabled, the word "verified" loses its meaning and actually becomes a synonym of "commercial".

[2021-12-08 13:49] regisb commented on #120
Closed by the recent fix in the tutor-ecommerce maple branch: https://github.com/overhangio/tutor-ecommerce/pull/18 Thanks to @pshiu!

[2021-12-08 13:49] #120 closed

[2021-12-08 13:53] regisb commented on #121
This changed is pulled in the maple branch of tutor-ecommerce (https://github.com/overhangio/tutor-ecommerce/pull/18) and I verified that it resolves our issue. Thanks @sumanchapai! All we need to do now is to merge edx/ecommerce#3586, both in the master and the open-release/maple.master branches.

[2021-12-08 17:30] dianakhuang commented on #116
I have added the transifex resource and now translations are being created for this repo: https://github.com/edx/frontend-component-header/commit/2f0a07b7eb1099edab815ab48070e69bf3455b4d

I'm not sure the value of trying to merge these files in until the translations are reviewed on Transifex though:  https://www.transifex.com/open-edx/edx-platform/frontend-component-header/

[2021-12-09 15:54] cmltaWt0 commented on #113
It looks like open-release/maple.master has [5.3.1 version](https://github.com/edx/frontend-app-payment/blob/open-release/maple.master/package-lock.json#L1234) and commit https://github.com/edx/frontend-app-payment/commit/dbe08559f884cfc0324b72a3e89b4ae887d87f7f has +5k -7k lines of changes and I'm not sure about safety to cherry-pick it.

[2021-12-10 13:45] gabrieldamours commented on #116
FR-CA is 100% translated and reviewed now.

[2021-12-10 14:13] regisb commented on #88
@nedbat can we close this?

[2021-12-10 14:13] dianakhuang commented on #116
Awesome, thanks @gabrieldamours ! I'm going to make sure our automation pulls down those translations so we can merge them into the Maple branch.

[2021-12-10 14:36] #112 closed

[2021-12-10 14:37] mtyaka commented on #86
@BbrSofiane I can take this

[2021-12-10 14:46] regisb commented on #105
I'll take a stab at resolving this one:

[code]

@ichdamola we have not forgotten about you ;) someone will reach out to you very soon.

[2021-12-10 14:46] nizarmah commented on #105
Hello @regisb! I'd like to work on one of these deprecation warnings.

[2021-12-10 14:47] BbrSofiane commented on #102
Needs to be merged in maple.master

[2021-12-10 14:47] ziafazal commented on #105
I'd like to contribute in fixing one of these warnings.

[2021-12-10 14:47] sarina commented on #105
Hi @ichdamola and welcome! Sorry for the late reply. We'd love to have your help. [This page is helpful but may be outdated](https://openedx.atlassian.net/wiki/spaces/COMM/pages/1682211674/Open+edX+Platform+contributor+s+guide), it's a good place to start. Feel free to reach out to me (`@sarina`) on the [Open edX Slack](http://openedx-slack-invite.herokuapp.com/) and I am happy to get you pointed

[2021-12-10 14:49] nizarmah commented on #102
@BbrSofiane I'd like to merge this into maple.master. cc @regisb

[2021-12-10 14:53] BbrSofiane opened #124 "User Testing of Maple"
User Testing of Maple.

[LMS](lms.maple-btr.edunext.link)
[Studio](studio.maple-btr.edunext.link)
[ecommerce.lms.maple-btr.edunext.link](ecommerce.lms.maple-btr.edunext.link)
[MFE](apps.lms.maple-btr.edunext.link)

Once you've created an account comment here and we will give you any permissions you need.

PR for the release notes, if you have any specific comments: https://github.com/edx/edx-docum

[2021-12-10 14:55] gabrieldamours commented on #124
I'm in to do some testing

[2021-12-10 14:56] ghassanmas commented on #124
Maple instance without e-commerce (for now) http://edx.gsgapp.io

[2021-12-10 14:58] sarina commented on #105
[Here is a spreadsheet to track progress on this ticket](https://docs.google.com/spreadsheets/d/1ijUV8vgnVSZJ3goBos5H_ytaSxCcFBHKfkxZFAbn9js/edit?usp=sharing), please keep it updated.

[2021-12-10 15:00] regisb commented on #105
Unless I'm mistaken, most of the changes that are required here were already applied to the master branch, thanks to this PR: https://github.com/edx/edx-platform/pull/28851/
Apparently, all we would need to do is to apply Django Codemod: https://django-codemod.readthedocs.io/en/stable/index.html
I'm not sure if we should simply merge that (relatively large) PR or run django codemod on the open-rel

[2021-12-10 15:18] nizarmah commented on #105
@regisb I'm not sure which approach would be best to follow here. If nothing was addressed in a different pull request, it would make sense to simply merge.

Otherwise, would it be possible to cherry-pick and then run django codemod in case something was addressed in a different pull request (or not addressed)?

[2021-12-10 15:26] regisb commented on #105
I suggest the following approach:

- Cherry-pick f26bd63c732cf482f368ed5c2e893dc5925ca08d on open-release/maple.master (I just verified that there is no conflict)
- Check if it resolves all warnings
- If not, apply extra fixes (maybe by running django-codemod or cherry-picking another commit)
- If yes, close this issue

[2021-12-10 15:39] antoviaque commented on #124
Me too!

[2021-12-10 17:03] cmltaWt0 commented on #105
I've just checked the commit on top of  `open-release/maple.beta1`:
1. It fixes some deprecations but not all.

<img width="1278" alt="image" src="https://user-images.githubusercontent.com/877401/145612682-70a652d2-d311-4e72-8463-7518c0e72d55.png">

2. We have to cherry-pick from this PR too https://github.com/edx/edx-platform/pull/28854
3. Since the title of the first is `BOM-2781: Django codemod

[2021-12-11 21:05] ichdamola commented on #105
Hello @sarina, thank you for this response.

[2021-12-12 18:50] BbrSofiane opened #125 "Backport Django 3.2 upgrade in maple release"
edx/ecommerce#3577

[2021-12-13 08:58] ziafazal commented on #105
@regisb @cmltaWt0 we need to pick BOM-2781 related [commits](https://github.com/edx/edx-platform/pulls?q=is%3Apr+is%3Amerged+BOM-2781). I have pick LMS 1 to LMS 4 in these PRs

https://github.com/edx/edx-platform/pull/29555
https://github.com/edx/edx-platform/pull/29558
https://github.com/edx/edx-platform/pull/29559
https://github.com/edx/edx-platform/pull/29560

We need to pick the remaing six PR

[2021-12-13 10:19] cmltaWt0 commented on #105
@ziafazal Great catch!
I will do BOM-2781: New codemods on OpenedX (1)(2)(3)(4)

[2021-12-13 10:58] cmltaWt0 commented on #105
@ziafazal Added PRs for all six.

[2021-12-13 11:13] cmltaWt0 commented on #105
@regisb Let's do some review on it and invoke bot merge.

[2021-12-13 23:46] nizarmah commented on #105
Wow that was fast. Nice work on this and thanks for opening the pull requests! 🤗

I'm assuming nothing else is left other than reviews and merging. I would've offered to review, but unfortunately that's not going to be possible because I don't have any core committer permissions, so my review wouldn't really count.

[2021-12-14 00:07] nizarmah commented on #102
@regisb @BbrSofiane I created the backport PR to the maple master branch. Would either of you have time to review the pull request? Otherwise, do you have an idea who would be best to reach out to?

[2021-12-14 00:22] sarina commented on #105
@nizarmah for what it's worth, I think your review does count! As a CC, when someone already reviews a PR it often makes my review take less time. It also helps to establish your part in the community, as a good stepping stone for becoming a coding core contributor.

[2021-12-14 05:31] nizarmah commented on #105
@sarina, sounds reasonable. Thank you!

I've reviewed all pull requests, they're ready for a CC's review 👍🏼

[2021-12-14 09:46] regisb commented on #105
I've merged @ziafazal's PRs, waiting for @cmltaWt0 to resolve the questions raised by @nizarmah. Thanks a lot, both for the PRs and the reviews!

[2021-12-14 09:48] regisb commented on #102
I realize that this issue still affects Lilac, but since it is resolved in Maple I'm closing this.

[2021-12-14 09:48] #102 closed

[2021-12-14 18:30] nizarmah commented on #102
@regisb would you like me to create a backport pull request to lilac master, or is that not going to be necessary?

[2021-12-14 21:05] felipemontoya commented on #124
@antoviaque I thought nobody was testing anylonger since the ecommerce issue was solved so I turned the VM off. I just turned it on again so you can go ahead and test.

[2021-12-14 21:47] ghassanmas commented on #124
@antoviaque I have just fixed the problem of not being able to post:

**Cause**: The follwoing Elasticseach.as it turns out elastic seach delibiatry stopps writting when disk space is less than 1 giga I guess.
**Fix**: I just had to clear up some spaces. e.g. clear docker/tutor images caches.

Error for reference:
`Elasticsearch error: cluster_block_exception [FORBIDDEN/12/index read-only / allow

[2021-12-14 22:44] cmltaWt0 commented on #105
@regisb both `OpenedX 1` and `OpenedX 2` PRs have been updated based on comments from @nizarmah

[2021-12-15 09:23] BbrSofiane commented on #113
I've opened the PR edx/frontend-app-payment#538

[2021-12-15 09:54] BbrSofiane commented on #117
@regisb you've closed openedx/frontend-wg#14 can we also close this issue?

[2021-12-15 09:56] BbrSofiane commented on #29
@davidjoy any thoughts on this?

[2021-12-15 09:58] BbrSofiane commented on #29
@jfavellar90 is this the last hurdle to for the gradebook MFE to be ready?

[2021-12-15 10:18] BbrSofiane commented on #122
@pdpinch just making sure this is on your radar

[2021-12-15 10:34] mtyaka commented on #86
@pcliupc @regisb @BbrSofiane I opened [a PR to fix this bug](https://github.com/edx/edx-platform/pull/29611). Can someone review?

[2021-12-15 11:30] BbrSofiane commented on #78
https://openedx.atlassian.net/wiki/spaces/COMM/pages/3249438723/Migration+from+native+to+tutor

[2021-12-15 14:24] cmltaWt0 commented on #105
@regisb could you merge remaining PRs (just for me to not merge my own PRs)?

[2021-12-15 17:49] regisb opened #126 "In the learning MFE, the Course / Section / Subsection links are incorrect"
In the learning MFE, the Course / Section / Subsection breadcrumb links point to incorrect urls.

![breadcrumbs](https://user-images.githubusercontent.com/44319/146237449-11d2b0c4-fa8e-46d7-a505-5322ba9d00da.png)

For instance, the "Course" link points to:

     https://lms.com/course/course-v1:overhangio+test1+20211208/home

Instead of:

     https://lms.com/learning/course/course-v1:overhangio+t

[2021-12-15 17:49] regisb commented on #126
It seems to me that this error comes from here: https://github.com/edx/frontend-app-learning/blob/2fa4a837b1bc2bb46f65c98ac0f8272b9eeb8f02/src/courseware/course/CourseBreadcrumbs.jsx#L129

[2021-12-16 08:02] regisb commented on #117
Yes, absolutely.

[2021-12-16 08:02] #117 closed

[2021-12-16 08:09] regisb commented on #102
If you have time, that would be great but not strictly necessary, I guess, since we are 4 days away from the release.

[2021-12-16 15:04] jfavellar90 commented on #29
@BbrSofiane we need to get merged this PR: https://github.com/edx/frontend-app-gradebook/pull/213 in order to make the MFE work properly in tutor, @davidjoy is there any way to accelerate this process? Once merged it must be backported to Gradebook maple release

I have another PR in https://github.com/edx/frontend-app-gradebook/pull/220 related to the `frontend-component-header` implementation, b

[2021-12-16 16:23] BbrSofiane commented on #126
@davidjoy

[2021-12-17 04:03] nizarmah commented on #102
@regisb the backport PR to lilac is ready for your review 😃

[2021-12-17 04:31] antoviaque commented on #124
@felipemontoya Thanks! I have created an account on it (`antoviaque`) -- however I don't seem to be receiving the activation email.

Also, when I try to connect to Studio, by clicking "Sign in" on https://studio.maple-btr.edunext.link/ I get a redirect error to https://studio.maple-btr.edunext.link/login/?next=https%3A//studio.maple-btr.edunext.link/ -- it looks like a redirect loop?

![image](htt

[2021-12-17 11:00] ghassanmas commented on #124
@antoviaque I have made you super user and staff member. You should be able to login studio.edx.gsgapp.io and on Django admin

[2021-12-17 20:13] antoviaque commented on #124
@ghassanmas Thank you! I was able to create and edit a course and a library in Studio yes.

One issue I saw is with the login flow from Studio -- it's probably just a configuration thing, but since this is one of the parts that have changed with Maple I'm mentioning it:
* Go to
* Click on sign in, which brings to the LMS login page
* Enter email & password
* => Nothing happens

In the console, the

[2021-12-18 14:55] nizarmah commented on #105
@regisb I believe this issue can be closed. I don't have the privileges to do so, though.
cc @cmltaWt0 @ziafazal

[2021-12-18 21:07] #125 closed

[2021-12-19 08:09] #105 closed

[2021-12-19 16:19] BbrSofiane commented on #77
overhangio/tutor#547

[2021-12-20 10:03] BbrSofiane commented on #116
This can be closed once we've updated the component version in the maple branch of the MFEs.

[2021-12-20 10:12] #122 closed

[2021-12-20 14:27] regisb commented on #77
I'm closing this, as the tutorial was now merged in the nightly branch. Please comment on the PR mentioned above.

[2021-12-20 14:27] #77 closed

[2021-12-20 14:27] regisb commented on #105
Nice job everyone :)

[2021-12-20 14:28] regisb commented on #124
This should now be resolved in the maple branch of Tutor: https://github.com/openedx/build-test-release-wg/issues/104

[2021-12-20 14:33] regisb commented on #126
This issue is a duplicate of https://github.com/mitodl/mitxpro/issues/2326 which should be fixed by https://github.com/edx/frontend-app-learning/pull/777

[2021-12-20 14:39] ghassanmas commented on #124
@regisb you mean maple beta 2?

[2021-12-20 14:42] ghassanmas commented on #124
Aha I see you commited something recently here https://github.com/overhangio/tutor/commit/729c2d4ec665ecec2b42fd1d7474dc4f3e383c20 , will pull and return tutor soon

[2021-12-20 15:39] BbrSofiane opened #127 "Maple Testing"
- [ ] Test customising frontend header on learning MFE
- [x] Test breadcrumbs on Learning MFE
- [x] Test header translation
- [ ] Override gradebook header

[2021-12-20 15:41] #109 closed

[2021-12-20 15:54] #116 closed

[2021-12-20 15:56] BbrSofiane commented on #29
edx/frontend-app-gradebook#218 - backport to maple

[2021-12-20 16:07] jfavellar90 commented on #29
@BbrSofiane backport course id issue https://github.com/edx/frontend-app-gradebook/pull/221

[2021-12-20 17:07] BbrSofiane commented on #86
Thanks, @mtyaka! for maple, we will patch the fix in tutor.

cc: @regisb Can you close this when the change is done in tutor?

[2021-12-20 17:08] BbrSofiane commented on #113
Should be fixed with edx/frontend-app-payment#541

[2021-12-20 17:16] BbrSofiane commented on #121
This fix is being patched in tutor overhang/tutor-ecommerce#18.

[2021-12-20 17:16] #121 closed

[2021-12-20 17:16] #86 closed

[2021-12-20 17:22] BbrSofiane commented on #29
merge edx/frontend-app-gradebook#222

[2021-12-20 22:02] pdpinch commented on #126
@regisb cherry-picked this into https://github.com/edx/frontend-app-learning/tree/open-release/maple.master with 76e83cc7376dc390b2512e41224fde02e05ab88a

[2021-12-20 22:02] #126 closed

[2021-12-21 19:26] gabrieldamours commented on #124
@ghassanmas I've also created an account for testing purposes, with my email gabriel [at] opencraft.com. Can you please make me an admin? Thx!

[2021-12-22 16:51] ghassanmas commented on #124
@gabrieldamours I have made me an admin and super user since yesterday in case you aren't already aware.

On the other hand, I plan to redeploy the new beta release by tomorrow, which should resolve @antoviaque reported issue.as stated by @regisb. ( I will write to this thread when the new release is available)

[2021-12-23 20:40] #36 closed

[2021-12-23 20:40] #115 closed

[2021-12-23 22:22] ghassanmas commented on #124
I have just deployed the master of tutor which has tutor version 13.0.2
The system is running by fast check, though the issue reported by @antoviaque earlier which @regisb metion should be resolved wasn't. Not sure if tutor master branch should resolve it
Anyway Merry Christams everyone 🎅

[2021-12-29 01:54] clemente commented on #11
Hi, the guide at [BTR-9](https://openedx.atlassian.net/browse/BTR-9) seems already good. @angonz, what's missing to finish it and finish the task?
- do you need a review from people who are new contributors?
- and/or a review from expert contributors?

There's @BbrSofiane's [comment](https://github.com/openedx/build-test-release-wg/issues/11#issuecomment-908468200) about requesting others to expan

[2021-12-29 18:18] #29 closed

[2021-12-29 18:18] #81 closed

[2021-12-29 18:19] #113 closed

[2021-12-29 18:19] #124 closed

[2021-12-31 15:32] clemente commented on #123
@regisb Hi; are you working on the steps you mentioned above, or are they ideas? If they're ideas or if it's a solution that works, maybe you can post it in the forum thread linked from the description?

From what I understand, this isn't a bug in upstream Lilac or in Maple, just in a custom installation where some code was modified, right? Is there anything to fix in this task? CC @BbrSofiane

I'

[2021-12-31 15:35] clemente commented on #100
@mdbc-tech Hi, could you post the status of the task, some work in progress or what's left to do? Thanks

[2022-01-03 05:40] regisb commented on #123
I was only suggesting an outline for a solution.

This is an upstream bug in Lilac. edx-proctoring was upgraded to address a security issue, thus triggering another issue where timed exams no longer work.

As far as I understand, this issue does not affect Maple, so we can close this.

[2022-01-03 14:57] BbrSofiane commented on #11
@clemente Thank you for volunteering! I think this is something @sarina is looking at so we can probably close this issue.

In terms of issues where you can contribute, have a look at #67 if you have experience with react. Otherwise, feel free to join us on slack and at one of our bi-weekly meetups to get up to date on the latest issues we're looking to tackle!

[2022-01-03 15:28] sarina commented on #11
@BbrSofiane this isn't something I'm actively working on. There's also no acceptance criteria here (what is the intention of the ticket? Audience? What should they know at the end of reading documentation? etc), so I can't tell (to @clemente 's point) if the guide at https://openedx.atlassian.net/wiki/spaces/COMM/pages/1682211674/Open+edX+Platform+contributor+s+guide is complete and just in need o

[2022-01-04 00:36] clemente commented on #11
@BbrSofiane By the way, I'm not contributing to do it myself, but I'm looking for tasks to assign to new developers. I looked at #67 and it seems complex for someone new to Open edX since it depends on architecture changes. I'll watch it. (And I'll coordinate about the meetings; I think some from OpenCraft are already attending them).

About this task: I'll let you comment. It looks like https://o

[2022-01-04 07:55] regisb opened #128 "The frontend-component-footer logo links to https://open.edx.org"
In all MFEs, the logo that is located in the bottom left corner is a hardcoded link to https://open.edx.org:

![footer-logo](https://user-images.githubusercontent.com/44319/148026775-7cff18b3-54b6-4599-ae4c-fe884dfad08a.png)

It should instead link to the LMS.

Here is the guilty line: https://github.com/edx/frontend-component-footer/blob/2b56d270a28e25ac9b89129abaa4d736d0cec1e2/src/components/Foo

[2022-01-07 14:27] ziafazal commented on #100
@regisb @BbrSofiane @clemente  can I pick this up if original assignee is no longer available to look into this issue?

[2022-01-07 15:14] pdpinch opened #129 "Backport Learner MFE error handling fix"
After running Maple in production for a couple weeks, we began seeing errors link this in our logs:

[code]

It seems to be associated with students experiencing timeouts when clicking the middle item in the Learner MFE breadcrumbs (the sequential).

[Demo: 'VerticalBlockWithMixins' object has no attribute 'get_metadata'](https://watch.screencastify.com/v/dpxV1PeOnIty1u8i8AwF)

After discussing in

[2022-01-07 15:59] regisb commented on #100
YES!!! :heart::heart: :heart:

[2022-01-10 06:39] ziafazal commented on #100
It appears I can't assigne it to myself. Can you assigne it to me?

[2022-01-10 21:04] pdpinch opened #130 "Backport Report Generation fix"
from https://github.com/mitodl/mitxpro/issues/2332

this should be fixed by https://github.com/edx/edx-platform/pull/29699

### Steps to Reproduce

- Go to the data download tab of the instructor dashboard of a course
- Click on the `Select a section or problem` button for the `Create a report of problem responses` report

### Expected Behavior

- A menu of the course content should pop up
![image

[2022-01-11 08:44] ziafazal commented on #100
@regisb I have investigated this issue. It appears we can override both HTML and Text version of Bulk Email temples from django admin(`Home › Bulk_Email › Course email templates ›`). All we need to do is set `Name` field of the template empty. Attached screen shot
<img width="1371" alt="Screen Shot 2022-01-11 at 1 36 06 PM" src="https://user-images.githubusercontent.com/434995/148909665-9d1c88c6-7

[2022-01-12 07:40] yekaifeng commented on #130
Hi, let me try to fix this

[2022-01-13 17:17] ghassanmas opened #131 "BTR requirements for an MFE to be included in a release"
Update: the requirements list will live here: https://openedx.atlassian.net/wiki/spaces/COMM/pages/3561521275/Requirements+for+an+MFE
_____________________________________________

The FWG was discussing how to ease the process for BTRWG when deploying or adding a new MFE in a release, one thought we had is to get a **list of requirements or/and features** that an MFE should have (from BTR perspec

[2022-01-14 09:49] BbrSofiane commented on #130
thanks for volunteering @yekaifeng.

The fix is in openedx/edx-platform#29699 and is waiting to be merged. Once it's done can you create the same PR on the maple release branch?

[2022-01-14 12:59] #129 closed

[2022-01-14 13:05] pdpinch commented on #130
Sorry @yekaifeng we had some confusion about this. It turns out it was already fixed in master by this PR: https://github.com/openedx/edx-platform/pull/29388

There's already a PR open to backport it to maple at https://github.com/openedx/edx-platform/pull/29742

However, we could use some help in testing the backport PR, to make sure it corrects the error described here. Would you be able to revi

[2022-01-14 17:59] arslanashraf7 commented on #130
@BbrSofiane @pdpinch @yekaifeng FYI,

A little clarification to the referred PRs in earlier comments:

I created https://github.com/openedx/edx-platform/pull/29699 to fix this in master and also created a backport of the same for maple(https://github.com/openedx/edx-platform/pull/29742). (Both of which I've closed in favor of https://github.com/openedx/edx-platform/pull/29388)

However, we later r

[2022-01-17 10:22] regisb commented on #100
What happens when you do this? Does it prevent course emails from being themed at all?

We need to provide users a way to have themed text/html course emails that correspond to their visual identity out of the box. Maybe that the solution requires a change in Tutor, but I suspect that we also need to create new templates that will automatically load static assets from the LMS.

[2022-01-17 11:53] cmltaWt0 opened #132 "Backport Learning MFE's rtl and static fixes"
While preparing the Maple release we faced some issues that were fixed and contributed to the master.

There are backport PRs:

- https://github.com/openedx/frontend-app-learning/pull/807
- https://github.com/openedx/frontend-app-learning/pull/806

[2022-01-17 14:47] arslanashraf7 commented on #130
Thanks for reaching out @yekaifeng

You're correct, You need to open a PR against `open-release/maple.master`

Now, In case you want to know how you'd create the PR?
1) You won't have access to create a branch in the open edX, so create a branch from `open-release/maple.master` in your own fork. (Before creating a branch please, Make sure to locally pull the latest `open-release/maple.master` bran

[2022-01-18 02:32] yekaifeng commented on #130
@arslanashraf7 Thanks, I am go ahead to fix it

[2022-01-19 10:45] regisb commented on #101
Hi @timmc-edx! Our modification of `SESSION_COOKIE_DOMAIN` is breaking preview site authentication for people who do not run their preview site under a subdomain of the LMS. Could you please pitch in here? https://github.com/overhangio/tutor/issues/557

[2022-01-19 11:22] regisb commented on #114
Unfortunately I just realized that the issue occurs again in Maple. It is visible for instance on the Tutor demo website: https://studio.demo.openedx.overhang.io (login: admin, password: admin). As far as I understand, the error comes from the fact that the "sessionid" cookies (and actually: all cookies dropped by the LMS) are set with "samesite: lax". I do not understand why this happens, despite

[2022-01-24 13:02] ziafazal commented on #100
Setting Name filed empty means value of  **Plain template** and **Html Template** fields will be used as Text and Html templates of course emails.

To theme course email users need to put their own templates in  **Plain template** and **Html Template** fields and set **Name** field empty. That way users can override default course email templates.

[2022-01-25 02:03] yekaifeng commented on #130
I've already know how to fix it. It need to be tested.
I am setting up a devstack environment(docker). The github network is not stable here. Trying to connect with my personal proxy.  It takes me a lot of time.

[2022-01-31 17:54] pdpinch opened #133 "Nutmeg Release notes"
- [ ] Meta: Review and update this checklist
- [ ] Meta: Commit this checklist to a more durable location

The wiki page for [Process to Create an Open edX Release](https://openedx.atlassian.net/wiki/spaces/COMM/pages/19662426/Process+to+Create+an+Open+edX+Release) has a couple of steps for creating release notes:

### Things that _can_ be done before the release is cut
- [x] Get release notes sta

[2022-02-01 00:53] ayrtonlr commented on #128
Hello @regisb, Can I contribute to this open source project by taking this issue as my first one?

[2022-02-01 16:43] regisb commented on #128
That would be great @ayrtonlr! Thanks for your proposition. Are you already somewhat familiar with Open edX?

[2022-02-01 17:24] kdmccormick opened #134 "Review "Named Releases" page doc fix for Maple"
PR to review: https://github.com/openedx/edx-developer-docs/pull/81

Could updating this page be added to the release process?

[2022-02-01 18:40] ayrtonlr commented on #128
@regisb I've never done an Open edX issue, but I'm reading the Developer's Guide and would like to try this issue to get started in the open source world.

[2022-02-01 21:16] kdmccormick commented on #134
Ned resolved this, see https://github.com/openedx/edx-developer-docs/pull/81#issuecomment-1027291669

[2022-02-01 21:16] #134 closed

[2022-02-02 08:47] ziafazal commented on #100
@regisb what are next step on this?

[2022-02-02 17:13] nedbat commented on #88
So far we have comments in the discussion, and they all end with a question mark.  Someone needs to determine the right answer and record it someplace.

[2022-02-03 08:08] regisb commented on #100
@ziafazal you are right that when we create a custom template and set "Name" to an empty field then that template is used to send emails. The problem is that all users need to create a template that corresponds to their identity. Open edX should ship with a template that works for everyone out of the box. So the next steps would be:

1. Create a new template that works for everybody.
2. Make that

[2022-02-04 22:02] regisb opened #135 "In ecommerce, some currency symbols are hardcoded to "$""
This issue was first reported here: https://discuss.overhang.io/t/currency-is-not-changing-on-e-commerce-course-administration/2422

There are several ecommerce templates where "$" or "USD" is hardcoded:

https://github.com/openedx/ecommerce/blob/2c2c13f541891af1c3641a542546972d54a2fd2c/ecommerce/static/templates/_course_seat.html#L6
https://github.com/openedx/ecommerce/blob/2c2c13f541891af1c3641a

[2022-02-05 12:42] BbrSofiane opened #136 "BTR member roles assignments for Nutmeg."
As with every new release cycle, the Build Test Release group is looking for volunteers to keep it running. A new release cycle means that BTR members can opt in or opt out of their current role(s).

- [x] [Chair](https://github.com/openedx/build-test-release-wg#group-chair)
- [x] [Release Manager](https://github.com/openedx/build-test-release-wg#release-manager)
- [x] [Release Testing Coordinator

[2022-02-05 12:46] #127 closed

[2022-02-05 13:06] BbrSofiane opened #137 "MySQL 8 Support"
[Data Working Group: 2022-01-27 Meeting & MySQL Upgrade Path Proposal](https://discuss.openedx.org/t/data-working-group-2022-01-27-meeting-mysql-upgrade-path-proposal/6527)

openedx/platform-roadmap#119 - It looks like MySQL 8 will be supported for Nutmeg.

[2022-02-07 09:43] cmltaWt0 commented on #136
@BbrSofiane could you add some roles description. I'm not sure we have all roles explained.

[2022-02-07 14:36] kdmccormick opened #138 "Will devstack be included in Nutmeg?"
## Context

[Tutor](https://github.com/overhangio/tutor) is both a deployment tool and a development environment. Although Tutor has been the only community-support deployment method since Maple, [Devstack](https://github.com/openedx/devstack) remains the community-supported development environment.

There is an [ongoing "Tutor adoption initiative"](https://openedx.atlassian.net/wiki/spaces/COMM/p

[2022-02-07 14:39] kdmccormick commented on #138
My own opinion on this: I am on the fence... it would be really great to stop directing community energy at Devstack as soon as possible, but I also think our readiness will depend on how fast we can move in the adoption initiative. I would lean heavily on @regisb 's opinion here.

[2022-02-08 09:32] regisb commented on #138
I'm confident that we can get the new plugin API to a production-ready state by Nutmeg. But from my perspective, the crux of the matter is whether the current Devstack maintainers are ready to keep maintaining the Devstack for the community after Nutmeg. Which raises the question: who are the maintainers of the Devstack? Is it 2U, tCRIL or someone else?
I don't want to impose Tutor on anyone's wor

[2022-02-08 13:54] kdmccormick commented on #138
@rgraber @dianakhuang - I know repo ownership has gotten interesting since the tCRIL/2U split, but I think edX Arch-BOM still maintains devstack, right? Do y'all have thoughts and/or could you bring this question to your team?

[2022-02-08 14:25] dianakhuang commented on #138
We can bring it to the team, and I think we're willing to support devstack until everyone feels comfortable using Tutor. I highly suspect the longest holdouts will be 2U/edX folks, so I don't think the release cycle will affect us as much.

[2022-02-14 16:04] BbrSofiane commented on #136
Available roles:
- Release Testing Coordinator

Roles where current members are willing to continue but also happy to step down if anyone else would like to volunteer:
- Chair
- Release Manager
- Release

Roles Taken
- Release Documentation Expert @pdpinch
- Bug Triager @jfavellar90 and @NeOneSoft

[2022-02-14 18:37] arbrandes commented on #131
From today's BTR meeting:

* Find out what new MFEs will make it to Nutmeg?
* In particular, find out about Discussions and Learning.

[2022-02-22 14:49] kdmccormick commented on #138
For clarity on the timeline: Nutmeg is cut in early April and released in early June, as far as I know.

After thinking this over more, I think it is fair to aim for Tutor being the *recommended* development environment by Nutmeg's release, but I would be hesitant to commit to it being the *only* supported development environment in Nutmeg, especially if 2U is willing to support devstack for one l

[2022-02-28 13:59] BbrSofiane commented on #136
https://discuss.openedx.org/t/nutmeg-btr-member-roles/6634/3

[2022-02-28 14:01] BbrSofiane commented on #130
Thanks for closing this out @yekaifeng!

[2022-02-28 14:01] #130 closed

[2022-02-28 14:02] #132 closed

[2022-02-28 14:03] #123 closed

[2022-02-28 14:05] BbrSofiane commented on #128
@ayrtonlr are you still working on this issue?

[2022-02-28 14:29] BbrSofiane opened #140 "Open sandbox to the community"
To help to test, It is suggested that the group facilitates the deployment of a public instance of release candidates to encourage non-technical community members.

[2022-02-28 14:53] jfavellar90 commented on #123
@BbrSofiane I answered the post in [discuss](https://discuss.openedx.org/t/timed-exams-breaking-in-lilac-with-edx-proctoring-version-update/6161/4?u=jhony_avella)

[2022-02-28 15:23] BbrSofiane opened #141 "Should the Discussion MFE be part of Nutmeg?"
What's required for the [Discussion MFE](https://github.com/openedx/frontend-app-discussions) to be part of the community release?

[2022-02-28 15:30] BbrSofiane opened #142 "Should the Authentication MFE be part of Nutmeg?"
https://github.com/openedx/frontend-app-authn/

[2022-02-28 15:52] BbrSofiane opened #143 "Ecommerce Replacement"
This issue is for the BTR group to have a reminder to track the progress of [the ecommerce replacement](https://github.com/openedx/platform-roadmap/issues/83) work.

Ben Holt @inventhouse (2U) and Feanil Patel @feanil (tCRIL) are the lead on this.

[2022-02-28 15:52] pdpinch commented on #141
I'll follow up with the frontend-working group on this, to find out what the plan is for this MFE. As far as I know right now, it will be part of the codebase in time for nutmeg, but I don't think it will be in general release yet on edx.org.

[2022-03-01 12:33] ayrtonlr commented on #128
@BbrSofiane Yes, I am waiting the review:

https://github.com/openedx/frontend-component-footer/pull/178

[2022-03-01 23:20] kdmccormick commented on #138
Closing this in favor of a DEPR ticket: https://github.com/openedx/devstack/issues/907

Long story short: Yes, Devstack will be in Nutmeg, unless anyone seriously disagrees with what's I've proposed on that DEPR ticket.

[2022-03-01 23:20] #138 closed

[2022-03-04 05:38] ziafazal commented on #100
@BbrSofiane how I can move this issue in `In progress` column?

[2022-03-14 14:30] jfavellar90 commented on #38
@cmltaWt0 @BbrSofiane what do you think about closing this one?

[2022-03-14 15:27] nedbat commented on #142
Things BTR would like to know:

- [ ] Is it enabled on edx.org today?
- [ ] Is it brandable?
- [ ] Is it localizable?
- [ ] Does it support path-based routing?
- [ ] Does it require migrating data for it to work on migrated sites?
- [ ] Does it have feature parity with old authentication? If not, what is missing?
- [ ] Does third-party authentication still work?

[2022-03-14 15:32] nedbat commented on #143
I don't think this will have any concrete effect on Nutmeg because of the long timelines involved.

[2022-03-14 15:55] nedbat opened #144 "Will Nutmeg include Mongo?"
https://discuss.openedx.org/t/adr-for-removing-mongodb-from-edx-platform/6001

Questions:
- [x] Will Mongo still be an option for Nutmeg installations? [Yes.](https://discuss.openedx.org/t/adr-for-removing-mongodb-from-edx-platform/6001/8?u=arbrandes)
- [ ] What is the migration path?

[2022-03-14 16:01] nedbat commented on #143
Deprecation announcement: https://discuss.openedx.org/t/deprecation-removal-ecommerce-service-depr-22/6839

Questions:
- [ ] What does April 1 deprecation mean?
- [ ] Does ecommerce-coordinator have a role in the Nutmeg timeframe?

[2022-03-14 19:35] arbrandes commented on #144
Dave pretty much [answered](https://discuss.openedx.org/t/adr-for-removing-mongodb-from-edx-platform/6001/8?u=arbrandes) the first question.  Yes, we will still have Mongo for Nutmeg.

As in, yes, we will still _have_ to use it.  It sounds like even if desired, one won't be able to do without it.

[2022-03-14 20:43] feanil commented on #143
Hopefully the response on the discussion makes it more clear, for the second question, I'm not sure but I think asking on that thread would be the correct next step.

[2022-03-15 10:33] shubhamgoyal42 commented on #114
Hi, I want to contribute to openedx. Can I work on this issue?

[2022-03-15 12:38] regisb commented on #114
Sure @shubhamgoyal42, that would be awesome!

[2022-03-15 13:35] ziafazal commented on #100
@regisb @BbrSofiane should we mark this issue as fixed since the PR which provides ability to send bulk course emails via edx-ace got merged?

[2022-03-17 06:37] shubhamgoyal42 commented on #114
@regisb, can you point me towards a setup guide?

[2022-03-22 22:25] jfavellar90 commented on #38
Since this is a bug related to an old OpenedX release (Juniper), we proceed to close the issue

[2022-03-22 22:25] #38 closed

[2022-03-22 22:29] jfavellar90 commented on #70
Closed since it was already completed

[2022-03-22 22:29] jfavellar90 commented on #70
Closed since it was already completed

[2022-03-22 22:29] #70 closed

[2022-03-22 22:51] jfavellar90 commented on #136
Marked as done since roles were already assigned

[2022-03-22 22:51] #136 closed

[2022-03-22 23:16] NeOneSoft commented on #128
Hi guys!! only as a friendly note, @arbrandes  is already reviewing the PR that @ayrtonlr created to solve this issue.

[2022-03-22 23:29] NeOneSoft commented on #114
Hey @shubhamgoyal42 , thanks for contributing to the community. Could you please specify how we can help you? Are you having problems with the [Tutor](https://docs.tutor.overhang.io/) setup?

[2022-03-23 16:33] jfavellar90 commented on #93
Hi @adzuci . I'm sure this is still an issue for your team (if you already proceeded with a solution, please let us know in a comment), even so, I add my opinion on this matter:

From my point of view, this is a limitation for the edX [specific use case](https://docs.cloudmanager.mongodb.com/core/backup-preparations/#backup-features-supported-at-present) (MongoDB community version + MongoDB cloud

[2022-03-23 16:33] #93 closed

[2022-03-24 09:47] arbrandes commented on #128
Fixed!  Thanks @ayrtonlr!

[2022-03-24 09:47] #128 closed

[2022-03-25 00:44] NeOneSoft commented on #8
Hi @ghassanmas!! , following the PR's related with this issue seems that almost all the tasks to get a better performance were done.Do we need something else to continue and close this issue?

[2022-03-25 20:36] jfavellar90 commented on #137
According to the most recent [update](https://github.com/openedx/platform-roadmap/issues/119#issuecomment-1068548572) regarding the update, MySQL 8.0 is still a goal for Nutmeg. It seems Nutmeg will be compatible with Mysql 5.7, so it's up to us to decide if we proceed with the update to 8.0.

[2022-03-28 07:38] regisb commented on #100
Hey @ziafazal thanks for your work. Does your PR mean that it is enough to set `BULK_EMAIL_SEND_USING_EDX_ACE = True` on a vanilla Open edX installation to get rid of the edX theming?

Concerning your PR: I realise that I should have commented there but it flew under my radar. I think that you should create a good default for the `BULK_EMAIL_SEND_USING_EDX_ACE` in lms/envs/common.py and document t

[2022-03-28 07:54] ziafazal commented on #100
@regisb yes setting `BULK_EMAIL_SEND_USING_EDX_ACE` to `True` would send emails via edx-ace and it will use default theming being used for all edx-ace based emails.

`BULK_EMAIL_SEND_USING_EDX_ACE` setting toggle is already in the docs
https://edx.readthedocs.io/projects/edx-platform-technical/en/latest/featuretoggles.html#featuretoggle-BULK_EMAIL_SEND_USING_EDX_ACE

Its default value is `False`.

[2022-03-28 08:57] regisb commented on #100
Awesome! Thanks for the quick answer. To close this, I opened the following PR that adds the setting to the default installation in Tutor: https://github.com/overhangio/tutor/pull/621

[2022-03-28 15:35] BbrSofiane commented on #142
[ ] Does it replace anything that will be deprecated? @kdmccormick

[2022-03-28 15:38] pdpinch opened #145 "Should the Course Authoring MFE be part of Nutmeg?"
Things BTR would like to know (group-created at the meeting):

- [ ] What team is responsible for this MFE, and how can we contact them
- [ ] How can we find out more about how it works and what it does?
- [ ] Is it enabled anywhere on edx.org today?
- [ ] Is this MFE enabled per-course?
- [ ] Is it brandable?
- [ ] Is it localizable?
- [ ] Does it support path-based routing?
- [ ] Does it require

[2022-03-28 18:55] BbrSofiane opened #146 "Cookie banner with hardcoded mention of edX"
The default cookie banner has a hardcoded mention of edX.

![image](https://user-images.githubusercontent.com/13796098/160465673-9a9fca77-2245-48a3-946f-5bf3f8ece162.png)

https://github.com/openedx/frontend-component-cookie-policy-banner/blob/a364669e259a2b8ab68d02004bf48197bb12344f/src/constants.js#L52

### Upstream issue

- [x] https://github.com/openedx/frontend-app-authn/issues/712

### Dupli

[2022-03-28 19:23] arbrandes commented on #143
Closing this.  From [the thread](https://discuss.openedx.org/t/deprecation-removal-ecommerce-service-depr-22/6839/2?u=arbrandes) it's pretty clear what the deprecation means:  "Very early directional announcement and is meant to communicate that the ecommerce service is going to be put into maintenance mode.  There will be more communication when it is ready to be removed."

From the [repo](https:

[2022-03-28 19:24] arbrandes commented on #143
Forgot the issue is more general than just commerce coordinator.  Reopening.

[2022-03-29 11:28] BbrSofiane opened #147 "Authentication MFE - Hardcoded mentions of edX"
- [ ] [Password reset UI](https://github.com/openedx/frontend-app-authn/blob/1c599d8d04e8b31062c0065d911fe92749349733/src/forgot-password/messages.js#L87)

![image](https://user-images.githubusercontent.com/13796098/160601608-1cff2d8a-ae0d-49e7-a1e4-361cd5683a2e.png)

[2022-03-31 13:13] regisb opened #148 "Social links in emails by edx-ace include hardcoded references to sailthru-hosted images"
The base edx-ace template includes social icons (linkedin, twitter, ...) that are hosted on [Sailthru](https://www.sailthru.com/), a marketing automation platform. This causes at least two obvious issues:

1. Loss of privacy for platform managers and end-users
2. edX.org tracks links included in emails sent by third-party Open edX platforms

The issue stems from this template: https://github.com/o

[2022-03-31 23:51] NeOneSoft commented on #11
Hi @clemente!!!, following this issue, I was wondering if you have any update or you were available to assign some tasks to new developers on your team. Thanks in advance!!

[2022-04-03 15:04] pdpinch commented on #133
Thinking about this step:

It seems like I should have done this when maple was first cut, so I could compare the diff from then until now.

I'm wondering now if there's a way to recreate the state of the technical documentation from that date.

[2022-04-03 15:22] clemente commented on #11
@NeOneSoft Hi, unfortunately there aren't any updates from me or OpenCraft regarding this task. I recently left OpenCraft, and the role to find easy tasks for junior developers [seems to not have been assigned yet](https://forum.opencraft.com/t/junior-developer-tasks-new-assignee-needed/1271).

This means that if anyone is interested, they can continue this task. As mentioned in previous comments,

[2022-04-06 05:05] DeanJayMathew commented on #140
I'm on this! Régis Behmo will sponsor the instance and I assume pass some access credentials to pre-approved testers.

[2022-04-08 14:21] Agrendalath commented on #133
@pdpinch, Read The Docs allows [setting multiple versions](https://readthedocs.org/projects/edx-platform-technical/versions/) that are built. We could even add public versions for tagged releases. This way, users will be able to switch between them with the panel in the bottom right corner of the [page](https://edx.readthedocs.io/projects/edx-platform-technical/en/latest/):
![image](https://user-i

[2022-04-11 14:43] kdmccormick commented on #142
Copying in my [discussion so far](https://openedx.slack.com/archives/C02R2PF91QA/p1649085317228539) with @waheedahmed :

[2022-04-11 14:48] kdmccormick commented on #142
So, with respect to our list of questions:

* How can we find out more about how it works and what it does?
  * TBD
* Is it enabled on edx.org today?
  * Yes, but not at 100%. Enterprise logins are still done through the old frontend.
* Is it brandable?
  * TBD
* Is it localizable?
  * TBD
* Does it support path-based routing?
  * TBD
* Are there any constraints on the domain where the authn MFE i

[2022-04-11 16:13] kdmccormick commented on #142
And two more questions from me:
* If included, how much of an impact on build times and resource consumption would this have on the Tutor MFE plugin?
* Bassed on this^, should we include Authn in the MFE plugin for Nutmeg, or wait?

[2022-04-11 16:37] regisb opened #149 "openedx-i18n needs to be upgraded to nutmeg"
The i18n strings from [openedx-i18n](https://github.com/openedx/openedx-i18n) need to be upgraded to Nutmeg in order to have up-to-date translation strings in the "openedx" Docker image.

Currently, we deploy the openedx Docker image in CD using outdated strings: https://github.com/overhangio/nutmeg-demo/blob/7a1be160a52d5ed82356c8d7bfba2beffe6649a4/.github/workflows/deploy.yml#L47

To mark this i

[2022-04-13 10:45] pdpinch commented on #145
The consensus at the last BTR meeting was no, this MFE is not ready to be included in the release.

[2022-04-13 10:45] #145 closed

[2022-04-13 10:47] pdpinch commented on #141
The discussion MFE has only been released to staff on edx.org, so it seems premature to make it a supported part of the nutmeg release.

We will include it in the release notes as an experimental feature, which operators can deploy if they choose and it can be enabled.

[2022-04-18 14:23] kdmccormick commented on #142
Our decision, copied in from Slack:

[2022-04-18 14:36] kdmccormick opened #150 "Include Authentication MFE in Nutmeg as "experimental""
## Context

See [this issue comment](https://github.com/openedx/build-test-release-wg/issues/142#issuecomment-1101448891).

In short: We want to tag the Authn MFE for Nutmeg, mentioning it in the release notes as an "experimental frontend",

## Acceptance Criteria

1. In [frontend-app-authn](https://github.com/openedx/frontend-app-authn)'s openedx.yaml, delete the `maybe: true` line, so that the r

[2022-04-18 14:36] kdmccormick opened #151 "Release Authentication MFE in Olive"
This issue will be filled in based on the results of this other issue: https://github.com/openedx/build-test-release-wg/issues/150

[2022-04-18 14:49] kdmccormick opened #152 "Discovery: How could we include new MFEs in releases without slowing down Tutor builds?"
## Context

The [tutor-mfe plugin](https://github.com/overhangio/tutor-mfe) is our method for including micro-frontends to the named releases. It currently builds four MFEs into its Docker image by default, leaving the end user the ability to build in extra MFEs. **Each additional MFE significantly increases the plugin's build time and image size.**

We need Open edX releases to work "out-of-the-b